<div class="nk-box text-center text-white bg-dark-1">
    <div class="bg-image bg-image-parallax op-5" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/horizontal/horizontal-wing.jpg');"></div>
    <div class="nk-gap-4"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-md-left">
                <h2 class="h1 nk-title">What Are You Waiting For?</h2>
                <h3 class="nk-sub-title mb-0 text-white op-7">Shooting products around the world is the easiest way to gain the kind of credibility that it takes to knock out your heavyweight opponents.
</h3>
            </div>
            <div class="col-md-4 text-md-right">
                <div class="nk-gap-2 hidden-md-up"></div>
                <a href="#!" class="">
                    <img class='img-fluid' src="https://s3-us-west-2.amazonaws.com/nomcre/assets/CTAbutton.png" style="max-width: 250px;">
                </a>
            </div>
        </div>
    </div>
    <div class="nk-gap-4"></div>
</div>

