<div class='container'>
<div class="nk-gap-5"></div>
<div class="row">

    <div class="col-md-4">
        <p class="text-left"><span class="nk-dropcap-2">N</span>est way to be a Creative free of an location. Challenge yourself creatively, technically and personally.</p>
    </div>
    <div class="col-md-4">
    <p class="text-left">
        <span class="nk-dropcap-2">O</span>n location, as in your location. You tell us where your headed, or want to head, we do the rest, but you still get to accept your jobs.</p>
    </div>
    <div class="col-md-4">
        <p class="text-left">
            <span class="nk-dropcap-2">M</span>odern way to be a creator, we find the clients, you keep shooting, keep traveling, keep creating
        </p>
    </div>

</div>
<div class="nk-gap-5"></div>
</div>
