<div class="container">
            <div class="nk-gap-4"></div>

            <div class="row vertical-gap">
                <div class="col-md-4 col-sm-6">
                    <div class="nk-ibox-1">
                        <div class="nk-ibox-icon nk-ibox-icon-circle">
                            <span class="fa fa-picture-o"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Custom Content</a></h3>
                            Your brand, the way you want in represented, now without boarders
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="nk-ibox-1">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                            <span class="fa fa-globe"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Global</a></h3>
                            Show the world you are a global brand, reach local markets, excite your customers
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="nk-ibox-1 nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-primary">
                            <span class="fa fa-clock-o"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Rapid</a></h3>
                           Turnaround faster than you can get a meeting with your agency.
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-gap-4"></div>
        </div>
