<div class="nk-block text-white">
            <div class="bg-image bg-image-parallax" style="background-image: url('<%= CollectionItem.all.take(4).last.file%>')"></div>
            <div class="nk-gap-4"></div>
            <div class="container">
                <h2 class="display-3 text-center">Title Here</h2>
                <div class="nk-gap-2"></div>

                <div class="row vertical-gap">
                    <div class="col-md-4 offset-md-0 col-sm-8 offset-sm-2">
                        <div class="nk-box-rounded-2">
                            <div class="bg-color"></div>
                            <div class="nk-ibox-3 nk-ibox-hover">
                                <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-white nk-ibox-icon-hover-bg-color-white">
                                    <span class="ion-navicon"></span>
                                </div>
                                <div class="nk-ibox-cont">
                                    <h3 class="nk-ibox-title">Super Navigations</h3>
                                    Pharetra lorem venenatis Proin quam ac dignissim, ut nonummy eros interdum. Faucibus felis nisi curabitur. Phasellus habitasse, phasellus sociosqu lectus.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offset-md-0 col-sm-8 offset-sm-2">
                        <div class="nk-box-rounded-2">
                            <div class="bg-color op-8"></div>
                            <div class="nk-ibox-3 nk-ibox-hover">
                                <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-white nk-ibox-icon-hover-bg-color-white">
                                    <span class="ion-ios-infinite"></span>
                                </div>
                                <div class="nk-ibox-cont">
                                    <h3 class="nk-ibox-title">Unlimited Possibilities</h3>
                                    Commodo scelerisque rutrum consectetuer ad ad molestie aenean iaculis ad senectus in. Vel felis tellus orci dolor elit turpis condimentum.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offset-md-0 col-sm-8 offset-sm-2">
                        <div class="nk-box-rounded-2">
                            <div class="bg-color op-4"></div>
                            <div class="nk-ibox-3 nk-ibox-hover">
                                <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-white nk-ibox-icon-hover-bg-color-white">
                                    <span class="ion-social-twitter"></span>
                                </div>
                                <div class="nk-ibox-cont">
                                    <h3 class="nk-ibox-title">Social Friendly</h3>
                                    Laoreet mauris eu augue auctor turpis mauris iaculis duis taciti ligula luctus parturient cras. Consectetuer fermentum purus curae; parturient fringilla.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-gap-4"></div>
        </div>
