<div class='container'>
<div class="nk-gap-4"></div>
<h2> NOMCRE Is The: </h2>
<div class="nk-gap-2"></div>
<div class="row">

    <div class="col-md-4">
        <p class="text-left"><span class="nk-dropcap-2">N</span>ewest way to be a Creative no matter where you are. Challenge yourself creatively, technically and personally.</p>
    </div>
    <div class="col-md-4">
    <p class="text-left">
        <span class="nk-dropcap-2">O</span>nly on location content creation platform. Tell us where you are, or want to be, we do the rest. You simply accept your jobs.</p>
    </div>
    <div class="col-md-4">
        <p class="text-left">
            <span class="nk-dropcap-2">M</span>ost modern way to be a creator. Using our platform, we find the clients, you organize the shoot, and keep traveling.
        </p>
    </div>

</div>
<div class="nk-gap-5"></div>
</div>
