<div class="nk-box bg-dark-1 text-white">
            <div class="bg-image-row row">
                <div class="col-lg-6">
                    <div class="bg-image bg-image-parallax" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/vertical/nomcre-vertical4.jpg');" oncontextmenu= "return false"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 offset-lg-7">
                        <div class="nk-gap-5"></div>
                        <h2 class="h1 nk-title">Got What It Takes?</h2>
                        <div class="nk-gap-2"></div>

                        <div class="nk-ibox-2">
                            <div class="nk-ibox-cont">
                                <p class="text-left">
                                <span class="nk-dropcap-4">C</span>
                                ommercial, Lifestyle, Product on location, Look Book, Editorial. We want you to join and learn the NomCre way.
                            </div>
                        </div>
                        <div class="nk-gap"></div>

                        <div class="nk-ibox-2">
                            <div class="nk-ibox-cont">
                            <p class="text-left">
                            <span class="nk-dropcap-4">R</span>
                            equired to be independent, reliable, talented and responsive. These should not be aspirations, these should be how you operate now.
                            </p>
                        </div>
                        </div>
                        <div class="nk-gap"></div>

                        <div class="nk-ibox-2">
                            <div class="nk-ibox-cont">
                            <p class="text-left">
                                <span class="nk-dropcap-4">E</span>
                               ven though your are good, be prepared to hustle up a shoot in a foreign place on your wits and talent, as the art director, photographer, whatever it takes.
                            </p>
                        </div>
                        </div>

                        <div class="nk-gap-5"></div>
                    </div>
                </div>
            </div>
        </div>
