 <div class="nk-header-title nk-header-title-xl nk-header-title-parallax nk-header-title-parallax-opacity">
            <div class="bg-image op-2">
                <div style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/Screen+Shot+2018-01-30+at+5.45.17+PM.png');"></div>
            </div>
            <div class="nk-header-table">
                <div class="nk-header-table-cell">
                    <div class="container">




                        <div class="nk-header-text">


         <h2 class="" style="font: raleway; font-weight: 500; margin-top:-24px;" >
                      Work<span class='raleway-thinnest' style=" padding-right: 6px; padding-left: 6px">Globally</span>
                      On <span class='raleway-thinnest' style="padding-right: 6px; padding-left: 6px">Your</span>Schedule
                      <br>
                      Pick <span class='raleway-thinnest' style="padding-right: 6px; padding-left: 6px">Your</span>Jobs
                    </h2>

                            <div class="nk-gap-2"></div>
                            <a class="nk-video-fullscreen-toggle" href="https://vimeo.com/262668621" onclick="sendHeaderView();">
                                <span class="nk-video-icon-2-light"><i class="fa fa-play pl-5" style='padding-top: 14px;'></i></span>
                            </a>

                        </div>


                    </div>
                </div>
            </div>

        </div>



<script type="text/javascript">
    function sendHeaderView(){
        if ("ga" in window) {
            tracker = ga.getAll()[0];
            if (tracker)
                tracker.send("event", "Videos", "play", 'Creative Header Play');
        }
    }
</script>


