<div class='pull-right'>
  <!-- The user already has a request show "already requested" -->
  <% if shoot.has_request_for_user(user.id)  %>
    <%= link_to "Requested", shoot_path(shoot), class: 'btn btn-success disabled' %>
  <% else %>
  <!-- If the user already does NOT have a request show "request" button -->
  <%= link_to "<i class='fa fa-plus'> </i> Request Creative".html_safe, new_shoot_creative_request_path(shoot, user), class: 'btn btn-primary' %>
  <% end %>
</div>
<br>

