<!-- START: Blog -->
<div class="nk-box">
    <div class="nk-gap-5"></div>
    <div class="nk-gap-1"></div>
    <div class="container">

        <div class="text-center">
            <h3 class="nk-title-back">Our Blog</h3>
            <h2 class="nk-title">Recent Posts</h2>
        </div>
        <div class="nk-gap-5"></div>

        <div class="nk-blog-list">



            <!-- START: Post -->
            <div class="nk-blog-post">

                <div class="row vertical-gap">
                    <div class="col-lg-5">

                        <a href="blog-single-image.html">
                            <img src="assets/images/post-1-mid.jpg" alt="" class="nk-img-stretch">
                        </a>

                    </div>
                    <div class="col-lg-7">
                        <div class="nk-post-meta nk-post-meta-top pb-0">
                            <div class="nk-post-date nk-post-meta-right">
                                September 18, 2017
                                <span class="nk-post-by">by <a href="#">nK</a></span>
                            </div>
                        </div>
                        <div class="nk-post-category">
                            In <a href="#">Lifestyle</a>
                        </div>
                        <h2 class="nk-post-title h3"><a href="blog-single-image.html">Image Blog Post</a></h2>

                        <div class="nk-post-text">
                            <p>Rhoncus felis phasellus eget elit ipsum litora, mus posuere porta semper fringilla tempor ultricies lacinia nec id torquent hac etiam tempus, porttitor. Suscipit nostra laoreet in pulvinar primis molestie mattis. Lobortis felis.</p>
                        </div>

                        <div class="nk-post-continue text-left">
                            <a href="blog-single-image.html">Continue Reading <span class="ion-ios-arrow-thin-right"></span></a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END: Post -->


            <!-- START: Post -->
            <div class="nk-blog-post">

                <div class="row vertical-gap">
                    <div class="col-lg-5">

                        <div class="nk-post-audio">
                            <a href="blog-single-audio.html">
                                <img src="assets/images/post-4-mid.jpg" alt="" class="nk-img-stretch">
                            </a>
                            <div>
                                <div class="nk-audio-plain nk-audio-plain-dark" data-src="assets/mp3/OctoSound-sport.mp3">
                                    <div class="nk-audio-plain-title">
                                        <strong>OctoSound</strong> - Sport
                                        <div class="nk-audio-progress">
                                            <div class="nk-audio-progress-current"></div>
                                        </div>
                                    </div>
                                    <div class="nk-audio-plain-duration">
                                        05:34
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-7">
                        <div class="nk-post-meta nk-post-meta-top pb-0">
                            <div class="nk-post-date nk-post-meta-right">
                                August 14, 2017
                                <span class="nk-post-by">by <a href="#">nK</a></span>
                            </div>
                        </div>
                        <div class="nk-post-category">
                            In <a href="#">Lifestyle</a>
                        </div>
                        <h2 class="nk-post-title h3"><a href="blog-single-audio.html">Audio Blog Post</a></h2>

                        <div class="nk-post-text">
                            <p>Etiam cursus. Leo nulla sapien dignissim magnis taciti rutrum tempus ut. Quam lacinia cras varius nullam non condimentum ut euismod integer. Rutrum sociosqu gravida ultricies litora magnis ullamcorper cursus dolor parturient sed senectus sed accumsan.</p>
                        </div>

                        <div class="nk-post-continue text-left">
                            <a href="blog-single-audio.html">Continue Reading <span class="ion-ios-arrow-thin-right"></span></a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END: Post -->


            <div class="text-center">
                <a href="blog-list.html" class="nk-btn nk-btn-effect-5-left nk-btn-circle nk-btn-color-dark-1">
                    Read All
                </a>
            </div>
        </div>
    </div>
    <div class="nk-gap-1"></div>
    <div class="nk-gap-5"></div>
</div>
<!-- END: Blog -->
