<!--
START: Side Buttons
    .nk-side-buttons-visible
-->
<div class="nk-side-buttons nk-side-buttons-visible">
    <ul>
<!--         <li>
            <a href="https://themeforest.net/item/khaki-multiconcept-bootstrap-4-html-template/16826910?ref=_nK" target="_blank">
                <span class="ion-bag"></span>
            </a>
        </li> -->
        <li>
            <span class="nk-scroll-top">
                <span class="ion-ios-arrow-up"></span>
            </span>
        </li>
    </ul>
</div>
<!-- END: Side Buttons -->

