<!-- START: New Era -->
<div class="nk-box text-center">
    <div class="nk-gap-5"></div>
    <div class="nk-gap-1"></div>
    <img src="assets/images/mock-imac-1.jpg" class="nk-img" alt="">
    <div class="nk-gap-4"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2 class="nk-title">The New Era of a Responsive Websites</h2>
                <h3 class="nk-sub-title">The first template, that work with side navigations as native applications.</h3>
                <div class="nk-gap-2"></div>
                <p>Subdue. Whales evening. Saw heaven seed Doesn't i third tree open created were our set signs multiply. Bearing their fifth behold herb. Forth god called which moving two, that spirit i to you're fly behold likeness set and gathering in.</p>
                <div class="nk-gap-2"></div>
                <a href="https://themeforest.net/item/khaki-multiconcept-bootstrap-4-html-template/16826910?ref=_nK" target="_blank" class="nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-circle nk-btn-color-dark-1">
                    <span class="icon"><i class="ion-bag"></i></span>
                    Purchase Now
                </a>
            </div>
        </div>
    </div>
    <div class="nk-gap-1"></div>
    <div class="nk-gap-5"></div>
</div>
<!-- END: New Era -->
