<!-- START: Counters -->
<div class="nk-box text-white text-center">
    <div class="bg-image bg-image-parallax" style="background-image: url('assets/images/image-5.jpg');"></div>
    <div class="row no-gutters">
        <div class="col-md-4">
            <div class="nk-counter">
                <div class="bg-color bg-dark-1 op-7"></div>
                <div class="nk-gap-3"></div>
                <div class="nk-count fs-45">86</div>
                <h3 class="nk-counter-title h4">Projects</h3>
                <div class="nk-gap-3"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="nk-counter">
                <div class="bg-color bg-dark-1 op-4"></div>
                <div class="nk-gap-3"></div>
                <div class="nk-count fs-45">1589</div>
                <h3 class="nk-counter-title h4">Happy Clients</h3>
                <div class="nk-gap-3"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="nk-counter">
                <div class="bg-color bg-main-1 op-5"></div>
                <div class="nk-gap-3"></div>
                <div class="nk-count fs-45">37</div>
                <h3 class="nk-counter-title h4">Awards Won</h3>
                <div class="nk-gap-3"></div>
            </div>
        </div>
    </div>
</div>
<!-- END: Counters -->
