<!-- START: Features -->
<div class="nk-box">
    <div class="nk-gap-5"></div>
    <div class="nk-gap-1"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <img src="assets/images/logo-3-light.svg" alt="Khaki HTML Template" width="90">
                <div class="nk-gap-3"></div>
                <div class="lead">This is our most powerful template, that provide functionality to create corporate, app showcase, gaming, music, barber, etc websites.</div>
            </div>
        </div>
        <div class="nk-gap-5"></div>
        <div class="row vertical-gap">
            <div class="col-md-4">
                <div class="nk-ibox-4">
                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                        <span class="ion-ios-time-outline"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title fs-22">Time Saver</h3>
                        Gathering you'll unto. Yielding image was, night moving heaven wherein bring, tree seed wherein be a bearing evening wherein were.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-ibox-4">
                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                        <span class="ion-ios-cog-outline"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title fs-22">Clean Code</h3>
                        Beast make years female. Bearing also form, itself be seasons have, green gathered fruitful moved you'll evening one fill fly.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-ibox-4">
                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                        <span class="ion-ios-chatboxes-outline"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title fs-22">24/7 Support</h3>
                        Gathering us fruitful gathering one. Image upon air which evening all yielding set. Over saw gathering there, fowl sixth to.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-gap-1"></div>
    <div class="nk-gap-5"></div>
</div>
<!-- END: Features -->
