<!-- START: Partners -->
<div class="nk-box bg-dark-3 text-center">
    <div class="nk-gap-1"></div>
    <div class="container">
        <div class="nk-carousel-2 nk-carousel-x5 nk-carousel-no-margin nk-carousel-all-visible" data-autoplay="5000">
            <div class="nk-carousel-inner">
                <div>
                    <div>
                        <a href="#">
                            <img src="assets/images/partner-logo-1-light.png" alt="" class="nk-img-fit">
                        </a>
                    </div>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="assets/images/partner-logo-2-light.png" alt="" class="nk-img-fit">
                        </a>
                    </div>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="assets/images/partner-logo-3-light.png" alt="" class="nk-img-fit">
                        </a>
                    </div>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="assets/images/partner-logo-4-light.png" alt="" class="nk-img-fit">
                        </a>
                    </div>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="assets/images/partner-logo-5-light.png" alt="" class="nk-img-fit">
                        </a>
                    </div>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="assets/images/partner-logo-1-light.png" alt="" class="nk-img-fit">
                        </a>
                    </div>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="assets/images/partner-logo-6-light.png" alt="" class="nk-img-fit">
                        </a>
                    </div>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="assets/images/partner-logo-7-light.png" alt="" class="nk-img-fit">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-gap-1"></div>
</div>
<!-- END: Partners -->

