<!-- START: Footer -->
    <!--
Additional Classes:
    .nk-footer-parallax
    .nk-footer-parallax-opacity
-->
<footer class="nk-footer nk-footer-parallax nk-footer-parallax-opacity">


    <div>
        <div class="nk-gap-5"></div>
        <div class="nk-footer-logo">
            <a href="#">
                <img src="assets/images/logo-3.svg" alt="" width="70">
            </a>
        </div>

        <div class="nk-gap-3"></div>

        <div class="nk-footer-social">
            <a href="#"><i class="ion-social-twitter"></i></a>
            <a href="#"><i class="ion-social-instagram-outline"></i></a>
            <a href="#"><i class="ion-social-dribbble-outline"></i></a>
            <a href="#"><i class="ion-social-pinterest"></i></a>
        </div>
        <div class="nk-gap-5"></div>
    </div>

    <div class="nk-copyright">
        <div class="container text-center">
            <a href="http://nkdev.info" target="_blank">nK</a> &copy; 2017. All rights reserved
        </div>
    </div>
</footer>
<!-- END: Footer -->
