
<!-- START: Testimonials -->
<div class="nk-box bg-gray-1">
    <div class="nk-gap-5"></div>
    <div class="nk-gap-1"></div>
    <div class="container">
        <div class="nk-carousel" data-autoplay="8000">
            <div class="nk-carousel-inner">
                <div>
                    <div>
                        <blockquote class="nk-testimonial-2">
                            <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-woman-2.jpg');"></div>
                            <div class="nk-testimonial-body">
                                <em>"Female good moving Very thing form earth, for above herb dominion for made fifth. One them. Seas. Appear fourth seas."</em>
                            </div>
                            <div class="nk-testimonial-name nk-carousel-item-name h4">Felicia Meyer</div>
                            <div class="nk-testimonial-source">Product Designer, Apple</div>
                        </blockquote>
                    </div>
                </div>
                <div>
                    <div>
                        <blockquote class="nk-testimonial-2">
                            <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-2.jpg');"></div>
                            <div class="nk-testimonial-body">
                                <em>"Bring. Isn't years gathered give made moved. Waters sea forth. It. Gathered own abundantly kind can't it, lesser behold, may."</em>
                            </div>
                            <div class="nk-testimonial-name nk-carousel-item-name h4">Gavin Hale</div>
                            <div class="nk-testimonial-source">Frontend Developer, Google</div>
                        </blockquote>
                    </div>
                </div>
                <div>
                    <div>
                        <blockquote class="nk-testimonial-2">
                            <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-1.jpg');"></div>
                            <div class="nk-testimonial-body">
                                <em>"Years heaven. Dominion light and every appear that creeping all. Light gathering don't given made give open, cattle was light."</em>
                            </div>
                            <div class="nk-testimonial-name nk-carousel-item-name h4">Antonio Vargas</div>
                            <div class="nk-testimonial-source">CEO, Envato</div>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="nk-carousel-prev">
                <div class="nk-carousel-arrow-name">
                    <!-- There Will be a Name of Testimonial Author -->
                </div>
                Previous
                <span class="nk-icon-arrow-left"></span>
            </div>
            <div class="nk-carousel-next">
                <div class="nk-carousel-arrow-name">
                    <!-- There Will be a Name of Testimonial Author -->
                </div>
                Next
                <span class="nk-icon-arrow-right"></span>
            </div>
        </div>
    </div>
    <div class="nk-gap-1"></div>
    <div class="nk-gap-5"></div>
</div>
<!-- END: Testimonials -->
