<div class="nk-header-title nk-header-title-sm nk-header-title-parallax nk-header-title-parallax-opacity">
  <div class="bg-image">
      <div style="background-image: url('assets/images/image-7.jpg');"></div>
  </div>
  <div class="nk-header-table">
      <div class="nk-header-table-cell">
          <div class="container">
              <h1 class="nk-title">Thank You!</h1>
          </div>
      </div>
  </div>
</div>
