<div class="nk-header-title nk-header-title-sm nk-header-title-parallax nk-header-title-parallax-opacity">
  <div class="bg-image">
      <div style="background-image: url(<%= HeaderImage.first.file.url %>);"></div>
  </div>
  <div class="nk-header-table">
      <div class="nk-header-table-cell">
          <div class="container">
              <h1 class="nk-title">Thank You!</h1>
              <%= link_to "<i class='fa fa-arrow-left'> </i> Back To Home".html_safe, root_path, class: 'btn nk-btn' %>
          </div>
      </div>
  </div>
</div>
