  <div class="nk-box text-center text-white bg-dark-1">
        <div class="bg-video bg-video-parallax op-3" data-video="https://vimeo.com/386842001"></div>
        <div class="nk-gap-5"></div>
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                    <h2 class="h1 nk-title h22">Background Parallax Videos</h2>
                    <h3 class="nk-sub-title">Just add Youtube / Vimeo video URL and magic will happen</h3>
                    <div class="nk-gap"></div>
                    <p>Shall wherein were. Dominion fruitful day. Spirit face above In earth image so. Creepeth them, gathered living first Form male <strong>divided</strong> green. Morning one lights waters earth. Bearing. Wherein fill fly <strong>Air</strong> after seasons tree us likeness set deep signs dry <em>forth</em> life god wherein face shall seas. Open god good <em>his</em> third under male man day he blessed creeping air called replenish seas to Gathered kind them. From. Give.</p>
                </div> -->
                <div class="nk-gap-5"></div>
            </div>
        </div>
        <div class="nk-gap-5"></div>
    </div>
