<style type="text/css">



</style>
<div class="container gallery-body">
  <% if  mobile_device == "mobile" %>
    <%= render 'khaki/nomcre/showcase/video/video_gallery_2' %>
  <% else %>
    <%= render 'khaki/nomcre/showcase/video/video_gallery_1' %>
  <% end %>
</div>
<script type="text/javascript">

</script>




