 <div class="navbar-minimize-fixed">
  <button class="minimize-sidebar btn btn-link btn-just-icon">
    <i class="tim-icons icon-align-center visible-on-sidebar-regular text-muted"></i>
    <i class="tim-icons visible-on-sidebar-mini text-muted"><ion-icon name='list'></ion-icon></i>
  </button>
</div>
<div class="sidebar">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="javascript:void(0)" class="simple-text logo-mini">
         <%= image_tag "https://s3-us-west-2.amazonaws.com/nomcre/logos/UpperLeftHPlogo+2.png", style: 'max-height:25px; max-width:25px; border-radius:100%' %>
      </a>
      <a href="javascript:void(0)" class="simple-text logo-normal">
        <b>NOM</b>ADIC <b>CRE</b>ATIVE
      </a>
    </div>
    <ul class="nav">
      <!-- User Type Menu -->
       <% if current_user.user_type == 'company' %>
        <%= render 'shared/black_dashboard/nav/company_menu' %>
      <% elsif current_user.user_type == 'creative' %>
        <%= render 'shared/black_dashboard/nav/creative_menu' %>
      <% end %>
      <!-- End User Type Menu -->
    </ul>
  </div>
</div>
