<div class='row'>
  <div class='col-md-2'>
    <%= message.user.email %>
  </div>
  <div class='col-md-10'>
    <%= message %>
    <br>
    <% if message.file? %>
      <%= image_tag message.file, class: 'img-responsive'%>
    <% else %>
    <p> no file </p>
    <%end %>
  </div>
</div>
