<p> Image Boards </p>
<div class='row'>
  <% if !project.image_board_1.blank? %>
    <div class='col-md-3'>
      <%= link_to "http://#{project.image_board_1}", target:"_blank", class: 'btn btn-icon  btn-primary'  do %>
        <i class='fas fa-globe'></i>
      <% end %>
    </div>
  <% end %>
  <% if !project.image_board_2.blank? %>
    <div class='col-md-3'>
      <%= link_to "http://#{project.image_board_2}", target:"_blank", class: 'btn btn-icon  btn-primary'  do %>
        <i class='fas fa-globe'></i>
      <% end %>
    </div>
  <% end %>
  <% if !project.image_board_3.blank? %>
    <div class='col-md-3'>
      <%= link_to "http://#{project.image_board_3}", target:"_blank", class: 'btn btn-icon  btn-primary'  do %>
        <i class='fas fa-globe'></i>
      <% end %>
    </div>
  <% end %>
  <% if !project.image_board_4.blank? %>
    <div class='col-md-3'>
      <%= link_to "http://#{project.image_board_4}", target:"_blank", class: 'btn btn-icon  btn-primary'  do %>
        <i class='fas fa-globe'></i>
      <% end %>
    </div>
  <% end %>
</div>


