<style type="text/css">
  .fa-instagram{
    padding-top: 12px;
  }
</style>
<p> Instagram Inspiration </p>
<div class='row'>
  <% if !project.insta_inspiration_1.blank? %>
    <div class='col-md-3'>
      <%= link_to "http://www.instagram.com/" + project.insta_inspiration_1.gsub!('@', ''), target:"_blank", class: 'btn btn-icon  btn-primary'  do %>
        <i class='fab fa-instagram'></i>
      <% end %>
    </div>
  <% end %>
  <% if !project.insta_inspiration_2.blank? %>
    <div class='col-md-3'>
      <%= link_to "http://www.instagram.com/" + project.insta_inspiration_2.gsub!('@', ''), target:"_blank", class: 'btn btn-icon  btn-primary'  do %>
        <i class='fab fa-instagram'></i>
      <% end %>
    </div>
  <% end %>
  <% if !project.insta_inspiration_3.blank? %>
    <div class='col-md-3'>
      <%= link_to "http://www.instagram.com/" + project.insta_inspiration_3.gsub!('@', ''), target:"_blank", class: 'btn btn-icon  btn-primary'  do %>
        <i class='fab fa-instagram'></i>
      <% end %>
    </div>
  <% end %>
  <% if !project.insta_inspiration_4.blank? %>
    <div class='col-md-3'>
      <%= link_to "http://www.instagram.com/" + project.insta_inspiration_4.gsub!('@', ''), target:"_blank", class: 'btn btn-icon  btn-primary'  do %>
        <i class='fab fa-instagram'></i>
      <% end %>
    </div>
  <% end %>
</div>

