<% parent = nil %>
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Locations</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th >Name</th>
        <th>Country</th>
        <th>Region</th>
        <th >Edit</th>
      </tr>
      <% @locations.each do |loc|%>
      <tr>
        <td><%= loc.name %></td>
        <td>
          <% if loc.parent_id %>
            <% parent = Location.find(loc.parent_id) %>
            <% if parent.location_type == "Country" %>
              <%= parent.name %>
              <% if parent.parent_id %>
                <% parent = Location.find(parent.parent_id)%>
              <%end%>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if parent %>
           <% if parent.location_type == "Region" %>
            <%= parent.name %>
           <% end %>
           <%end %>
        </td>
        <td>
          <%= link_to "Edit", edit_location_path(loc) %>
        </td>
      </tr>
      <% end %>
    </tbody></table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="#">«</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">»</a></li>
    </ul>
  </div>
</div>
