<%= render :partial => 'shoots/partials/black_dashboard/show', :locals => {shoot: @shoot} %>








<p id="notice"><% notice %></p>

<p>
  <strong>Creative:</strong>
  <% @shoot.creative_id %>
</p>

<p>
  <strong>Project:</strong>
  <% @shoot.project %>
</p>

<p>
  <strong>Company:</strong>
  <% @shoot.company %>
</p>

<p>
  <strong>Location:</strong>
  <% @shoot.location %>
</p>

<p>
  <strong>Content type:</strong>
  <% @shoot.content_type %>
</p>

<p>
  <strong>Brief:</strong>
  <% @shoot.brief %>
</p>

<p>
  <strong>Time of day:</strong>
  <% @shoot.time_of_day %>
</p>

<p>
  <strong>Bts:</strong>
  <% @shoot.bts %>
</p>

<p>
  <strong>Focus points:</strong>
  <% @shoot.focus_points %>
</p>

<p>
  <strong>Price:</strong>
  <% @shoot.price %>
</p>

<p>
  <strong>Background:</strong>
  <% @shoot.background %>
</p>

<p>
  <strong>Background note:</strong>
  <% @shoot.background_note %>
</p>

<p>
  <strong>Shoot style:</strong>
  <% @shoot.shoot_style %>
</p>

<p>
  <strong>Shoot raw:</strong>
  <% @shoot.shoot_raw %>
</p>

<p>
  <strong>User added shot count:</strong>
  <% @shoot.user_added_shot_count %>
</p>

<p>
  <strong>User added shot count max:</strong>
  <% @shoot.user_added_shot_count_max %>
</p>

<% link_to 'Edit', edit_shoot_path(@shoot) %> |
<% link_to 'Back', shoots_path %>
