 <div class="row justify-content-center">
  <div clas='col-md-12 center'>
    <h5 class="info-text">Do You Need To Rent A Set? </h5>
    <div class="form-check form-check-radio radio-icons">
      <label class="form-check-label " style="margin-right: 16px;">
        <%= form.radio_button :background, 'true', class: 'form-check-input center' %>
        <span class="form-check-sign"></span>
       <i class='fas fa-check text-success' style="font-size: 36px; margin-top: -12px;"> </i>
      </label>
      <label class="form-check-label ">
        <%= form.radio_button :background, 'false', class: 'form-check-input center', :checked => true%>
        <span class="form-check-sign"></span>
       <i class='fas fa-times text-primary' style="font-size: 36px; margin-top: -12px;"> </i>
      </label>
    </div>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <div class="col-md-12 center">
    <h5 class="info-text">What is the Address or the Name of the Landmark We Will Be shooting? </h5>
    <%= form.text_field :address_or_landmark, id: :shoot_address_or_landmark_id, class: 'form-control' %>
  </div>
   <div class="col-md-12 center">

    <h5 class="info-text"> Any Other Details the Creative Might Need? </h5>
    <%= form.text_area :other_details, id: :shoot_other_details_id, class: 'form-control', style:'min-height: 400px; rows: 5', class: 'form-control rounded' %>
  </div>
</div>

