<div class="wizard-navigation">
  <div class="progress-with-circle">
    <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 21%;"></div>
  </div>
  <ul>
    <li class="nav-item">
      <a class="nav-link active" href="#basic" data-toggle="tab">
        <i class="tim-icons"><ion-icon name="information-circle-outline"></ion-icon></i>
        <p>Basic Info</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#additional_details" data-toggle="tab">
        <i class="tim-icons"><ion-icon name="add"></ion-icon></i>
        <p>Additional Details</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#background" data-toggle="tab">
        <i class="tim-icons"><ion-icon name="aperture"></ion-icon></i>
        <p>Background</p>
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#style" data-toggle="tab">
        <i class="tim-icons"><ion-icon name="code-working"></ion-icon></i>
        <p>Style</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#background" data-toggle="tab">
        <i class="tim-icons"><ion-icon name="business"></ion-icon></i>
        <p>Background</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#inspiration" data-toggle="tab">
        <i class="tim-icons"><ion-icon name="logo-instagram"></ion-icon></i>
        <p>Inspiration</p>
      </a>
    </li> -->
  </ul>
</div>
