
<% accepted_active =  params[:active] == 'accepted' ? 'active' : ''  %>
<% pending_active =  params[:active] != 'accepted' ? 'active' : ''  %>

<div class="tab-pane <%= pending_active %>" id="pending">
  <% pending = @creative_requests.where(accepted: false) %>
  <% if pending.count == 0 %>
    <div class="alert alert-info alert-with-icon" style='width:100%'>
      <span data-notify="icon" class="tim-icons"><ion-icon name="alert"></ion-icon></span>
      <span data-notify="message">You Don't Have Any Pending Requests</span>
    </div>
  <% else %>
    <div class='row'>
      <% pending.each do |cr| %>
        <div class='col-md-6'>
          <%= render :partial => 'shoots/partials/black_dashboard/shoot_details_card', :locals => {shoot: cr.shoot, show_title: true, show_accept_buttons: true, show_content: true} %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="tab-pane <%= accepted_active %>" id="accepted">
  <div class='row'>
    <% accepted = @creative_requests.where(accepted: true) %>
    <% if accepted.count == 0 %>
      <div class="alert alert-info alert-with-icon" style='width:100%'>
        <span data-notify="icon" class="tim-icons"><ion-icon name="alert"></ion-icon></span>
        <span data-notify="message">You Don't Have Any Accepted Requests</span>
      </div>
    <% else %>
      <% accepted.each do |cr| %>
        <div class='col-md-6'>
          <%= render :partial => 'shoots/partials/black_dashboard/shoot_details_card', :locals => {shoot: cr.shoot, show_title: true, show_accept_buttons: true, show_content: true} %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
