<%= render :partial => 'proposals/partials/black_dashboard/shared/cards/proposal_details', :locals => {:proposal => proposal, :show_header => true, :show_next_step => true } %>
<div class='card'>
<%= render :partial =>  'proposals/partials/black_dashboard/shared/buttons/payment_buttons', :locals => {:proposal => proposal} %>
</div>
