<div class='row'>
  <div class='col-md-4'>
    <%= render :partial => 'proposals/partials/black_dashboard/show/left_panel', :locals => {:proposal => @proposal} %>
  </div>
  <div class='col-md-8'>
    <%= render :partial => 'proposals/partials/black_dashboard/show/right_panel', :locals => {:proposal => @proposal} %>
  </div>
</div>


























