<ul class="nav nav-pills nav-pills-primary nav-pills-icons flex-column">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#basic">
      <i class="tim-icons"><ion-icon name="checkbox-outline"></ion-icon></i>Basic Info
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#details">
      <i class="tim-icons"><ion-icon name="checkmark-circle-outline"></ion-icon></i> Shoot Details
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#style">
      <i class="tim-icons"><ion-icon name="done-all"></ion-icon></i> Shoot Style
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#background">
      <i class="tim-icons"><ion-icon name="done-all"></ion-icon></i> Background
    </a>
  </li>
</ul>
