<ul class="nav nav-pills nav-pills-primary nav-pills-icons flex-column">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#accepted">
      <i class="tim-icons"><i class='fas fa-check'></i></i> Accepted Requests
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#pending">
      <i class="tim-icons"><i class="fas fa-spinner"></i></i> Pending Requests
    </a>
  </li>
</ul>
