 <section id="about" class="about_section padding" >
  <div class="container" style="padding-top:25px;">
    <div class="about_content">
      <div class="col-sm-6 xs-padding img_box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1000ms">
        <div class="about_img">
          <img src="https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/vertical/nomcre-vertical2.jpg" alt="About">
          <h2 class="mb-20">Featured </h2>
          <p>Photographer | Cinematographer</p>
        </div>
      </div>
      <div class="col-sm-6 xs-padding text_box xs-text-center wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
        <h2>Creds</h2>
        <p>Maybe a bio, maybe a list of the completed proposals?</p>
        <a href="#" class="fs_btn">Book Me</a>
      </div>
    </div>
  </div>
</section><!-- /.about_section -->
