 <section id="about" class="about_section padding">
  <div class="container">
    <div class="about_content">
      <div class="col-sm-6 xs-padding img_box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1000ms">
        <div class="about_img">
          <img src="img/profile.jpg" alt="About">
          <h2 class="mb-20">Michel Brown Smith</h2>
          <p>Photographer | Cinematographer</p>
        </div>
      </div>
      <div class="col-sm-6 xs-padding text_box xs-text-center wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
        <h2>Some Words About Me</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <a href="#" class="fs_btn">Contact Me</a>
      </div>
    </div>
  </div>
</section><!-- /.about_section -->
