<section id="blog" class="blog_section padding">
      <div class="container">
        <div class="section_heading align-center mb-40">
          <h2>Recent Blog news</h2>
          <p>Our services will provide marketing expertise to your business.</p>
        </div><!-- /.section_heading -->
        <ul class="blog_posts">
          <li class="col-md-4 col-xs-6 sm-padding wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1000ms">
            <div class="blog_content">
              <img src="https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/Website+Homepage+Images/NomcreHome23.jpg" alt="Blog Post">
              <h4><a href="#">I have a personal blog. Can you take a look at it and give me some tips?</a></h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries.</p>
              <a href="#" class="read_more">Read More</a>
            </div>
          </li>
          <li class="col-md-4 col-xs-6 sm-padding wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1000ms">
            <div class="blog_content">
              <img src="https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/Website+Homepage+Images/NomcreHome24.jpg" alt="Blog Post">
              <h4><a href="#">I have a personal blog. Can you take a look at it and give me some tips?</a></h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries.</p>
              <a href="#" class="read_more">Read More</a>
            </div>
          </li>
          <li class="col-md-4 col-xs-6 sm-padding wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
            <div class="blog_content">
                    <img src="https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/Website+Homepage+Images/NomcreHome25.jpg" alt="Blog Post">
              <h4><a href="#">I have a personal blog. Can you take a look at it and give me some tips?</a></h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries.</p>
              <a href="#" class="read_more">Read More</a>
            </div>
          </li>
        </ul><!-- /.blog_posts -->
      </div>
    </section><!-- /.blog_Section -->
