<section id="contact" class="contact_section padding">
    <div class="container">
        <div class="col-sm-6 xs-padding">
            <div class="contact_info">
                <i class="fa fa-phone"></i>
                <h3>Have Any Doubts?</h3>
                <h2 class="wow bounceIn" data-wow-delay="0ms" data-wow-duration="1000ms">Call Me Now</h2>
                <p>This Number is Toll Free <br>443 221 2234</p>
            </div>
        </div>
        <div class="col-sm-6 xs-padding">
          <div class="contact_wrap">
           <div class="section_heading">
             <h2>Contact With Us</h2>
             <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
         </div>
         <form action="contact.php" method="post" id="ajax_form" class="form-horizontal contact_form">
            <div class="form-group">
                <div class="col-sm-6">
                    <input type="text" id="name" name="name" class="form-control" placeholder="Name" required>
                </div>
                <div class="col-sm-6">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <textarea id="message" name="message" cols="30" rows="5" class="form-control msg" placeholder="Message" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 align-left">
                    <button id="submit" class="fs_btn" type="submit">Send Message</button>
                </div>
            </div>
            <div id="form-messages" class="alert" role="alert"></div>
        </form>
    </div>
</div>
</div>
</section><!-- /.contact_section -->

