<section class="counter_section padding" style='background-image: url("https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/horizontal/nomcre-horizontal7.jpg")'>
  <div class="container">
    <div class="col-md-3 col-xs-6 sm-padding">
      <div class="counter_box">
        <h3><span class="counter">6</span></h3>
        <h4 class="no-margin">Continents</h4>
      </div>
    </div><!-- counter 1 -->
    <div class="col-md-3 col-xs-6 sm-padding">
      <div class="counter_box">
        <h3><span class="counter">267</span></h3>
        <h4 class="no-margin">Thousand KM Covered</h4>
      </div>
    </div><!-- counter 2 -->
    <div class="col-md-3 col-xs-6 sm-padding">
      <div class="counter_box">
        <h3><span class="counter">7</span></h3>
        <h4 class="no-margin">Broken Tripods</h4>
      </div>
    </div><!-- counter 3 -->
    <div class="col-md-3 col-xs-6 sm-padding">
      <div class="counter_box">
        <h3><span class="counter">43</span></h3>
        <h4 class="no-margin">Countries</h4>
      </div>
    </div><!-- counter 4 -->
  </div>
</section><!-- counter_section -->
