<section class="footer_widget_section padding ">
  <div class="container">
    <div class="align-center">
        <h2 class="text-white">Nomdic Creative Solutions</h2>
        <p class="mb-20 xs-br-none">Lorem Ipsum is simply dummy text of the printing and typesetting <br> industry. It has survived not only five centuries but also the leap into <br> electronic photography business typesetting.</p>
        <ul class="footer_socials">
            <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
</div>
</section><!-- /.footer_widget_section -->
