<div id="home" class="slider-section camera-full">
  <div id="main-slider" class="camera_wrap camera-full camera_emboss pattern_1">
    <div data-src="https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/horizontal/nomcre-horizontal10.jpg"></div>
    <div data-src="https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/horizontal/nomcre-horizontal12.jpg"></div>
    <div data-src="https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/horizontal/nomcre-horizontal13.jpg"></div>
  </div>
</div><!-- slider-section -->
