<section id="pricing" class="pricing_section padding">
  <div class="container">
    <div class="section_heading align-center mb-40">
      <h2>Creative Content Packages</h2>
      <p>You give us the breif, we deliver the gold. </p>
    </div><!-- /.section_heading -->
    <ul class="pricing_list">
      <li class="col-md-4 col-xs-6 sm-padding wow flipInY" data-wow-delay="0ms" data-wow-duration="1000ms">
        <div class="pricing_info align-center">
          <img src="https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/square/nomcre-square10.png" alt="pricing Thumb">
          <h3>Photography | $3,999 </h3>
          <p>Photographs on Location</p>
          <ul class="pricing_item mb-20">
            <li>One Photographer</li>
            <li>One Model</li>
            <li>One HMU</li>
            <li>One PA</li>
            <li>BTS</li>
          </ul>
          <a href="#" class="fs_btn">Purchase</a>
        </div>
      </li>
      <li class="col-md-4 col-xs-6 sm-padding wow flipInY" data-wow-delay="200ms" data-wow-duration="1000ms">
        <div class="pricing_info align-center">
          <img src="https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/square/nomcre-square2.jpg" alt="pricing Thumb">
          <h3>Videography | $7,999 </h3>
          <p>Videography on Location</p>
          <ul class="pricing_item mb-20">
            <li>One Videographer</li>
            <li>One Model</li>
            <li>One HMU</li>
            <li>One PA</li>
            <li>BTS</li>
          </ul>
          <a href="#" class="fs_btn">Purchase</a>
        </div>
      </li>
      <li class="col-md-4 col-xs-6 sm-padding wow flipInY" data-wow-delay="400ms" data-wow-duration="1000ms">
        <div class="pricing_info align-center">
          <img src="https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/square/nomcre-square5.jpg" alt="pricing Thumb">
          <h3>Drone | $999 </h3>
          <p>Drone on Location</p>
          <ul class="pricing_item mb-20">
            <li>One Pilot</li>
            <li>BTS</li>
          </ul>
          <a href="#" class="fs_btn">Purchase</a>
        </div>
      </li>
    </ul>
  </div>
</section><!-- /.pricing_section -->
