<section id="service" class="service_section bg-dark padding">
      <div class="container">
        <div class="service_items">
          <div class="col-sm-4 col-xs-6 xs-padding">
            <div class="service_item wow bounceIn" data-wow-delay="0ms" data-wow-duration="1000ms">
              <i class="fa fa-calendar"></i>
              <h3 class="text-white">Blazing Fast</h3>
              <p>Connecting brands and creative talent across the world, in real time.</p>
            </div>
          </div>
          <div class="col-sm-4 col-xs-6 xs-padding">
            <div class="service_item wow bounceIn" data-wow-delay="200ms" data-wow-duration="1000ms">
              <i class="fa fa-globe"></i>
              <h3 class="text-white">Global</h3>
              <p>Creative content, delivered to you, from around the planet.</p>
            </div>
          </div>
          <div class="col-sm-4 col-xs-6 xs-padding">
            <div class="service_item wow bounceIn" data-wow-delay="400ms" data-wow-duration="1000ms">
              <i class="fa fa-hand-paper-o"></i>
              <h3 class="text-white">Hand Selected Network</h3>
              <p>Hand selected creative talent to connect you with only the top creatives in the world.</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /.service_section -->
