
<div class="nk-box">
    <div class="container text-center">
      <div class="nk-gap-5"></div>

 <blockquote class="nk-testimonial-2 ">
    <div class="nk-testimonial-photo" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/logos/FullLogo.png');"></div>
    <div class="nk-testimonial-body">
        <em>We really appreciate your help</em>
    </div>
    <div class="nk-testimonial-name h2">Thank You For Helping Us Out!</div>
    <div class="nk-testimonial-source">Nomadic Creative</div>
</blockquote>
</div>
</div>

