<div class="nk-header-title nk-header-title-md nk-header-title-parallax nk-header-title-parallax-opacity">
  <div class="bg-image op-5">
    <div style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/HompageHeader/ShowcaseHeader.jpg');"></div>
  </div>
  <div class="nk-header-table">
    <div class="nk-header-table-cell">
      <div class="container">
        <h1 class="">For Your Viewing Pleasure</h1>
      </div>
    </div>
  </div>
  <div class="nk-header-text-bottom">
    Optional Bottom Text
  </div>
</div>
