<div class="nk-header-title nk-header-title-sm nk-header-title-parallax nk-header-title-parallax-opacity">
  <div class="bg-image op-5">
    <div style="background-image: url('<%= @header_image.file %>');"></div>
  </div>
  <div class="nk-header-table">
    <div class="nk-header-table-cell">
      <div class="container">
        <h1><span class='h1 bebas'>NOMCRE SHOWCASE</h1>
      </div>
    </div>
  </div>
  <div class="nk-header-text-bottom">

  </div>
</div>
