<div class="nk-isotope nk-isotope-3-cols nk-popup-gallery bg-dark-1">
<!--   <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/4Z0A1702.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/4Z0A1702.jpg" oncontextmenu= "return false" alt="">
      </a>
    </div>
  </div> -->
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DJI_0167.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DJI_0167.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DJI_0188.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DJI_0188.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC00150.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1920x2560">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC00150.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC00497.JPG" oncontextmenu="return false"  class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC00497.JPG"alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC00673.jpeg" oncontextmenu="return false"  class="nk-gallery-item nk-no-effect" data-size="1920x2880">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC00673.jpeg"alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC00707.jpg" oncontextmenu="return false"  class="nk-gallery-item nk-no-effect" data-size="1500x2250">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC00707.jpg"alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC03836.jpg" oncontextmenu="return false"  class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC03836.jpg"alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC03613.jpg" oncontextmenu="return false"  class="nk-gallery-item nk-no-effect" data-size="1500x2250">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC03613.jpg"alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC04310.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC04310.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC04646.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC04646.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC04731.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1500x2250">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC04731.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC04781.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1500x2250">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC04781.jpg" alt="">
      </a>
    </div>
  </div>
    <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC05414.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC05414.jpg" alt="">
      </a>
    </div>
  </div>
    <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC06960.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC06960.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC07629+(1).jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC07629+(1).jpg" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC07659.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC07659.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC07681+(1)+copy.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/DSC07681+(1)+copy.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/G0010089.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/G0010089.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/GreyTable.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/GreyTable.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/HamaJoySnow1.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1500x2250">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/HamaJoySnow1.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/IMG_0889.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1500x2250">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/IMG_0889.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/IMG_1081.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/IMG_1081.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/IMG_1877.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1500x2250">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/IMG_1877.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/IMG_2613.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1500x2250">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/IMG_2613.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/IMG_3304.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1500x2250">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/IMG_3304.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/IMG_3616.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/IMG_3616.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/IMG_5298.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/IMG_5298.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/IMG_7444.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/IMG_7444.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/Screen+Shot+2017-09-23+at+8.30.39+PM.png" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/Screen+Shot+2017-09-23+at+8.30.39+PM.png" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/Screen+Shot+2017-09-23+at+8.31.10+PM.png" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1500x2250">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/Screen+Shot+2017-09-23+at+8.31.10+PM.png" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/Screen+Shot+2017-09-23+at+8.36.48+PM.png" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1500x2250">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/Screen+Shot+2017-09-23+at+8.36.48+PM.png" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/Screen+Shot+2017-09-23+at+8.37.03+PM.png" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1500x2250">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/Screen+Shot+2017-09-23+at+8.37.03+PM.png" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/Screen+Shot+2018-01-30+at+5.44.41+PM.png" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1500x2250">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/Screen+Shot+2018-01-30+at+5.44.41+PM.png" alt="">
      </a>
    </div>
  </div>




  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/Screen+Shot+2018-01-30+at+5.44.59+PM.png" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1500x2250">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/Screen+Shot+2018-01-30+at+5.44.59+PM.png" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/Screen+Shot+2018-01-30+at+5.45.17+PM.png" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/Screen+Shot+2018-01-30+at+5.45.17+PM.png" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/Screen+Shot+2018-01-30+at+5.47.38+PM.png" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1500x2250">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/Screen+Shot+2018-01-30+at+5.47.38+PM.png" alt="">
      </a>
    </div>
  </div>
  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/TBAR.jpg" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/PhotoShowcase/TBAR.jpg" alt="">
      </a>
    </div>
  </div>

  <div class="nk-isotope-item">
    <div class="nk-image-box-1">
      <a href="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/Screen+Shot+2017-09-25+at+10.56.06+PM.png" oncontextmenu= "return false" class="nk-gallery-item nk-no-effect" data-size="1920x1280">
        <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/Screen+Shot+2017-09-25+at+10.56.06+PM.png" alt="">
      </a>
    </div>
  </div>

</div>
<% content_for :js do %>
<script type="text/javascript">
  $('.gallery').bind('contextmenu', function(e) {
    return false;
});</script>
<% end %>
