<div class="content">
  <div class='row'>
    <div class='col-md-4 col-sm-12'>
      <%= render 'user_profiles/partials/black_dashboard/profile_header'  %>
    </div>
    <div class='col-md-8 col-sm-12'>
      <%= render 'user_profiles/partials/black_dashboard/profile_tabs_panel'  %>
    </div>
  </div>
</div>

