
<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
    <% if UserProfile.find(params[:id]).user.user_type == 'creative' %>
    <li><a href="#timeline" data-toggle="tab">Travel Plans</a></li>
    <% end %>
    <% if current_user.user_profile == @user_profile %>
    <li><a href="#settings" data-toggle="tab">Edit Profile</a></li>
    <% end %>
  </ul>
  <div class="tab-content">
    <%= render 'user_profiles/partials/activity/activity_pane' %>
    <!-- /.tab-pane -->

    <%= render 'user_profiles/partials/timeline/timeline_pane' %>
    <!-- /.tab-pane -->
    <% if current_user.user_profile == @user_profile %>
      <%= render 'user_profiles/partials/settings/settings_pane'%>
    <% end %>
    <!-- /.tab-pane -->
  </div>
  <!-- /.tab-content -->
</div>

