<div class="nk-box text-center">

  <div class="nk-gap-1"></div>
  <!-- <img src="assets/images/mock-imac-1.jpg" class="nk-img" alt=""> -->
  <div class="nk-gap-4"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="nk-title">Get Started Now!</h2>
        <h3 class="nk-sub-title"><b>Click the button below to start a conversation about your <%= @package_type.title %> shoot today! </b></h3>
        <div class="nk-gap-2"></div>
        <p><%= @package_type.call_to_action_text %></p>
        <div class="nk-gap-2"></div>
        <a href="#" onclick='drift.api.startInteraction({ interactionId: 31024 });' class="nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-circle nk-btn-color-main-1">
          <span class="icon"><i class="ion-ios-chatboxes"></i></span>
          Start The Conversation!
        </a>
      </div>
    </div>
  </div>
  <div class="nk-gap-1"></div>

</div>
