<!--
<div class="nk-header-title nk-header-title-sm nk-main">
  <div class="bg-image">
    <div style="background-image: url('<% @package_type.header_image.file.url %>');"></div>
  </div>
  <div class="nk-header-table">
    <div class="nk-header-table-cell">
      <div class="container">
        <h1 class="nk-title"><% @package_type.subtitle %></h1>
      </div>
    </div>
  </div>
</div>

 -->

<div class="nk-box">
            <div class="container text-center">
                <div class="nk-gap-5"></div>
                <div class="nk-gap-5"></div>

                <h1 class="nk-title"><%= @package_type.subtitle %></h1>



                <div class="nk-gap-4"></div>
            </div>
        </div>
