<div class="active tab-pane" id="activity">
  <!-- Post -->
  <%= render 'user_profiles/partials/activity/basic_post' %>
  <!-- /.post -->

  <!-- Post -->
  <%= render 'user_profiles/partials/activity/message_post' %>
  <!-- /.post -->

  <!-- Post -->
  <%= render 'user_profiles/partials/activity/image_set_post' %>
  <!-- /.post -->
</div>
