<div class='card'>
  <div class='card-header'>
    <div class='card-category'></div>
    <div class='card-title'>
      Edit <%= @project.title %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <%= render :partial =>  'admin/black_dashboard/project/form', :locals => {project: @project}%>
    </div>
    <div class='col-md-6'>
      <%= render :partial => 'admin/black_dashboard/shoot/accordian', :locals => {project: @project } %>
    </div>
  </div>
</div>
