<blockquote class="nk-testimonial-3 bg-gray-4">
  <div class='nk-gap-3'></div>
    <!-- <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-1.jpg');"></div> -->
     <div class="nk-testimonial-name h1 "> Video Strategies Drive <span class='text-main-1'>66%</span> <span class='h3'>more qualified leads per year. </span></div>
     <div class="lead">"What is the cost of missing out on 66% more leads?"</div>
     <div class='nk-gap-3'></div>
</blockquote>


