<blockquote class="nk-testimonial-2 bg-dark-1 text-white" style='margin-top: 0px; border-radius: 0px'>

    <div class="nk-testimonial-name h1 "><span class='text-main-1'>79%</span> <span class='h2'>  of consumers prefer watching video to reading about a product.</span></div>
    <div class="nk-testimonial-body">
        <div class="lead">- Wyzowl</div>
    </div>
</blockquote>
