<div class="nk-box bg-dark-1 text-white">
  <div class="bg-image-row row">
    <div class="col-lg-7">
        <div class="bg-image bg-image-parallax" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/stacked-images/VideoStack.png');">
      </div>
    </div>
  </div>
  <div class="" style="margin-left:24px;margin-right: 24px;">
    <div class="row">
      <div class="col-lg-5 offset-lg-7">
        <div class="nk-gap-5"></div>
        <h2 class="h1 nk-title">How Can You Use Video?</h2>
        <div class="nk-gap-1"></div>

        <p class='text-left lead'>Video is the fastest method of attracting quality leads and convincing prospects to purchase.
          <br><br>Make every prospect feel like your speaking directly to them 1-on-1. Connecting with new prospects as fast as your business can.

        </p>
        <div class="nk-gap-2"></div>
        <div class='center' style="margin-left:24px;margin-right: 24px;">
          <ul>
            <li><em class='lead' style='font-style: normal; font-size:1.35em'>Personalized Videos For Leads &amp; Prospects</em></li>
            <li><em class='lead' style='font-style: normal; font-size:1.35em'>
              Explanation Videos for Upselling Customers</em></li>
            <li><em class='lead' style='font-style: normal; font-size:1.35em'>
              Meeting Follow Up Videos </em> </li>
            <li><em class='lead' style='font-style: normal; font-size:1.35em'>
              Micro Demos </em></li>
          </ul>
        </div>
        <div class="nk-gap-5"></div>
      </div>
    </div>
  </div>
</div>
