<div class="nk-box bg-dark-1 text-white">
  <div class="bg-image-row row">
    <div class="col-lg-6 ">
        <div class="bg-image bg-image-parallax" style="background-image: url('https://nomcre-rails.s3-us-west-2.amazonaws.com/public-page-images/stacked-images/Stack-Bundle.png');">
      </div>
    </div>
  </div>
  <div class="" style="margin-left:24px;margin-right: 24px;">
    <div class="row">
      <div class="col-lg-5 offset-lg-7">
        <div class="nk-gap-4"></div>
        <h2 class="h1 nk-title bebas">FOR YOUR <span class='text-main-1'>Sales</span> TEAM</h2>
        <div class="nk-gap-2"></div>

        <p class='text-left'>
          We get it. Concepting, producing and distributing content to the right channels at the right time isn’t the sales team’s job. Still, to hit your KPIs, you’ll need a library of fresh, compelling content at the bare minimum. Here’s why:

        </p>
        <p class='text-left'>
          The <span class='text-main-1'> #1 </span> challenge buyers face when purchasing was building a case for change. - Hubspot 2019
          <br>
          Product videos can increase purchases by <span class="text-main-1"> 144% </span> - Neil Patel
          <br>
          Mobile video consumption rises by <span class="text-main-1">100%</span> every year - Insivia
        </p>
        <p class="text-left">Your sales team should be using assets like these right now:</p>
        <div class='center' style="margin-left:24px;margin-right: 24px;">
          <ul>
            <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Personalized Videos For Leads &amp; Prospects</em></li>
            <li><em class='bebas' style='font-style: normal; font-size:1.35em'>
              Explanation Videos for Upselling Customers</em></li>
            <li><em class='bebas' style='font-style: normal; font-size:1.35em'>
              Meeting Follow Up Videos </em> </li>
            <li><em class='bebas' style='font-style: normal; font-size:1.35em'>
              Micro Demos </em></li>
              <li><em class='bebas' style='font-style: normal; font-size:1.35em'>
              Event Announcements </em></li>
          </ul>
        </div>
        <div class="nk-gap-5"></div>
      </div>
    </div>
  </div>
</div>
