<div class="">
 <div class="nk-box ">
    <div class="bg-image-row row">
        <div class="offset-lg-5 col-lg-8">
          <div class="bg-image bg-image-parallax" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/stacked-images/VideoStack.png');"></div>
        </div>
    </div>
    <div class="" style="margin-left:24px; margin-right: 24px;">
      <div class="nk-gap-5"></div>
        <div class="row">
            <div class="col-md-5 ">

              <h2 class="h1 nk-title bebas">
                   <img style="max-height:25px; max-width:25px; border-radius:100%" src="https://s3-us-west-2.amazonaws.com/nomcre/logos/UpperLeftHPlogo+2.png" alt="Upperlefthplogo+2">
                   WHY VIDEO FOR<span class="text-main-1"> SALES</span>?

              </h2>
               <p class='text-left'>
                  Getting your prospects to embrace a new idea and take action requires an investment on your part. Personalized video is an invaluable tool to that end. Lastly, if you aren’t reaching out to prospects and current customers via mobile, you’re missing out big time!
               </p>
              <p class='text-left'>
                New conversations are key to hitting your sales goals. Share new valuable information with your audience, build rapport and deploy top-tier assets to your sales team with premium, on-demand, custom content from NOMCRE.
              </p>
              <div class="nk-gap-2"></div>
              <div class='center' style="margin-left:24px;margin-right: 24px;">
                <ul>
                  <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Improve Retention Rates</em></li>
                  <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Speak Directly To Clients &amp; Prospects Faster</em></li>
                  <li><em class='bebas' style='font-style: normal; font-size:1.35em'>
                    Re-engage Prospects Who Went Dark </em></li>
                  <li><em class='bebas' style='font-style: normal; font-size:1.35em'>
                    Highlight Teams Across All Your Channels </em> </li>
                  <li><em class='bebas' style='font-style: normal; font-size:1.35em'>
                    Anticipate &amp; Respond To Client Osbstacles </em></li>
                </ul>
              </div>
            </div>
        </div>
        <div class="nk-gap-5"></div>
    </div>
</div>
</div>


