<div class="nk-box" style='background-color: white'>
    <div class="bg-image-row row">
        <div class="col-lg-6 push-lg-6" style="transform: translate3d(0px, 0px, 0px);">
            <div class="bg-image bg-parallaxed" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/vertical/nomcre-vertical1.jpg'); transform: translate3d(0px, 0px, 0px);"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="nk-gap-5"></div>
                <h2 class="h1 nk-title">Side Images</h2>
                <div class="nk-gap"></div>
                <p>Darkness divided first subdue which lesser third called. Morning blessed evening had make forth which. You beast his spirit male one and bring greater
                    <strong>appear</strong> give fifth give i. Give have signs thing brought thing fruitful all hath midst years is green.</p>

                <div class="nk-progress nk-count" data-progress="91" data-progress-mask="{$}%" data-nk-mask="{$}%">
                    <div class="nk-progress-title">JavaScript</div>
                    <div class="nk-progress-line">
                        <div style="width: 91%;">
                            <div class="nk-progress-percent">91%</div>
                        </div>
                    </div>
                </div>

                <div class="nk-progress nk-count" data-progress="72" data-progress-mask="{$}%" data-nk-mask="{$}%">
                    <div class="nk-progress-title">PHP</div>
                    <div class="nk-progress-line">
                        <div style="width: 72%;">
                            <div class="nk-progress-percent">72%</div>
                        </div>
                    </div>
                </div>

                <div class="nk-progress nk-count" data-progress="86" data-progress-mask="{$}%" data-nk-mask="{$}%">
                    <div class="nk-progress-title">Photoshop</div>
                    <div class="nk-progress-line">
                        <div style="width: 86%;">
                            <div class="nk-progress-percent">86%</div>
                        </div>
                    </div>
                </div>

                <div class="nk-progress nk-count" data-progress="43" data-progress-mask="{$}%" data-nk-mask="{$}%">
                    <div class="nk-progress-title">Paint</div>
                    <div class="nk-progress-line">
                        <div style="width: 43%;">
                            <div class="nk-progress-percent">43%</div>
                        </div>
                    </div>
                </div>

                <div class="nk-gap-5"></div>
            </div>
        </div>
    </div>
</div>
         <div class="row no-gutters">
            <div class="col-md-4">

                   <%= image_tag "https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/vertical/nomcre-vertical1.jpg", style: 'width:100%;max-height:500px;' %>

            </div>
            <div class="col-md-4">
               <%= image_tag "https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/vertical/nomcre-vertical4.jpg", style: 'width:100%;max-height:500px;' %>

            </div>
            <div class="col-md-4">
              <%= image_tag "https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/vertical/nomcre-vertical5.jpg", style: 'width:100;max-height:500px;' %>

            </div>
        </div>
