
<div class="nk-box bg-gray-1 text-center">
  <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h2 class="nk-title">The NOMCRE Way</h2>
                    <h3 class="nk-sub-title">The NOMCRE Way guarantees your ability to bring your story to life.</h3>
                    <div class="nk-gap-2"></div>

                    <p style="text-align:justify">The NOMCRE way is a methodology for producing incredible imagery in a short amount of time from our base of experienced and talented professionals. We developed this in conjunction with top cinematographers, photographers and directors around the world. What does it all mean? It means that we have taken out all the clutter confusion and stopping points that normally plague shoots and creative ventures. It allows the client to get exactly what they want and at the same time allows the creator to create. The system is set up to fulfill everyone’s needs. </p>

                    <p style="text-align:justify">The creators adhere to the shot list that is provided by the client, but they also have the opportunity to create and make some magic on site. There are certain things you just can’t plan for and that’s how the Nomcre way makes successful, impactful and sometimes impromptu imagery really come to life. </p>

                    <p style="text-align:justify">We’ve also taken special note to make sure that we have only the assets we need. At a  Nomcre shoot you’ll never find craft services or people standing around. Everyone has a job they do it and they do it well. By having the creator is on location already they get the look sense and feel and are able to scout incredible locations things that you can’t plan for. They can also find assistants, models and stylists to make everything meet or exceed your expectations. </p>

                    <div class="nk-gap-2"></div>
                    <div class='text-center'>
            <a href="https://calendly.com/nomcre/intro/" target="_blank" class="nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-circle nk-btn-color-dark-1">
                            <span class="icon"><i class="ion-ios-monitor-outline"></i></span>
                            Book Your Demo
                        </a>
        </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

