
<div class="nk-box bg-gray-1 text-center">
  <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h2 class="nk-title">Your Benefits</h2>
                   <!--  <h3 class="nk-sub-title">The NOMCRE Way guarantees your ability to your bring your story to life.</h3> -->
                    <div class="nk-gap-2"></div>

                    <p style="text-align:justify">The heart of The NOMCRE Way is simple. We demystify and ignite the creative process by eliminating waste; allowing the professional creators to have the creative freedom to produce incredible things. From a greater perspective it’s a dream come true for clients and creators alike.
                    </p>

                    <p style="text-align:justify">This unique online platform has no rent, has no account executives, has none of the things that cost so much money to the client. We just give you exactly what you need and a little bit more for a price that is incomparable to agency work.
                     </p>

                    <p style="text-align:justify">The NOMCRE Way is also cognizant of the time you (the client) have put into preparing, presenting, and negotiating to even start the creative process. We want you to save you your most precious asset… TIME. </p>

                    <p style="text-align:justify">Book Your Demo To See How!</p>

                    <div class="nk-gap-2"></div>
                    <div class='text-center'>
            <a href="https://calendly.com/nomcre/intro/" target="_blank" class="nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-circle nk-btn-color-dark-1">
                            <span class="icon"><i class="ion-ios-monitor-outline"></i></span>
                            Book Your Demo
                        </a>
        </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

