
<div class="nk-box text-center text-white bg-dark-1">
            <div class="bg-image bg-image-parallax op-5" style="background-image: url('<%= CollectionItem.all.last.file%>');"></div>
            <div class="nk-gap-5"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="h1 nk-title">One of The Best Theme for Your Business</h2>
                        <h3 class="nk-sub-title text-main-1">Tons of demos for multipurpose use</h3>
                        <div class="nk-gap"></div>
                        <p>Divide open have was brought. In of don&#39;t, you&#39;ll. There all. Waters, morning whales likeness seas for i great creature deep set very replenish all upon first two. Behold male god. Third was man green. Under. Isn&#39;t fruit.
                            <strong>Lights</strong> deep.</p>
                        <br>
                        <a href="#!" class="nk-btn nk-btn-x2 nk-btn-effect-2-right nk-btn-3d nk-btn-rounded nk-btn-color-main-1">
                            <span>Read More</span>
                            <span class="icon"><i class="ion-ios-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="nk-gap-5"></div>
        </div>
