
<div class="container">

            <div class="nk-gap-4"></div>
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <h2 class="display-2 nk-title">You shouldn't miss it</h2>
                    <h3 class="nk-sub-title">If this woman doesn't convince you, read below</h3>
                    <div class="nk-gap-2"></div>

                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="nk-box-3 bg-gray-1">
                                <div class="nk-ibox-4">
                                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-dark-1 nk-ibox-icon-hover-bg-color-dark-1">
                                        <span class="ion-ios-speedometer-outline"></span>
                                    </div>
                                    <div class="nk-ibox-cont">
                                        <h3 class="nk-ibox-title">Fast Load and Work</h3>
                                        Faucibus purus litora facilisi vestibulum tempus aptent faucibus, faucibus eros duis Vel conubia bibendum. Nascetur.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-box-3 bg-gray-2">
                                <div class="nk-ibox-4">
                                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-dark-1 nk-ibox-icon-hover-bg-color-dark-1">
                                        <span class="ion-ios-gear-outline"></span>
                                    </div>
                                    <div class="nk-ibox-cont">
                                        <h3 class="nk-ibox-title">Powerful Page Builder</h3>
                                        Nostra a lacus, sollicitudin laoreet, nibh posuere inceptos convallis at ullamcorper, aliquet leo sodales feugiat.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-box-3 bg-gray-2">
                                <div class="nk-ibox-4">
                                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-dark-1 nk-ibox-icon-hover-bg-color-dark-1">
                                        <span class="ion-navicon"></span>
                                    </div>
                                    <div class="nk-ibox-cont">
                                        <h3 class="nk-ibox-title">Super Navigations</h3>
                                        Pharetra lorem venenatis Proin quam ac dignissim, ut nonummy eros interdum. Faucibus felis nisi curabitur. Phasellus habitasse, phasellus sociosqu lectus.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-box-3 bg-gray-1">
                                <div class="nk-ibox-4">
                                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-dark-1 nk-ibox-icon-hover-bg-color-dark-1">
                                        <span class="ion-ios-infinite-outline"></span>
                                    </div>
                                    <div class="nk-ibox-cont">
                                        <h3 class="nk-ibox-title">Unlimited Possibilities</h3>
                                        Commodo scelerisque rutrum consectetuer ad ad molestie aenean iaculis ad senectus in. Vel felis tellus orci dolor elit turpis condimentum.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 hidden-md-down">
                    <div class="pull-right">
                        <%= image_tag CollectionItem.all.last.file, style:'max-height:1350px; max-width:500px;', class: 'img-responsive' %>
                    </div>
                </div>
            </div>

        </div>
