<div class="container">
            <div class="nk-gap-4"></div>

            <div class="row vertical-gap">
                <div class="col-md-4 col-sm-6">
                    <div class="nk-ibox-1">
                        <div class="nk-ibox-icon nk-ibox-icon-circle">
                            <span class="fa fa-pencil-square-o"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Create A Brief</a></h3>
                            It's shockingly easy to let us know what you’re looking to achieve. It's all digital, includes everything you need for us to proceed to Operation Wow.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="nk-ibox-1">
                        <div class="nk-ibox-icon nk-ibox-icon-circle">
                            <span class="fa fa-globe"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Your Brief Goes Global</a></h3>
                            We take what your looking for, the criteria goes out through the NomCre platform, and presto, you have a list of vetted creators.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="nk-ibox-1 nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-circle">
                            <span class="fa fa-users"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Select Your Talent</a></h3>
                            NOMCRE gives you the best options: you pick the perfect fit, some or all of them.  We make sure they are in the right locations.

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="nk-ibox-1 nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-circle">
                            <span class="fa fa-fighter-jet"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title">Send The Product</h3>
                            After you and the creator(s) are in cahoots, time to ship what they are shooting. Send the tracking number &amp; we will notify you when the creator has received your product. Then we start the clock.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="nk-ibox-1 nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-circle">
                            <span class="fa fa-magic"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title">The Magic Happens</h3>
                            The creator now has the brief, the product, locations, models, HMU, stylists, as well as lots of ideas. Your brand and objectives are near &amp; dear to our heart, creativity &amp; focus.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="nk-ibox-1 nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-circle ">
                            <span class="fa fa-envelope-open-o"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title">Recieve Your Awesome Content</h3>
                            It's right there in the title. Your selects are to you in a few days. Content for your social media, new campaign, website, marketing, whatever. Order up!
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-gap-4"></div>
        </div>
