
<div class="container">

            <div class="nk-gap-4"></div>
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <h2 class="display-2 nk-title">We Are Better Together</h2>
                    <h3 class="nk-sub-title">You + NOMCRE = HERO</h3>
                    <div class="nk-gap-2"></div>

                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="nk-box-3 bg-gray-1">
                                <div class="nk-ibox-4">
                                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-dark-1 nk-ibox-icon-hover-bg-color-dark-1">
                                        <span class="fa fa-pencil-square-o"></span>
                                    </div>
                                    <div class="nk-ibox-cont">
                                        <h3 class="nk-ibox-title">Create A Brief</h3>
                                        It's shockingly easy to let us know what you need. Our Brief process is all digital, and includes everything you need for us to go from idea to social post. WOW.

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-box-3 bg-gray-2">
                                <div class="nk-ibox-4">
                                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-dark-1 nk-ibox-icon-hover-bg-color-dark-1">
                                        <span class="fa fa-globe"></span>
                                    </div>
                                    <div class="nk-ibox-cont">
                                        <h3 class="nk-ibox-title">Your Brief Goes Global</h3>
                                        After you tell NomCre what youre looking for, the your Brief is sent out through the NomCre platform, and presto, you have a curated list of incredible creators.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-box-3 bg-gray-2">
                                <div class="nk-ibox-4">
                                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-dark-1 nk-ibox-icon-hover-bg-color-dark-1">
                                        <span class="fa fa-users"></span>
                                    </div>
                                    <div class="nk-ibox-cont">
                                        <h3 class="nk-ibox-title">Select Your Talent</h3>
                                      You pick the perfect fit from the NomCre platform. Once your Brief goes global NomCre will show you our best options anywhere in the world. We make sure they are in the right locations, so you cn get exactly the creative you want.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-box-3 bg-gray-1">
                                <div class="nk-ibox-4">
                                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-dark-1 nk-ibox-icon-hover-bg-color-dark-1">
                                        <span class="fa fa-fighter-jet"></span>
                                    </div>
                                    <div class="nk-ibox-cont">
                                        <h3 class="nk-ibox-title">Send The Product</h3>
                                        After you and the creator(s) are all in cahoots, time to ship what they are shooting. DHL, send the tracking number, we will notify you when the creator has it, and then we start the clock. If it's lifestyle or location shooting, we don’t wait, why should you?
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-box-3 bg-gray-1">
                                <div class="nk-ibox-4">
                                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-dark-1 nk-ibox-icon-hover-bg-color-dark-1">
                                        <span class="fa fa-magic"></span>
                                    </div>
                                    <div class="nk-ibox-cont">
                                        <h3 class="nk-ibox-title">The Magic Happens</h3>
                                        Now, your personally selected creator has the brief, the product, models, HMU, stylists, and is in the right place on the plant.  Lots of ideas, your brand and objectives near and dear to their heart, creativity, focus (get it?)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-box-3 bg-gray-1">
                                <div class="nk-ibox-4">
                                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-dark-1 nk-ibox-icon-hover-bg-color-dark-1">
                                        <span class="fa fa-envelope-open-o"></span>
                                    </div>
                                    <div class="nk-ibox-cont">
                                        <h3 class="nk-ibox-title">Now It's In Your Hands</h3>
                                        It's right there in the title. Your selects are to you in a few days. Content for your social media, new campaign, website, marketing, order up!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 hidden-md-down">
                    <div class="pull-right">
                        <%= image_tag CollectionItem.all.last.file, style:'max-height:1350px; max-width:500px;', class: 'img-responsive' %>
                    </div>
                </div>
            </div>

        </div>
