<div class="container">
            <div class="nk-gap-4"></div>

            <div class="row vertical-gap">
                <div class="col-md-4 col-sm-6">
                    <div class="nk-ibox-1">
                        <div class="nk-ibox-icon nk-ibox-icon-circle">
                            <span class="ion-iphone"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Mobile Friendly</a></h3>
                            Varius nullam sociosqu luctus faucibus phasellus Elit amet hendrerit eros, mi egestas mus taciti eros cubilia. Sociosqu lacus hymenaeos egestas.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="nk-ibox-1">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                            <span class="ion-speedometer"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Fast Load and Work</a></h3>
                            Faucibus purus litora facilisi vestibulum tempus aptent faucibus, faucibus eros duis Vel conubia bibendum. Nascetur.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="nk-ibox-1 nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-primary">
                            <span class="ion-gear-a"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Powerful Page Builder</a></h3>
                            Nostra a lacus, sollicitudin laoreet, nibh posuere inceptos convallis at ullamcorper, aliquet leo sodales feugiat.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="nk-ibox-1 nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-bg-color-main-1 nk-ibox-icon-hover-bg-color-main-5">
                            <span class="ion-navicon"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title">Super Navigations</h3>
                            Pharetra lorem venenatis Proin quam ac dignissim, ut nonummy eros interdum. Faucibus felis nisi curabitur. Phasellus habitasse, phasellus sociosqu lectus.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="nk-ibox-1 nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-bg-color-dark-1 nk-ibox-icon-hover-bg-color-main-5">
                            <span class="ion-ios-infinite"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title">Unlimited Possibilities</h3>
                            Commodo scelerisque rutrum consectetuer ad ad molestie aenean iaculis ad senectus in. Vel felis tellus orci dolor elit turpis condimentum.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="nk-ibox-1 nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-info nk-ibox-icon-hover-bg-color-info">
                            <span class="ion-social-twitter"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title">Social Friendly</h3>
                            Laoreet mauris eu augue auctor turpis mauris iaculis duis taciti ligula luctus parturient cras. Consectetuer fermentum purus curae; parturient fringilla.
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-gap-4"></div>
        </div>
