

<div class="nk-box">
    <div class='nk-gap-4'></div>
  <div class="bg-image-row row">
    <div class="col-lg-6">
      <div class="bg-image bg-image-parallax" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/stacked-images/VideoStack.png');">
      </div>
    </div>
  </div>

    <div class="container">
         <div class="text-right text-main-8">
                <h3 class="nk-title-back">NOM<span class='raleway-thinnest'>ADIC</span> CRE<span class='raleway-thinnest'>ATIVE</span></h3>
                <!-- <h4 class="nk-sub-title text-main-7">[Custom Creative On Demand]</h4> -->
                <div class='nk-gap-1'></div>
                <h2 class="nk-title display-4">What Is The NOM<span class='raleway-thinnest'>CRE Way?</span></h2>
                <!-- <div class="nk-title-sep-icon">
                    <span class="icon">
                        <span class="ion-chatbubbles"></span>
                    </span>
                </div> -->
            </div>
      <div class="row" style='margin-left: 16px;'>

        <div class="ol-lg-5 offset-lg-7">
                  <!-- <div class="nk-gap-4"></div> -->
          <div class="row align-items-center">


           <p style="text-align:justify">The NOMCRE Way is more than just a set of rules. It’s an understanding to which we adhere, to deliver the best result for the client in a powerful and creative way. The next phase of The NOMCRE Way comes into how we deal with editing. All the editing is done off site. It is centralized: when the creator creates and uploads, we start editing.  Immediately. This allows us to create with a consistency and precision that will make your brand stand out. It also allows the client to return in the future and take existing assets to re-edit and make them relevant when their strategy or visual identity happens to shift.</p>

            <p style="text-align:justify">The best part is the client only has contact in the points where it is required. There are no endless meetings. There are no board rooms or conference calls with 15 people. Efficacy rules. </p>

            <p style="text-align:justify">A crucial part of The NOMCRE Way begins with how we have boiled down the creative brief to make it work for the client.  It is neither too tedious nor too ambiguous for either the creators or the client. The NOMCRE Way is also global. Our shooters, editors, and directors always are on call around the planet. We can convey the creative intent, look, feel, and brand positioning of any client, anytime. You can free yourself from the confines of how you thought it needed to be done. </p>



          </div>

        </div>

      </div>
    </div>


    <div class="nk-gap-4"></div>
  </div>


