<div class="nk-box bg-dark-1 text-white">
            <div class="bg-image-row row">
                <div class="col-lg-6">
                    <div class="bg-image bg-image-parallax" style="background-image: url('<%= CollectionItem.all.take(4).last.file%>');"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 offset-lg-7">
                        <div class="nk-gap-5"></div>
                        <h2 class="h1 nk-title">Got What It Takes?</h2>
                        <div class="nk-gap-2"></div>

                        <div class="nk-ibox-2">
                            <div class="nk-ibox-icon">
                                <span class="ion-iphone"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title"><a href="#">Mobile Friendly</a></h3>
                                Varius nullam sociosqu luctus faucibus phasellus Elit amet hendrerit eros, mi egestas mus taciti eros cubilia. Sociosqu lacus hymenaeos egestas.
                            </div>
                        </div>
                        <div class="nk-gap"></div>

                        <div class="nk-ibox-2">
                            <div class="nk-ibox-icon">
                                <span class="ion-speedometer"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title"><a href="#">Fast Load and Work</a></h3>
                                Faucibus purus litora facilisi vestibulum tempus aptent faucibus, faucibus eros duis Vel conubia bibendum. Nascetur.
                            </div>
                        </div>
                        <div class="nk-gap"></div>

                        <div class="nk-ibox-2">
                            <div class="nk-ibox-icon">
                                <span class="ion-gear-a"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title"><a href="#">Powerful Page Builder</a></h3>
                                Nostra a lacus, sollicitudin laoreet, nibh posuere inceptos convallis at ullamcorper, aliquet leo sodales feugiat.
                            </div>
                        </div>

                        <div class="nk-gap-5"></div>
                    </div>
                </div>
            </div>
        </div>

