<div class="nk-box bg-dark-1 text-white">
            <div class="bg-image-row row">
                <div class="col-lg-6">
                    <div class="bg-image bg-image-parallax" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/vertical/nomcre-vertical4.jpg');"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 offset-lg-7">
                        <div class="nk-gap-5"></div>
                        <h2 class="h1 nk-title">Recipe For Success</h2>
                        <div class="nk-gap-2"></div>

                        <div class="nk-ibox-2">
                            <div class="nk-ibox-icon">
                                <span class="fa fa-clock-o"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title"><a href="#">Time </a></h3>
                                Varius nullam sociosqu luctus faucibus phasellus Elit amet hendrerit eros, mi egestas mus taciti eros cubilia. Sociosqu lacus hymenaeos egestas.
                            </div>
                        </div>
                        <div class="nk-gap"></div>

                        <div class="nk-ibox-2">
                            <div class="nk-ibox-icon">
                                <span class="fa fa-star-o"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title"><a href="#">Talent</a></h3>
                                Faucibus purus litora facilisi vestibulum tempus aptent faucibus, faucibus eros duis Vel conubia bibendum. Nascetur.
                            </div>
                        </div>
                        <div class="nk-gap"></div>

                        <div class="nk-ibox-2">
                            <div class="nk-ibox-icon">
                                <span class="fa fa-trophy"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title"><a href="#">Tenacity</a></h3>
                                Nostra a lacus, sollicitudin laoreet, nibh posuere inceptos convallis at ullamcorper, aliquet leo sodales feugiat.
                            </div>
                        </div>

                        <div class="nk-gap-5"></div>
                    </div>
                </div>
            </div>
        </div>

