<blockquote class="nk-testimonial-3 bg-gray-4">
     <div class="nk-testimonial-name h1 bebas " style='font-style: normal'> “...a nonprofit organization has a very short window in which to make someone take action. <br>The information you provide and how you provide it is very important.”</div>
    <div class="nk-testimonial-body">
        <div class="lead">-Nonprofithut</div>
    </div>
    <a href="https://drift.me/pauly/meeting" class="nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-color-main-1 bebas">
        <span class="icon"><i class="ion-md-cart"></i></span>
        Get Started
    </a>
</blockquote>









