<div class="nk-box bg-dark-1 text-white">
  <div class="bg-image-row row">
    <div class="col-lg-6">
        <div class="bg-image bg-image-parallax" style="background-image: url('https://nomcre-rails.s3-us-west-2.amazonaws.com/public-page-images/stacked-images/PhotoStack.png');">
      </div>
    </div>
  </div>
  <div class="" style="margin-left:24px;margin-right: 24px;">
    <div class="row">
      <div class="col-lg-5 offset-lg-7">
        <div class="nk-gap-5"></div>
        <h2 class="h1 nk-title bebas">FOR YOUR <span class='text-main-1'>NON PROFIT</span></h2>
        <div class="nk-gap-1"></div>
        <p class="text-left">
          In 2020, galvanizing donors and raising brand awareness will require video. At the bare minimum, that means your nonprofit must have a library of fresh, compelling content. Here’s why:
          <br><br>
          Viewers retain <span class='text-main-1'> 95% </span> of a message when they watch it in a video, compared to 10% when reading it in text. (Insivia)
          <br><br>
          Email can have a return on investment of <span class='text-main-1'> 122% </span>, which is more than 4x greater than the ROI of social media, direct mail, and paid search. (Whole Whale)
          <br><br>
          <span class='text-main-1'>96%</span> of respondents believe personalization helps build customer relationships (Donorbox 2017)


        </p>
        <p class="text-left">
          Here’s what those stats mean:

          Video leaves a lasting impression, especially compared to text. Email, when carefully crafted, can be an extremely effective tool for your organization. Lastly, personalization is a powerful tool. If you want to stand out, you’ll need a strategy that enables you capitalize on this trend.

          Here are a few examples of video Nomcre can create for you:
        </p>
        <div class="nk-gap-2"></div>
        <div class='center row' style="margin-left:24px;margin-right: 24px;">
          <div class="col-md-6">
            <ul>
              <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Showcasing The Work </em></li>
              <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Showcasing The Team</em></li>
              <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Introduction To The Need</em></li>
               <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Acknowledgements</em></li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Personalized Thank You's</em></li>
              <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Drive Reminders</em></li>
              <li><em class='bebas' style='font-style: normal; font-size:1.35em'> Donor Shout Outs</em></li>
               <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Testimonials</em></li>
            </ul>
          </div>
        </div>
        <div class="nk-gap-1"></div>
      </div>
    </div>
  </div>
</div>
