<br>
<div class="alert alert-info">
<button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
  <i class="tim-icons "></i>
</button>
<span>
  <b> Uh Oh! </b> <br> The tasks for this project will be created as soon as you pick a creative.</span>
</div>
