<div class="col-md-8 ml-auto mr-auto">
  <h2 class="text-center">Chat Rooms </h2>
  <p class="text-center">
    A list of the active chat rooms for each Proposal.
  </p>
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <table id="datatable" class="table table-striped">
          <thead>
            <tr>
               <th>Title </th>
                <th>Company</th>
                <th>Proposal</th>
                <th>View</th>
                <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% @chatrooms.each do |c| %>
            <tr>
              <td><%= c.topic %></td>
              <td><%= c.proposal.company.name %></td>
              <td><%= c.proposal.title  %></td>
              <td>
                <%= link_to "View", chatroom_path(c) %>
              </td>
              <td>

              </td>
            </tr>
            <% end %>
         </tbody>
         <tfoot>
          <tr>
             <th>Title </th>
                <th>Company</th>
                <th>Proposal</th>
                <th>View</th>
                <th>Delete</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- end content-->
  </div>
  <!--  end card  -->
</div>
<!-- end col-md-12 -->
</div>
<% content_for :added_scripts do %>
  <script>
    $(document).ready(function() {
      $('#datatable').DataTable({
        "pagingType": "full_numbers",
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "All"]
        ],
        responsive: true,
        language: {
          search: "_INPUT_",
          searchPlaceholder: "Search records",
        }

      });

      var table = $('#datatable').DataTable();

      // Edit record
      table.on('click', '.edit', function() {
        $tr = $(this).closest('tr');

        var data = table.row($tr).data();
        alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
      });

      // Delete a record
      table.on('click', '.remove', function(e) {
        $tr = $(this).closest('tr');
        table.row($tr).remove().draw();
        e.preventDefault();
      });

      //Like record
      table.on('click', '.like', function() {
        alert('You clicked on Like button');
      });
    });
  </script>
  <% end %>
