 <div class="nk-header-title nk-header-title-sm nk-header-title-parallax nk-header-title-parallax-opacity">
    <div class="bg-image">
        <div style="background-image: url('assets/images/image-7.jpg');"></div>
    </div>
    <div class="nk-header-table">
        <div class="nk-header-table-cell">
            <div class="container">
                <h1 class="nk-title">Who Are You?</h1>
            </div>
        </div>
    </div>
</div>
<div class="container text-white">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="nk-ibox-3">
                        <div class="nk-ibox-icon nk-ibox-icon-circle">
                            <span class="fa fa-picture-o"></span>
                        </div>
                        <div class="nk-ibox-cont">

                            <h3 class="nk-ibox-title">I Create Stuff</h3>
                            I am an execelent creative. I love to take photographs or video and I have an awesome portfolio of work. I would love nothing more than to be able to find new clients and product to shoot in awesome locations.
                            <br>
                            <div class='nk-gap'></div>
                            <%= link_to "Get Started Now", new_waitlist_path, class: 'nk-btn nk-btn-block nk-btn-circle nk-btn-x2 nk-btn-effect-5-left nk-btn-color-main-1'%>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="nk-ibox-3 nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-circle ">
                            <span class="fa fa-briefcase"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title">I Need Creative</h3>
                            I work for a company that needs new visual creative. We're looking for the most amazing photographers from across the globe to shoot for us in locations where we dont yet have boots on the ground.
                            <br>
                            <div class='nk-gap'></div>
                            <%= link_to "Get Started Now", set_user_type_path(:user_type => "company"), query: "company", class: 'nk-btn nk-btn-block nk-btn-circle nk-btn-x2 nk-btn-effect-5-left nk-btn-color-main-1'%>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-gap-4"></div>
        </div>
