<div class='nk-gap-2'></div>
<div class="nk-blog-post">

                    <div class="row vertical-gap">
                        <div class="col-lg-5">

                            <a href="blog-single-image.html">
                                <img src="<%= package.description_image %>" alt="" class="nk-img-stretch">
                            </a>

                        </div>
                        <div class="col-lg-7">
                            <div class="nk-post-meta nk-post-meta-top pb-0">
                                <!-- <div class="nk-post-date nk-post-meta-right">
                                    September 18, 2017
                                    <span class="nk-post-by">by <a href="#">nK</a></span>
                                </div> -->
                            </div>
                            <div class="nk-title">
                                 <%= link_to "#{package.title} Package", p %>
                            </div>
                            <h2 class="nk-post-title h3"><a href="blog-single-image.html"></a></h2>

                            <div class="nk-post-text">
                                <p><%= package.description %></p>
                            </div>

                            <div class="nk-post-continue text-right" style='margin-right: 12px;'>
                                <%= link_to package do %>
                                Read More <span class="ion-ios-arrow-thin-right"></span>
                                <% end %>
                            </div>
                        </div>
                    </div>

                </div>
