
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've Been Accepted</h1>
    <p>
      <%= @email %> Has been approved!
      Set up your account <a href="http://www.nomcre.com/waitlist_approved?email=<%= @email %>">here </a>
      <br>
    </p>
    <p>
    </p>
    <p>Thanks for joining!</p>
  </body>
</html>


