<div class='card'>
  <div class='card-header'>
    <div class='card-title'>
      <h1>Invoices</h1>
    </div>
  </div>
  <div class='card-body'>
    <%= render :partial => 'invoices/partials/black_dashboard/shared/table', :locals => {invoices: invoices} %>
    <br>
  </div>
</div>
