





<div class="nk-box text-center bg-main-1 text-white">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class='row'>
                  <div class='col-md-2'></div>
                  <div class='col-md-8'>
                    <div class="row text-center">
                      <div class='col-md-1'></div>
                      <div class='col-md-2'><i class='fa fa-user fa-4x'></i></div>
                      <div class='col-md-2'><i class='fa fa-arrows-h fa-4x'></i></div>
                      <div class='col-md-2'><i class='fa fa-globe fa-4x'></i></div>
                      <div class='col-md-2'><i class='fa fa-arrows-h fa-4x'></i></div>
                      <div class='col-md-2'><i class='fa fa-camera fa-4x'></i></div>
                      <div class='col-md-1'></div>
                    </div>
                  </div>
                  <div class='col-md-2'></div>
                </div>
        </div>
        <div class="nk-gap-4"></div>

            <div class='row'>
                  <div class='col-md-2'></div>
                  <div class='col-md-8'>
                    <div class="row text-center">
                      <div class='col-md-4'></div>
                      <div class='col-md-1'><h5>Lifestyle.</h5></div>
                      <div class='col-md-1'><h5>Action.</h5></div>
                      <div class='col-md-1'><h5>Product.</h5></div>
                      <div class='col-md-1'><h5>Artistic.</h5></div>
                      <div class='col-md-2'></div>
                    </div>
                  </div>
                  <div class='col-md-2'></div>
                </div>
              <div class="nk-gap-4"></div>

    </div>
