

<div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">



<div class="nk-box text-center bg-main-1 text-white">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class='row nk-ibox-4'>
                  <div class='col-md-2'></div>
                  <div class='col-md-8'>
                    <div class="row text-center">
                      <div class='col-md-1'></div>
                      <div class='col-md-2 nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-6'><i class='ion-ios-people'></i></div>
                      <div class='col-md-2 nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-6'><i class='ion-arrow-swap'></i></div>
                      <div class='col-md-2 nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-6'><i class='ion-earth'></i></div>
                      <div class='col-md-2 nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-6'><i class='ion-arrow-swap'></i></div>
                      <div class='col-md-2 nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-6'><i class='ion-ios-camera'></i></div>
                      <div class='col-md-1'></div>
                    </div>
                  </div>
                  <div class='col-md-2'></div>
                </div>
        </div>
        <div class="nk-gap-4"></div>

            <!-- <div class='row'>
                  <div class='col-md-2'></div>
                  <div class='col-md-8'>
                    <div class="row text-center">
                      <div class='col-md-4'></div>
                      <div class='col-md-1'><h5>Lifestyle.</h5></div>
                      <div class='col-md-1'><h5>Action.</h5></div>
                      <div class='col-md-1'><h5>Product.</h5></div>
                      <div class='col-md-1'><h5>Artistic.</h5></div>
                      <div class='col-md-2'></div>
                    </div>
                  </div>
                  <div class='col-md-2'></div>
                </div>
              <div class="nk-gap-4"></div>
 -->
    </div>
