
<div class="nk-box bg-gray-1 text-center">
  <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h2 class="nk-title">Benefits</h2>
                    <h3 class="nk-sub-title">The NOMCRE Way guarantees your ability to bring your story to life.</h3>
                    <div class="nk-gap-2"></div>
                    <p style="text-align:justify">Nomcre gives you access to talented creators across the globe trained to bring your concept to life. Create on 6 continents without learning a single language. Our in-house editing team can take content from each of our creators and create a consistent look and feel across all your assets. </p>

                    <p style="text-align:justify"> You will never again have to worry that your photographer is too busy to edit the work they've done for you. We will make your new visual assets everything you dream them to be, quickly &amp; more cost-effectively than anything you’ve seen before, without a long-term contract. </p>

                    <p style="text-align:justify"> And, most importantly, we will never sell you stock images, or sell the creative we capture for you. You will never have to worry about copyright issues or someone else purchasing the image before you bought the exclusive rights. You are granted exclusive rights in perpetuity on the fruits of our labors.  </p>
                    <div class="nk-gap-2"></div>
                    <div class='text-center'>
            <a href="https://calendly.com/nomcre/intro/" target="_blank" class="nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-circle nk-btn-color-dark-1">
                            <span class="icon"><i class="ion-ios-monitor-outline"></i></span>
                            Book Your Demo
                        </a>
        </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

