<div class="nk-box text-center text-white bg-dark-1">
            <div class="bg-image bg-image-parallax op-5" style="background-image: url('<%= CollectionItem.all.last.file%>');"></div>
            <div class="nk-gap-5"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="h1 nk-title">Nomcre - No Agency Needed</h2>
                        <h3 class="nk-sub-title text-main-1">You Should Get Started Now</h3>
                        <div class="nk-gap"></div>
                        <p>Connecting brands and creative talent across the world, real time. We exist to shake up the way we create commercial creative content. Lead by a former art director and entrepreneur, brilliant developer with an incredible team of creatives and support staff. We aim to make every brand global, and as agile as the market demands. Creative content, delivered to you, from around the planet.
                            <strong>Lights</strong> deep.</p>
                        <br>
                        <a href="#!" class="nk-btn nk-btn-x2 nk-btn-effect-2-right nk-btn-3d nk-btn-rounded nk-btn-color-main-1">
                            <span>Build A Brief!</span>
                            <span class="icon"><i class="ion-ios-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="nk-gap-5"></div>
        </div>
