<div class="nk-box text-center text-white bg-dark-1">
            <div class="bg-image bg-image-parallax op-3" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/horizontal/nomcre-horizontal9.jpg');"></div>
            <div class="nk-gap-5"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="h1 nk-title raleway-bold">NOMCRE </h2>
                        <h3 class="raleway-thinnest"> NO AGENCY REQUIRED</h3>
                        <div class="nk-gap"></div>
                        <p> With <b>NOM</b>CRE your creative team is everywhere. Connect with talented creatives specialized in captuing creative commercial content. Our global network is at your fingertips. Using <b>NOM</b>CRE can make every brand feel global, and we can deliver as quickly as the market demands. </p>

                        <p><b>NOM</b>CRE can deliver to your inbox, custom creative content shot by top talent, from anywhere in the world. </p>
                        <h5>How Can We Get The Top Talent Of The World At Such An Amaizing Price? </h5>
                        <p><b>NOM</b>CRE and our Platform elimates all the wasted enegery trying to schedule and negotiate ordering imagery. We source the clients, handle the editing, and leave the creatives to do what they love. </p>
                        <br>
                        <%= link_to user_type_path, class: 'nk-btn nk-btn-x2 nk-btn-effect-2-right nk-btn-3d nk-btn-rounded' do %>

                            <img src="https://s3-us-west-2.amazonaws.com/nomcre/assets/CTAbutton.png" style='max-height:150px; max-width: 200px;'>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="nk-gap-5"></div>
        </div>
