<!-- START: Features -->

<div class="nk-box bg-gray-1">
    <div class="nk-gap-2"></div>
    <div class="nk-gap-1"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/logos/FullLogo.png" alt="Khaki HTML Template" width="120">
               <!--  <div class="nk-gap-3"></div>
                <div class="lead" style='font-weight:200; font-size: 24px;'>Next Level Brands Require Next Level<br>

                    <span class="nk-typed bg-gray-2 text-dark-1 pl-8 pr-8 pt-5 pb-5 m-5 dib" data-back-delay="2000" >
                        <span>Creative</span>
                        <span>Product Photography</span>
                        <span>Visual Stories</span>
                        <span>Editorial Shoots</span>
                        <span>Hype Videos</span>
                        <span>Insta Stories</span>
                        <span>Action Videos</span>
                    </span>

                </div> -->
                <div class="nk-gap-3"></div>
                <div class="lead center" style='font-weight:400; font-size: 24px;'> #NeverStock </div>
                <div class="nk-gap-3"></div>
                <p style="text-align:justify">With Nomcre you have access to an exclusive network of talented commercial creators trained to bring your concept to life. Create a consistent look across 6 continents with confidence, all without having to send a team anywhere. Our in house editors take content from all of our creators and masterfully finish them to match the company or campaign aesthetic. </p>
            </div>
        </div>
        <!-- <div class="nk-gap-3"></div> -->
         <!-- <div class='text-center'>
            <a href="https://calendly.com/nomcre/intro/" target="_blank" class="nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-circle nk-btn-color-dark-1">
                            <span class="icon"><i class="ion-ios-monitor-outline"></i></span>
                            Book Your Demo
                        </a>
        </div> -->
        <div class="nk-gap-3"></div>
        <div class="row vertical-gap">
            <div class="col-md-4">
                <div class="nk-ibox-4">
                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                        <span class="icon ion-ios-people-outline"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title fs-22">Who You Want</h3>
                       <p style="text-align:justify">NOMCRE matches you with the best creative talent to take on the task. Use our simple dashboard to create a brief and you'll be matched with members of our exclusive network that have the skills and equiptment needed to bring your vision to life. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-ibox-4">
                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                        <span class="icon ion-ios-calendar-outline"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title fs-22">When You Want</h3>
                        <p style="text-align:justify">Create compelling content that ignites your audience and builds brand loyalty, on your schedule. NOMCRE's simple brief creation process and easy to use dashboards make it easy to order new imagery for websites, digital ads, social media, and so much more ...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-ibox-4">
                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                        <span class="icon ion-ios-location-outline"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title fs-22">Where You Want</h3>
                        <p style="text-align:justify">NOMCRE's pack of adept creators are roaming the globe just for you. NOMCRE can shoot your creative briefs on 6 continents at the same time. The world is our studio, and we've now opened it to you.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="nk-gap-1"></div>
    <div class="nk-gap-5"></div>
</div>
<!-- END: Features -->


