<!-- START: Features -->

<div class="nk-box bg-gray-1">
    <div class="nk-gap-2"></div>
    <div class="nk-gap-1"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/logos/FullLogo.png" alt="Khaki HTML Template" width="120">
                <div class="nk-gap-3"></div>
                <div class="lead" style='font-weight:200; font-size: 24px;'>Next Level Brands Require Next Level<br>

                    <span class="nk-typed bg-gray-2 text-dark-1 pl-8 pr-8 pt-5 pb-5 m-5 dib" data-back-delay="2000" >
                        <span>Creative</span>
                        <span>Product Photography</span>
                        <span>Visual Stories</span>
                        <span>Editorial Shoots</span>
                        <span>Hype Videos</span>
                        <span>Insta Stories</span>
                        <span>Action Videos</span>
                    </span>

                </div>
                <div class="lead center" style='font-weight:400; font-size: 24px;'> #NeverStock </div>
            </div>
        </div>
        <div class="nk-gap-3"></div>
         <div class='text-center'>
            <a href="https://calendly.com/nomcre/intro/" target="_blank" class="nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-circle nk-btn-color-dark-1">
                            <span class="icon"><i class="ion-ios-monitor-outline"></i></span>
                            Book A Demo
                        </a>
        </div>
        <div class="nk-gap-3"></div>
        <div class="row vertical-gap">
            <div class="col-md-4">
                <div class="nk-ibox-4">
                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                        <span class="icon ion-ios-checkmark-outline"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title fs-22">On Brand</h3>
                        NOMCRE can capture your brand's vision in less time than it takes to get an initial appointment with most agencies.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-ibox-4">
                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                        <span class="icon ion-ios-location-outline"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title fs-22">On Location</h3>
                        NOMCRE's pack of wild creators are roaming the globe just for you. NOMCRE can shoot you brief on 6 continents at the same time.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-ibox-4">
                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                        <span class="icon ion-ios-cloud-download-outline"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title fs-22">On Demand</h3>
                        Get content that speaks directly to your audience on your schedule.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-gap-1"></div>
    <div class="nk-gap-5"></div>
</div>
<!-- END: Features -->


