<!-- START: Features -->
<div class="nk-box">
    <div class="nk-gap-5"></div>
    <div class="nk-gap-1"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/logos/FullLogo.png" alt="Khaki HTML Template" width="90">
                <div class="nk-gap-3"></div>
                <div class="lead" style='font-weight:200; font-size: 24px;'>Your Company Has A Vision. We Bring It To Life On A Global Scale. </div>
            </div>
        </div>
        <div class="nk-gap-2"></div>
        <div class="row vertical-gap">
            <div class="col-md-4">
                <div class="nk-ibox-4">
                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                        <span class="ion-ios-time-outline"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title fs-22">Freakishly Fast</h3>
                        NOMCRE can capture your vision in less time than it takes to get an initial appointment with most agencies.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-ibox-4">
                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                        <span class="ion-ios-infinite-outline"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title fs-22">Super Simple</h3>
                        Ordering new imagery and video is now as easy as ordering a pizza.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-ibox-4">
                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                        <span class="ion-ios-checkmark-outline"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title fs-22">The Right Stuff</h3>
                        Get content that speaks directly to your audience. NOMCRE's pack of wild creators are roaming the globe just for you.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-gap-1"></div>
    <div class="nk-gap-5"></div>
</div>
<!-- END: Features -->


