<div class="container">

            <div class="nk-gap-4"></div>
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <h2 class="display-2 nk-title">You Want This </h2>
                    <h3 class="nk-sub-title">If this woman doesn't convince you, read below</h3>
                    <div class="nk-gap-2"></div>

                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="nk-box-3 bg-gray-1">
                                <div class="nk-ibox-4">
                                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-dark-1 nk-ibox-icon-hover-bg-color-dark-1">
                                        <span class="fa fa-id-badge"></span>
                                    </div>
                                    <div class="nk-ibox-cont">
                                        <h3 class="nk-ibox-title">Custom Content</h3>
                                        Your brand, the way you want in represented, now without boarders
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-box-3 bg-gray-2">
                                <div class="nk-ibox-4">
                                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-dark-1 nk-ibox-icon-hover-bg-color-dark-1">
                                        <span class="fa fa-globe"></span>
                                    </div>
                                    <div class="nk-ibox-cont">
                                        <h3 class="nk-ibox-title">Global</h3>
                                        Show the world you are a global brand, reach local markets, excite your customers
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-box-3 bg-gray-2">
                                <div class="nk-ibox-4">
                                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-dark-1 nk-ibox-icon-hover-bg-color-dark-1">
                                        <span class="fa fa-clock-o"></span>
                                    </div>
                                    <div class="nk-ibox-cont">
                                        <h3 class="nk-ibox-title">Rapid</h3>
                                        Turnaround faster than you can get a meeting with your agency.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-box-3 bg-gray-1">
                                <div class="nk-ibox-4">
                                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-dark-1 nk-ibox-icon-hover-bg-color-dark-1">
                                        <span class="fa fa-paint-brush"></span>
                                    </div>
                                    <div class="nk-ibox-cont">
                                        <h3 class="nk-ibox-title">Creative</h3>
                                        Your brief, our shooters and that’s a great recipe for getting creative
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-box-3 bg-gray-2">
                                <div class="nk-ibox-4">
                                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-dark-1 nk-ibox-icon-hover-bg-color-dark-1">
                                        <span class="fa fa-eye"></span>
                                    </div>
                                    <div class="nk-ibox-cont">
                                        <h3 class="nk-ibox-title">Authentic</h3>
                                        Over polished is out, make it real, no more “almost” stock photos, make it yours
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-box-3 bg-gray-1">
                                <div class="nk-ibox-4">
                                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-dark-1 nk-ibox-icon-hover-bg-color-dark-1">
                                        <span class="fa fa-user-circle"></span>
                                    </div>
                                    <div class="nk-ibox-cont">
                                        <h3 class="nk-ibox-title">Transparent</h3>
                                        The process is easier than ordering tacos.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 hidden-md-down">
                    <div class="pull-right">
                        <%= image_tag CollectionItem.all.last.file, style:'max-height:1350px; max-width:500px;', class: 'img-responsive' %>
                    </div>
                </div>
            </div>

        </div>
