<div class="nk-box bg-dark-1">
            <div class="container">
                <div class="nk-gap-4"></div>
                <div class="row vertical-gap">
                    <div class="col-md-4">
                        <div class="nk-pricing-2">
                            <div class="nk-pricing-header">
                                <div class="bg-image op-6" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/square/nomcre-square1.jpg');"></div>
                                <div class="nk-pricing-price">
                                    <span class="nk-pricing-currency">$</span>5,999
                                    <span class="nk-pricing-period">/ per</span>
                                </div>
                                <h3 class="nk-pricing-title">Photography</h3>
                            </div>

                            <div class="nk-pricing-body">
                                <ul class="nk-pricing-features">
                                    <li>Full Photo Package</li>
                                    <li>Anywhere You Want</li>
                                    <li>Anytime You Want</li>
                                </ul>

                                <div class="nk-pricing-button">
                                    <%= link_to "Get Started", set_user_type_path(:user_type => 'company'), class: 'nk-btn nk-btn-block nk-btn-circle nk-btn-x2 nk-btn-effect-5-left nk-btn-color-dark-4' %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="nk-pricing-2">
                            <div class="nk-pricing-header">
                                <div class="bg-image op-6" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/square/nomcre-square11.jpg');"></div>
                                <div class="nk-pricing-price">
                                    <span class="nk-pricing-currency">$</span>9,999
                                    <span class="nk-pricing-period">/ per</span>
                                </div>
                                <h3 class="nk-pricing-title">Videography &amp; Drone</h3>
                            </div>

                            <div class="nk-pricing-body">
                                <ul class="nk-pricing-features">
                                    <li>Photo / Video / Drone </li>
                                    <li>Anywhere You Want </li>
                                    <li>Anytime You Need</li>
                                </ul>

                                <div class="nk-pricing-button">
                                    <a href="#" class="nk-btn nk-btn-block nk-btn-circle nk-btn-x2 nk-btn-effect-5-left nk-btn-color-dark-4">Lets Roll</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="nk-pricing-2">
                            <div class="nk-pricing-header">
                                <div class="bg-image op-6" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/square/nomcre-square2.jpg');"></div>
                                <div class="nk-pricing-price">
                                    <span class="nk-pricing-currency">$</span>Custom
                                    <span class="nk-pricing-period"></span>
                                </div>
                                <h3 class="nk-pricing-title">Enterprise License</h3>
                            </div>

                            <div class="nk-pricing-body">
                                <ul class="nk-pricing-features">
                                    <li>Long Term Lovin'</li>
                                    <li>Photo &amp; Video &amp; Story </li>
                                    <li>On Demand, Your Way </li>
                                </ul>

                                <div class="nk-pricing-button">
                                    <a href="#" class="nk-btn nk-btn-block nk-btn-circle nk-btn-x2 nk-btn-effect-5-left nk-btn-color-dark-4">Done &amp; Fun</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-gap-4"></div>
            </div>
        </div>
