<style> .fa-play {padding-top:16px;} </style>

        <div class="nk-box bg-dark-1 text-white">
            <div class="nk-video-fullscreen-toggle-right">
                <a class="nk-video-fullscreen-toggle" href="https://vimeo.com/271028634">
                    <span class="nk-video-icon"><i class="fa fa-play pl-5"></i></span>
                </a>
            </div>
            <div class="bg-video-row row">
                <div class="col-lg-6 push-lg-6">
                    <div class="bg-video bg-video-parallax" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/nomcre_explainer_thumb.png');"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="nk-gap-5"></div>

                        <h2 class="h1 nk-title" style='margin-left:auto; margin-right:auto;'>The NOMCRE Way </h2>
                        <h3 class="nk-sub-title"></h3>
                        <div class="nk-gap"></div>

                        <p>NOMCRE creates best-in-class, on-demand, custom content with our global network of
photographers, videographers, directors, producers, and editors.</p>

                        <p>We curate top talent giving
you the ability to select the creatives with the specific skill sets and experience needed to make
your brand shine.

                            <strong>That’s the NomCre way.</strong>
                        </p>
                        <p> Click Play To Find Out What NOMCRE Can Do For You</p>

                        <div class="nk-gap-5"></div>
                    </div>
                </div>
            </div>
        </div>
