<div class="nk-box bg-dark-1 text-white">
            <div class="bg-image-row row">
                <div class="col-lg-6">
                    <div class="bg-image bg-image-parallax" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/horizontal/nomcre-horizontal6.JPG');"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 offset-lg-7">
                        <div class="nk-gap-5"></div>
                        <h2 class="h1 nk-title">Benefits</h2>
                        <div class="nk-gap-2"></div>

                        <div class="nk-ibox-2">
                            <div class="nk-ibox-icon">
                                <span class="fa fa-clock-o"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title"><a href="#">Quick Turnaround</a></h3>
                                Varius nullam sociosqu luctus faucibus phasellus Elit amet hendrerit eros, mi egestas mus taciti eros cubilia. Sociosqu lacus hymenaeos egestas.
                            </div>
                        </div>
                        <div class="nk-gap"></div>

                        <div class="nk-ibox-2">
                            <div class="nk-ibox-icon">
                                <span class="fa fa-globe"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title"><a href="#">10+ Countries</a></h3>
                                All returned to you in under 10 days.
                            </div>
                        </div>
                        <div class="nk-gap"></div>

                        <div class="nk-ibox-2">
                            <div class="nk-ibox-icon">
                                <span class="fa fa-user"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title"><a href="#">Unique To You</a></h3>
                                All the photos are shot specifically under your brand guidelines, and tailed to your needs.
                            </div>
                        </div>

                        <div class="nk-gap-5"></div>
                    </div>
                </div>
            </div>
        </div>
