<div class="nk-box bg-gray-1">
    <div class="nk-gap-5"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 push-lg-7 ">
                <div class="nk-gap-5 hidden-sm-down"></div>


                <h2 class="h2 nk-title">Measurable Engagement & Impactful Results </h2>
                <h3 class="nk-sub-title bebas">Experts In Content To Drive ROI </h3>
                <div class="nk-gap"></div>
                <p class='text-left'> If your goal is to create beautiful interpretive art, you're  you're in the wrong place.<b> Creating revenue generating content</b> & <i>driving returns</i>, thats our only focus.</p>

                <div class="nk-gap-5"></div>
                <div class="nk-gap-5 hidden-sm-down"></div>

            </div>
        </div>
    </div>
    <div class="bg-image-row row hidden-sm-down">
        <div class="col-lg-6">

            <div class="bg-image bg-image-parallax" style='background:url("https://nomcre-rails.s3.us-west-2.amazonaws.com/uploads/package_type/description_image/5/ModelsBTS1.gif")'></div>

        </div>
    </div>


</div>
