<div class="nk-box bg-gray-1">
    <div class="nk-gap-5"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 push-lg-7 ">
                <div class="nk-gap-5"></div>


                <h2 class="h2 nk-title">Revenue Focused Solutions</h2>
                <h3 class="nk-sub-title">Experts In Content To Drive ROI </h3>
                <div class="nk-gap"></div>
                <p class='text-left'>At Nomadic Creative, our focus is generating your company revenue.  We create a partnership with you and your teams, ensuring we stay on the path to measurable engagement, consistent branded content and impactful results. </p>

                <div class="nk-gap-5"></div>
                <div class="nk-gap-5"></div>

            </div>
        </div>
    </div>
    <div class="bg-image-row row ">
        <div class="col-lg-6">

            <div class="bg-image bg-image-parallax bg-parallaxed" style='background:url("https://nomcre-rails.s3.us-west-2.amazonaws.com/uploads/package_type/description_image/5/ModelsBTS1.gif")'></div>

        </div>
    </div>


</div>
