<div class="bg-dark-1 nk-box">
  <div class="nk-gap-1"></div>
  <div class="container">
    <div class="row">
      <div class='col-md-4' style="color:white">
        <h3 class='raleway-thinnest'> Impactful Imagery On-Demand</h3>
        <p class='raleway-thinnest align-left' style="margin-top: -16px;"> Just For You</p>
      </div>
      <div class='col-md-4'>

      </div>
      <div class='col-md-4 align-right'>
        <%= link_to user_type_path do  %>
          <%= image_tag "https://s3-us-west-2.amazonaws.com/nomcre/assets/TakeFlightCTA.png", class: 'img-fluid', style: 'max-height:100px; max-width:200px;margin-top:-6px' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
