<!-- START: We Are... -->
<div class="nk-box bg-dark-1 text-white text-center">
    <div class="bg-image bg-image-parallax op-1" style="background-image: url('assets/images/image-1.jpg');"></div>
    <div class="nk-gap-5"></div>
    <div class="container">
        <h2 class="nk-title h1 mb-0">
            You And I Are
            <span class="db hidden-sm-up"></span>
            <span class="nk-typed bg-white text-dark-1 pl-8 pr-8 pt-5 pb-5 m-5 dib" data-back-delay="2000">
                <span>Brilliant</span>
                <span>Quick</span>
                <span>Creative</span>
                <span>Global</span>
                <span>Strategic</span>
                <span>Exciting</span>
                <span>Driven</span>
            </span>
            <span class="db hidden-sm-up"></span>
            Together
        </h2>
    </div>
    <div class="nk-gap-5"></div>
</div>
