<div class="nk-header-title nk-header-title-md nk-header-title-parallax nk-header-title-parallax-opacity nk-header-title-parallax-blur">
    <div class="bg-image op-9">
        <img class="jarallax-img" style='width:100%' src="https://nomcre-rails.s3-us-west-2.amazonaws.com/public-page-images/nomadic-creative-video-header-no-title.jpg" alt="">
    </div>
    <div class="nk-header-table">
        <div class="nk-header-table-cell">
            <div class="container">
                <h1 class="nk-title bebas">Premium. Custom. Content.</h1>
                <h2 class="nk-sub-title bebas">Click To Play</h2>
                <div class="nk-gap-1"></div>
                <a class="nk-video-fullscreen-toggle" href="https://vimeo.com/386810165" onclick="sendHeaderView();">
                    <span class="nk-video-icon"><span class="fa fa-play text-main-1"></span></span>
                </a>
            </div>
        </div>
    </div>
</div>



        <script type="text/javascript">
            function sendHeaderView(){
                if ("ga" in window) {
                    tracker = ga.getAll()[0];
                    if (tracker)
                        tracker.send("event", "Videos", "play", 'Homepage Header Play');
                }
            }
        </script>

