 <style type="text/css">

 </style>
 <div class="nk-header-title nk-header-title-xl nk-header-title-parallax nk-header-title-parallax-opacity">
    <div class="bg-image op-7">
        <!-- <div style="background-image: url('https://nomcre-rails.s3.us-west-2.amazonaws.com/uploads/showcase_image/file/12/Black_Sand.jpg');"></div> -->
        <div class="bg-video" data-video="https://vimeo.com/271028634"></div>
    </div>
    <div class="nk-header-table">
        <div class="nk-header-table-cell">
            <div class="container">



                <div class="nk-gap-3"></div>

                <div class="nk-header-text">
                  <!-- <h1  style="font: raleway; font-weight: 500;">
                      Premium. Custom. Content.
                  </h1> -->

                  <div class="nk-gap-2"></div>
                  <!-- <a href="https://vimeo.com/271028634" class="nk-btn nk-btn-lg nk-btn-effect-5-left nk-btn-color-white text-dark-1 nk-video-fullscreen-toggle">
                      <span><i class='ion-ios-play'></i> </span> Watch Our Promo
                  </a> -->
                           <!--  <a class="nk-video-fullscreen-toggle" href="https://vimeo.com/271028634" onclick="sendHeaderView();">
                                <span class="nk-video-icon-2-light"><i class="fa fa-play pl-5" style='padding-top: 14px;'></i></span>
                            </a> -->

                        </div>


                    </div>
                </div>
            </div>
             <div class="row no-gutters">
        <div class="col-md-4">
            <div class="nk-counter">
                <div class="bg-color bg-dark-1 op-7"></div>
                <div class="nk-gap-3"></div>
                <div class="nk-count fs-45">6</div>

                <h3 class="nk-counter-title h4 ion-plane"> Continents</h3>

                <div class="nk-gap-3"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="nk-counter">
                <div class="bg-color bg-dark-1 op-4"></div>
                <div class="nk-gap-3"></div>
                <div class="nk-count fs-45 "> 4 </div>
                <h3 class="nk-counter-title h4 ion-leaf"> Seasons</h3>
                <div class="nk-gap-3"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="nk-counter">
                <div class="bg-color bg-main-1 op-5"></div>
                <div class="nk-gap-3"></div>
                <div class="nk-count fs-45 "> 365</div>
                <h3 class="nk-counter-title h4 ion-calendar"> Days A Year</h3>
                <div class="nk-gap-3"></div>
            </div>
        </div>
    </div>

        </div>



        <script type="text/javascript">
            function sendHeaderView(){
                if ("ga" in window) {
                    tracker = ga.getAll()[0];
                    if (tracker)
                        tracker.send("event", "Videos", "play", 'Homepage Header Play');
                }
            }
        </script>

