 <div class="nk-header-title nk-header-title-xl nk-header-title-parallax nk-header-title-parallax-opacity">
            <div class="bg-image op-6">
                <div style="background-image: url('<%= @header_image.file.url %>');"></div>
            </div>
            <div class="nk-header-table">
                <div class="nk-header-table-cell">
                    <div class="container">




                        <div class="nk-header-text">


          <!-- <h1  style="font: raleway; font-weight: 500;">
            NOW
            <span class='raleway-thinnest' style="padding-right: 6px; padding-left: 6px">YOUR</span>
            BRAND
            <span class='raleway-thinnest' style="padding-right: 6px; padding-left: 6px">IS</span>
            GLOBAL
          </h1> -->
          <div class="lead" style='font-weight:200; font-size: 24px;'>
            <h1 style="font: raleway; font-weight: 500; font-size: 48px;">Commercial Imagery Made Simple<!-- Next Level --></h1>

                <h3 style="font: raleway; font-weight: 500; margin-bottom: 0;">#NeverStock</h3>

                    <span class="nk-typed bg-dark-6 text-light-1 pl-8 pr-8 pt-5 pb-5 m-5 dib" style='font-weight:500; margin-top: 0px; line-height: 1em' data-back-delay="2000" >
                        <span>Creative</span>
                        <span>Product Photography</span>
                        <span>Visual Stories</span>
                        <span>Editorial Shoots</span>
                        <span>Hype Videos</span>
                        <span>Insta Stories</span>
                        <span>Action Videos</span>
                    </span>

                </div>

                            <!-- <div class="nk-gap-2"></div> -->
                            <a class="nk-video-fullscreen-toggle" href="https://vimeo.com/271028634" onclick="sendHeaderView();">
                                <span class="nk-video-icon-2-light"><i class="fa fa-play pl-5" style='padding-top: 16px;'></i></span>
                            </a>

                        </div>


                    </div>
                </div>
            </div>

        </div>



<script type="text/javascript">
    function sendHeaderView(){
        if ("ga" in window) {
            tracker = ga.getAll()[0];
            if (tracker)
                tracker.send("event", "Videos", "play", 'Homepage Header Play');
        }
    }
</script>

