
<div class="nk-box ">
  <div class="bg-image-row row">
      <div class="col-lg-6 offset-lg-6">
          <div class="bg-image bg-image-parallax" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/stacked-images/ProcessMap.png');"></div>
      </div>
  </div>
  <div class="container">
     <div class="text-left text-main-8">
                  <!-- <h3 class="nk-title-back text-light">NOM<span class='raleway-thinnest'>ADIC</span> CRE<span class='raleway-thinnest'>ATIVE</span></h3> -->
                  <!-- <h4 class="nk-sub-title text-main-7">[Custom Creative On Demand]</h4> -->
                  <div class='nk-gap-1'></div>
                  <h2 class="nk-title display-5 bebas">
                    The <span class='text-main-1 bebas'>Process</span>
                  </h2>
                  <!-- <div class="nk-title-sep-icon">
                      <span class="icon">
                          <span class="ion-chatbubbles"></span>
                      </span>
                  </div> -->
              </div>

      <div class="row">
          <div class="col-lg-6">
              <div class="nk-ibox-2">
                  <div class="nk-ibox-icon">
                      <!-- <span class="ion-ios-lightbulb-outline"></span> -->
                  </div>
                  <div class="nk-ibox-cont">
                      <h3 class="nk-ibox-title bebas">Collaborate To Define Your Goals</h3>
                      <p class='text-left' style='margin:16px;'>Whats your story?  We will find out together and build our deliverables list so we know where everything is headed. We’ve made it incredibly simple to tell us what you need, and our digital brief will walk you through each step. In about the same amount of time it takes to order a pizza, you'll have described exactly what you want down to the tone, style, story, impact, and so much more…  </p>
                  </div>
              </div>
              <div class="nk-gap"></div>
              <div class="nk-gap"></div>
              <div class="nk-ibox-2">
                  <div class="nk-ibox-icon">
                      <!-- <span class="ion-ios-color-wand-outline"></span> -->
                  </div>
                  <div class="nk-ibox-cont">
                      <h3 class="nk-ibox-title bebas">Sit Back &amp; Let Us Shoot</h3>
                     <p class='text-left' style='margin:16px;'> Our team will really do everything else. Our creative will set up the shoot, find the models, find the assistants, and scout the location. Our in-house editing team will edit the photos and/or videos to create all the elements needed in telling your beautiful new visual stories. </p>
                  </div>
              </div>
               <div class="nk-gap"></div>
              <div class="nk-ibox-2">
                  <div class="nk-ibox-icon">
                      <!-- <span class="ion-happy-outline"></span> -->
                  </div>
                  <div class="nk-ibox-cont">
                      <h3 class="nk-ibox-title bebas"> Check Your Inbox </h3>
                     <p class='text-left' style='margin:16px;'> Our collaboration before the creatives start production, allows Nomcre to deliver your first batch of <span class='text-main-1'> publish-ready visual stories </span> will hit your inbox within 96 hours. </p>
                  </div>
              </div>

              <div class="nk-gap-5"></div>
          </div>
      </div>
    </div>
</div>


<!-- <main class="container">

<section class="awesome-list">
<div class="awesome-list-item"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></div>
<div class="awesome-list-item"><span>Illum placeat aut nam distinctio officiis dolore deset.</span></div>
<div class="awesome-list-item"><span>Dignissimos aliquam, velit odio magni mollitia quos recusate.</span></div>
<div class="awesome-list-item"><span>Labore quibusdam voluptatibus nobis minima reprehen.</span></div>
</section>
</main> -->
