

<div class="nk-box">
    <div class='nk-gap-4'></div>
  <div class="bg-image-row row">
    <div class="col-lg-6">
      <div class="bg-image bg-image-parallax" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/stacked-images/Stack-Bundle.png');">
      </div>
    </div>
  </div>

    <div class="container">
         <div class="text-right text-main-8">
                <h3 class="nk-title-back">NOM<span class='raleway-thinnest'>ADIC</span> CRE<span class='raleway-thinnest'>ATIVE</span></h3>
                <!-- <h4 class="nk-sub-title text-main-7">[Custom Creative On Demand]</h4> -->
                <div class='nk-gap-1'></div>
                <h2 class="nk-title display-4">Why Choose NOM<span class='raleway-thinnest'>CRE?</span></h2>
                <!-- <div class="nk-title-sep-icon">
                    <span class="icon">
                        <span class="ion-chatbubbles"></span>
                    </span>
                </div> -->
            </div>
      <div class="row" style='margin-left: 16px;'>

        <div class="ol-lg-5 offset-lg-7">
                  <!-- <div class="nk-gap-4"></div> -->
          <div class="row align-items-center">
           <!--  <h2 class="h1 nk-title"><span class='raleway'>NOMCRE</span>: </h2> -->
            <div class="nk-gap-4"></div>
            <div class="nk-ibox-2 nk-ibox-hover">
              <div class="nk-ibox-icon">
                  <span class="ion-ios-camera-outline"></span>
              </div>
              <div class="nk-ibox-cont">
                  <h3 class="nk-ibox-title">Access To Top Creative </h3>
                   <p class='text-left' style="margin: 16px;">
                    Our creatives have consistently worked with elite brands, magazines, and broadcasting companies. So, when you work with <b>NOM</b>CRE you'll never have to second guess the quality of what we'll deliver. As a bonus, you don't have to negotiate with them directly, simply send a request and see if they accept.
                   </p>
              </div>
            </div>
            <div class="nk-ibox-2 nk-ibox-hover">
                <div class="nk-ibox-icon nk-ibox-icon-hover-color-main-2">
                    <span class="ion-pound"></span>
                </div>
                <div class="nk-ibox-cont">
                    <h3 class="nk-ibox-title">NeverStock</h3>
                   <p class='text-left' style="margin: 16px;"><b>NOM</b>CRE will never try to sell you doctored up stock images or videos. You'll never have to worry about copyright violations because everything we deliver is shot specifically and uniquely for your brand. We eill will never sell any photos from your shoot as stock imagery. Also, we've made it very easy to access any model release forms digitally just in case you need them. </p>
                </div>
                <div class="nk-gap-2"></div>
            </div>
            <div class="nk-ibox-2 nk-ibox-hover">
                <div class="nk-ibox-icon nk-ibox-icon-hover-color-main-3">
                    <span class="ion-android-globe"></span>
                </div>
                <div class="nk-ibox-cont">
                    <h3 class="nk-ibox-title">Our Creators Are Everywhere</h3>
                     <p class='text-left' style="margin: 16px;"> <b>NOM</b>CRE's network of creators spans the globe. Whether you need a single shoot at your office headquarters, or you need a campaign to span 6 continents <b>NOM</b>CRE creators are ready to capture your vision. We take careful consideration to make sure the visual campaigns we create for you visually consistent to the markets in which they will be served.
                      </p>
                </div>
            </div>
           <!--  <div class="nk-gap"></div> -->


          </div>

        </div>

      </div>
    </div>


    <div class="nk-gap-4"></div>
  </div>

