<blockquote class="nk-testimonial-3 bg-gray-4">
    <!-- <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-1.jpg');"></div> -->
     <div class="nk-testimonial-name h1 bebas"><span class='h4 bebas'> “Videos turn watchers into advocates <span class='text-main-1 bebas'>92%</span> of mobile video consumers share videos with others. In addition, social video generates 12 times the shares than text and images combined.”</span></div>
    <div class="nk-testimonial-body">
        <div class="lead">Smallbiztrends.com</div>
    </div>
    <a href="https://drift.me/pauly/meeting" class="nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-color-main-1 bebas">
                    <span class="icon"><i class="ion-md-cart"></i></span>
                    Start The Conversation
                </a>
</blockquote>











