<div class="nk-box bg-dark-1 text-white">
  <div class="bg-image-row row">
    <div class="col-lg-6">
        <div class="bg-image bg-image-parallax" style="background-image: url('https://nomcre-rails.s3-us-west-2.amazonaws.com/public-page-images/stacked-images/PhotoStack.png');">
      </div>
    </div>
  </div>
  <div class="" style="margin-left:24px;margin-right: 24px;">
    <div class="row">
      <div class="col-lg-5 offset-lg-7">
        <div class="nk-gap-5"></div>
        <h2 class="h1 nk-title bebas">FOR <span class='text-main-1'>STARTUPS</span></h2>
        <div class="nk-gap-1"></div>

        <p class='text-left '>
          Sharing compelling content in the right channels could be the difference between getting your next round of funding or going back to corporate.<br>
          This quarter, getting ahead and finding the key people you want to invest in your brand will require video. At the bare minimum, you’ll want a library of fresh, compelling content. Here’s why:

          <p class='text-left '>
          <span class='text-main-1 h6'> 82%</span> percent of small businesses fail due to cash flow shortages -  Small Business Administration
          </p>

          <p class='text-left '><span class='text-main-1 h6'>23 %</span> of small business owners claim that digital tools are “not relevant for their business” or “not effective” for their business’s growth - Small Business Administration
          </p>


          <p class='text-left '>Over <span class='text-main-1 h6'>51%</span> of smartphone users have discovered a new company or product while conducting a search on their smartphone  -  Small Business Administration
          </p>
        </p>
        <p class='text-left'>

         Here’s what that means. Content is a key tool in your quest for brand awareness. Getting the right people to back your vision comes down to how well your story is told and how many times your message is received. A library of fresh, compelling content could significantly decrease the likelihood of failure with assets like:
        </p>
        <div class="nk-gap-2"></div>
        <div class='row' style="margin-left:24px;margin-right: 24px;">
          <div class="col-md-6">
          <ul>
            <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Direct Sales </em></li>
            <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Testimonials</em></li>
            <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Value Proposition</em></li>
             <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Sales Support
             </em></li>
          </ul>
        </div>
         <div class="col-md-6">
          <ul>
            <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Explainer Videos </em></li>
            <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Demos </em> </li>
            <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Customer Success</em></li>
             <li><em class='bebas' style='font-style: normal; font-size:1.35em'> Thought Leadership</em></li>
          </ul>
        </div>
        </div>
        <div class="nk-gap-1"></div>
      </div>
    </div>
  </div>
</div>
