
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've Joined The Waitlist</h1>
    <p>
      <%= @email %> Has Saved A Spot On The Waitlist
      <br>
    </p>
    <p>
    </p>
    <p>Thanks for joining!</p>
  </body>
</html>


