<div class="nk-widget">
          <h4 class="nk-widget-title">Recent Posts</h4>
          <div>

            <div class="nk-widget-post">
              <a href="blog-single-image.html" class="nk-image-box-1 nk-post-image">
                <img src="https://cdn-html.nkdev.info/khaki/assets/images/post-1-sm.jpg" alt="">
              </a>
              <h3 class="nk-post-title"><a href="blog-single-image.html">Image Blog Post</a></h3>
              <div class="nk-post-meta-date">September 18, 2018</div>
            </div>

            <div class="nk-widget-post">
              <a href="blog-single-video.html" class="nk-image-box-1 nk-post-image">
                <img src="https://cdn-html.nkdev.info/khaki/assets/images/post-2-sm.jpg" alt="">
              </a>
              <h3 class="nk-post-title"><a href="blog-single-video.html">Video Blog Post</a></h3>
              <div class="nk-post-meta-date">September 5, 2018</div>
            </div>

            <div class="nk-widget-post">
              <a href="blog-single-quote.html" class="nk-image-box-1 nk-post-image">
                <img src="https://cdn-html.nkdev.info/khaki/assets/images/post-3-sm.jpg" alt="">
              </a>
              <h3 class="nk-post-title"><a href="blog-single-quote.html">Blockquote Blog Post</a></h3>
              <div class="nk-post-meta-date">August 27, 2018</div>
            </div>

          </div>
        </div>
