<div class="nk-widget">
          <h4 class="nk-widget-title">Decks</h4>
          <div>
            <ul class="nk-widget-categories">
              <li>
                <a href="#">General</a>
              </li>
              <li>
                <a href="#">Product</a>
              </li>
              <li>
                <a href="#">Lifestyle</a>
              </li>
               <li>
                <a href="#">Food</a>
              </li>
            </ul>
          </div>
        </div>
