<div class="nk-header-title nk-header-title-xl nk-header-title-parallax nk-header-title-parallax-opacity">
    <div class="bg-image op-6">
        <div style="height:750px; background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/HompageHeader/HomePageHeader.jpg');"></div>
    </div>
    <div class="nk-header-table">
        <div class="nk-header-table-cell">
            <div class="container">
                <div class="nk-header-text">
                    <h1 class="display-3" style="font: raleway; font-weight: 800;">
                      NOW
                      <span class='raleway-thinnest' style="padding-right: 6px; padding-left: 6px">YOUR</span>
                      BRAND
                      <span class='raleway-thinnest' style="padding-right: 6px; padding-left: 6px">IS</span>
                      GLOBAL
                    </h1>
                    <div class="nk-gap"></div>
                    <!-- <h2 class="nk-title nk-font-inherit fw-500">The Most Advanced Website Layouts</h2>

                    <div class="nk-gap-2"></div> -->
                    <!-- <a class="nk-video-fullscreen-toggle" href="https://vimeo.com/108018156">
                        <span class="nk-video-icon-2-light"><i class="fa fa-play pl-5"></i></span>
                    </a> -->

                </div>


            </div>
        </div>
    </div>
</div>
