<div class="nk-box text-center">
    <div class="nk-gap-4"></div>
    <img src="https://nomcre-rails.s3-us-west-2.amazonaws.com/assets/colorlib-wizard-3/images/thumbnail_mock-imac-1-nomcre.png" class="nk-img" alt="">
    <div class="nk-gap-2"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2 class="h1 nk-title bebas">Content Production Specifically for Franchises</h2>
                <h3 class="nk-sub-title" >Videos Specialized to Optimize Your Awareness & Outreach Process</h3>
                <div class="nk-gap"></div>
                <p class="h6"> NOCMRE is the easiest way to create all the visual assets that fit into your sales, marketing, & engagement process. <!-- And the tools to send them out simply --></p>
                <br>
                <a href="https://drift.me/pauly/meeting" class="nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-color-main-1 bebas">
                    <span class="icon"><i class="ion-md-cart"></i></span>
                    Let's Get Started
                </a>
            </div>
        </div>
    </div>
    <div class="nk-gap-5"></div>
</div>


