<div class="nk-box bg-dark-1 text-white">
  <div class="bg-image-row row">
    <div class="col-lg-6">
        <div class="bg-image bg-image-parallax" style="background-image: url('https://nomcre-rails.s3-us-west-2.amazonaws.com/public-page-images/stacked-images/PhotoStack.png');">
      </div>
    </div>
  </div>
  <div class="" style="margin-left:24px;margin-right: 24px;">
    <div class="row">
      <div class="col-lg-5 offset-lg-7">
        <div class="nk-gap-5"></div>
        <h2 class="h1 nk-title bebas">FOR <span class='text-main-1'>FRANCHISES</span></h2>
        <div class="nk-gap-1"></div>

        <p class='text-left'>
          There’s a <strong> big</strong> difference between marketing that features your brand as the solution and marketing that showcases your particular location. Sharing compelling content in the appropriate channels with your audience is critical.
          <div class="nk-gap-1"></div>
          Corporate national marketing plan(s) tend to include marketing around the central brand, <span class='text-main-1' >but nothing that connects the brand to local communities </span> or supports the local franchise’s efforts already in place - Xivic
          <div class="nk-gap-1"></div>
          Customers are less <span class='text-main-1'>likely to regularly engage </span> with your website if it only contains generic information - Xivic
        </p>
        <p class='text-left'>

         Here’s what that means. Relevant, contextual content is an essential component of successful marketing plans. A library of fresh, compelling content will significantly decrease your cost to acquire new customers with assets like:
        </p>
        <div class="nk-gap-2"></div>
        <div class='row' style="margin-left:24px;margin-right: 24px;">
          <div class="col-md-6">
            <ul>
              <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Direct Sales </em></li>
              <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Success Stories</em></li>
              <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Awards</em></li>
               <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Testimonials
               </em></li>
            </ul>
          </div>
         <div class="col-md-6">
          <ul>
            <li><em class='bebas' style='font-style: normal; font-size:1.35em'>New Product Launch </em></li>
            <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Promotions </em> </li>
            <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Announcements</em></li>
             <li><em class='bebas' style='font-style: normal; font-size:1.35em'> Open Position Descriptions</em></li>
          </ul>
        </div>
        </div>
        <div class="nk-gap-1"></div>
      </div>
    </div>
  </div>
</div>
