<div class="">
  <div class="nk-box ">
    <div class="bg-image-row row">
      <div class="offset-lg-6 col-lg-6">
        <div class="bg-image bg-image-parallax" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/stacked-images/VideoStack.png');"></div>
      </div>
    </div>
    <div class="" style="margin-left:24px; margin-right: 24px;">
      <div class="nk-gap-5"></div>
      <div class="row">
        <div class="col-md-6 ">

          <h2 class="h1 nk-title bebas">
            <img style="max-height:25px; max-width:25px; border-radius:100%" src="https://s3-us-west-2.amazonaws.com/nomcre/logos/UpperLeftHPlogo+2.png" alt="Upperlefthplogo+2">
            WHY SHOULD <span class="text-main-1">FRANCHISES</span> USE VIDEO?</h2>

          </h2>
          <p class='text-left'>
            Do you have a marketing plan tailored to bring customers to your location? Do you have assets your team can execute with? If so, are those assets strategically sound and clear?
            <br>
            Even one “no”, means that you and your business are missing out on, and perhaps losing customers. To stop losing customers, you’ll need to:
            <br>
            <div class='container'>
              <ul>
                <li class='h6'>Define your most profitable customer personas</li>
                <li class='h6'>Remove friction points in your customer’s journey</li>
                <li class='h6'>Produce content that compels customers to acts</li>
              </ul>
            </div>
          </p>
          <br>
          <p class='text-left'>
            Fresh, compelling assets can position your location as the solution in the minds of prospective customers. With video you can:
          </p>

          <div class='center' style="margin-left:24px;margin-right: 24px;">
            <ul>
              <li>
                <em class='bebas' style='font-style: normal; font-size:1.35em'>
                  Re-Engage Loyal Customers
                </em>
              </li>
              <li>
                <em class='bebas' style='font-style: normal; font-size:1.35em'>
                  Introduce New Products
                </em>
              </li>
              <li>
                <em class='bebas' style='font-style: normal; font-size:1.35em'>
                  Connect With Your Community
                </em>
              </li>
              <li>
                <em class='bebas' style='font-style: normal; font-size:1.35em'>
                  Conduct Regional Training & Communication
                </em>
              </li>
              <li>
                <em class='bebas' style='font-style: normal; font-size:1.35em'>
                  Engage Via Social
                </em>
              </li>
              <li>
                <em class='bebas' style='font-style: normal; font-size:1.35em'>
                  Answer Questions Before Theyre Asked (FAQ)
                </em>
              </li>
              <li>
                <em class='bebas' style='font-style: normal; font-size:1.35em'>
                  Increase Your Engagment with Social Stories
                </em>
              </li>
              <li>
                <em class='bebas' style='font-style: normal; font-size:1.35em'>
                  And So Much More...
                </em>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="nk-gap-5"></div>
    </div>
  </div>
</div>
