

<div class="nk-box">
    <div class='nk-gap-4'></div>
  <div class="bg-image-row row">
    <div class="col-lg-6">
      <div class="bg-image bg-image-parallax" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/stacked-images/Stack-Bundle.png');">
      </div>
    </div>
  </div>

    <div class="container">
         <div class="text-right text-main-8">
                <!-- <h4 class="nk-title-back">CONVERT MORE PROSPECTS</h4> -->
                <!-- <h4 class="nk-sub-title text-main-7">[Custom Creative On Demand]</h4> -->
                <div class='nk-gap-1'></div>
                <h2 class="nk-title display-4">Use It <span class='raleway-thinnest'>Or</span> Lose It?</h2>
            </div>
      <div class="row" style='margin-left: 16px;'>
        <div class="ol-lg-5 offset-lg-7">
          <div class="row align-items-center">
            <div class="nk-gap-1"></div>
            <div class='testimonial-body'>
              Still have room in your 'Use It Or Lose It' Budget? We created the <b>Name Your Deposit </b> Tool just for you!
            </div>
            <div class='testimonial-body' style="margin-top:12px;">

             Lock in this years prices for any photo, video, copywriting or marketing services & put it toward any project, any time, in 2020.<br><br>
            </div>
             <%= render 'payments/partials/variable_payment_button' %>
          </div>

        </div>

      </div>

    </div>


    <div class="nk-gap-4"></div>
  </div>


