<div class="nk-main">
<div class='nk-gap-5'></div>
<h1> Marketing </h1>

<h2> Types of Videos </h2>
<ul>
  <li>Demos</li>
  <li>Brand</li>
  <li>Event</li>
  <li>Instructionals</li>
  <li>Case Studies</li>
  <li>Personalized Messages</li>

</ul>

<h2> Reasons For Making Videos </h2>
<ul>
  <li>Lead Gen</li>
  <li>Push Prospects through Funnel</li>
  <li>Exciting Nuture Campaign Content</li>
  <li>Announcements</li>
  <li>Direct Outreach</li>
  <li> Event Recap </li>
  <li> Social Posts </li>
  <li> Social Sotries </li>
</ul>
</div>
