<div class="nk-main">
<div class='nk-gap-5'></div>
<h1> Sales </h1>

<h2> Types of Videos </h2>
<ul>
  <li>Personalized Sales Videos For Leads and Prospects</li>
  <li>Explanation Videos for Upselling Customers</li>
  <li>Videos To Push Prospects Through The Sales Pipeline</li>
  <li>Event Announcements</li>
  <li>Meeting Follow Up Videos</li>
  <li>Micro Demos</li>
</ul>

<h2> Reasons For Making Videos </h2>
<ul>
  <li>Improve retention rates</li>
  <li>Resolve Customer issues Faster</li>
  <li>Increase customer satisfaction</li>
  <li>Re-engage prospects who went dark</li>
</ul>


<div class="nk-box bg-gray-3 text-center">
  <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <!-- <h2 class="nk-title">Benefits</h2> -->
                    <h3 class="nk-sub-title" style='font-size: 24px;'>The NOMCRE Way guarantees your ability to bring your stories to life.</h3>
                    <div class="nk-gap-2"></div>
                    <p style="text-align:justify">Nomcre gives you access to talented creators across the globe trained to bring your concept to life. Create on 6 continents without learning a single language. Our in-house editing team can take content from each of our creators and create a consistent look and feel across all your assets. </p>

                    <p style="text-align:justify"> You will never again have to worry that your photographer is too busy to edit the work they've done for you. We will make your new visual assets everything you dream them to be, quickly &amp; more cost-effectively than anything you’ve seen before, without a long-term contract. </p>

                    <p style="text-align:justify"> And, most importantly, we will never sell you stock images, or sell the creative we capture for you. You will never have to worry about copyright issues or someone else purchasing the image before you bought the exclusive rights. You are granted exclusive rights in perpetuity on the fruits of our labors.  </p>
                    <div class="nk-gap-2"></div>
                    <div class='text-center'>
            <a href="https://calendly.com/nomcre/intro/" target="_blank" class="nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-circle nk-btn-color-dark-1">
                            <span class="icon"><i class="ion-ios-monitor-outline"></i></span>
                            Book Your Demo
                        </a>
        </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>




<div class="nk-box bg-dark-1 text-white">
  <div class="bg-image-row row">
    <div class="col-lg-6">
      <div class="bg-image bg-image-parallax" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/horizontal/nomcre-horizontal6.JPG');"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 offset-lg-7">
        <div class="nk-gap-5"></div>
        <h2 class="h1 nk-title">How Can Sales Use Video?</h2>
        <div class="nk-gap-2"></div>

        <div class="nk-ibox-2">
          <div class="nk-ibox-icon">
            <span class="fa fa-clock-o"></span>
          </div>
          <div class="nk-ibox-cont">
            <h3 class="nk-ibox-title"><a href="#">Personalized Sales Videos For Leads and Prospects</a></h3>
            Varius nullam sociosqu luctus faucibus phasellus Elit amet hendrerit eros, mi egestas mus taciti eros cubilia. Sociosqu lacus hymenaeos egestas.
          </div>
        </div>
        <div class="nk-gap"></div>

        <div class="nk-ibox-2">
          <div class="nk-ibox-icon">
            <span class="fa fa-globe"></span>
          </div>
          <div class="nk-ibox-cont">
            <h3 class="nk-ibox-title"><a href="#">Explanation Videos for Upselling Customers</a></h3>
            All returned to you in under 10 days.
          </div>
        </div>
        <div class="nk-gap"></div>

        <div class="nk-ibox-2">
          <div class="nk-ibox-icon">
            <span class="fa fa-user"></span>
          </div>
          <div class="nk-ibox-cont">
            <h3 class="nk-ibox-title"><a href="#">Videos To Push Prospects Through The Sales Pipeline</a></h3>
            All the photos are shot specifically under your brand guidelines, and tailed to your needs.
          </div>
        </div>
        <div class="nk-gap"></div>

        <div class="nk-ibox-2">
          <div class="nk-ibox-icon">
            <span class="fa fa-user"></span>
          </div>
          <div class="nk-ibox-cont">
            <h3 class="nk-ibox-title"><a href="#">Meeting Follow Up Videos</a></h3>
            All the photos are shot specifically under your brand guidelines, and tailed to your needs.
          </div>
        </div>

        <div class="nk-gap-5"></div>
      </div>
    </div>
  </div>
</div>

<div class="">
 <div class="nk-box ">
    <div class="bg-image-row row">
        <div class="offset-lg-6 col-lg-6">
          <div class="bg-image bg-image-parallax" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/horizontal/nomcre-horizontal6.JPG');"></div>
        </div>
    </div>
    <div class="container">
      <div class="nk-gap-4"></div>
        <div class="row">
            <div class="col-md-6 ">

                <h2 class="h2 nk-title">
                     <img style="max-height:25px; max-width:25px; border-radius:100%" src="https://s3-us-west-2.amazonaws.com/nomcre/logos/UpperLeftHPlogo+2.png" alt="Upperlefthplogo+2">
                     Why Should Sales Use Video?

                </h2>
                <h3 class="nk-sub-title"></h3>
                <div class="nk-gap"></div>
                <div class="nk-ibox-2">
                  <div class="nk-ibox-icon">
                    <span class="fa fa-user"></span>
                  </div>
                  <div class="nk-ibox-cont">
                    <h3 class="nk-ibox-title"><a href="#">Improve retention rates</a></h3>
                    All the photos are shot specifically under your brand guidelines, and tailed to your needs.
                  </div>
                </div>
                <div class="nk-gap-2"></div>
                <div class="nk-ibox-2">
                  <div class="nk-ibox-icon">
                    <span class="fa fa-user"></span>
                  </div>
                  <div class="nk-ibox-cont">
                    <h3 class="nk-ibox-title"><a href="#">2</a></h3>
                    All the photos are shot specifically under your brand guidelines, and tailed to your needs.
                  </div>
                </div>
                <div class="nk-gap-2"></div>
                <div class="nk-ibox-2">
                  <div class="nk-ibox-icon">
                    <span class="fa fa-user"></span>
                  </div>
                  <div class="nk-ibox-cont">
                    <h3 class="nk-ibox-title"><a href="#">3</a></h3>
                    All the photos are shot specifically under your brand guidelines, and tailed to your needs.
                  </div>
                </div>
                <div class="nk-gap-2"></div>
                <div class="nk-ibox-2">
                  <div class="nk-ibox-icon">
                    <span class="fa fa-user"></span>
                  </div>
                  <div class="nk-ibox-cont">
                    <h3 class="nk-ibox-title"><a href="#">4</a></h3>
                    All the photos are shot specifically under your brand guidelines, and tailed to your needs.
                  </div>
                </div>
                <div class="nk-gap-5"></div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
</div>

</div>
</div>
