<section class="content">

      <div class="row">
        <div class="col-md-4">

          <!-- Profile Image -->
          <%= render 'user_profiles/partials/profile_image' %>
          <!-- /.box -->

          <!-- About Me Box -->
          <%= render 'user_profiles/partials/about_me'  %>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-8">
          <%= render 'user_profiles/partials/tabs'%>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
</section>
