<% if current_user.user_type == "creative" %>
<% proposals = current_user.proposals.where('deadline > ?', Date.today - 14.days ) %>
<% else %>
<% proposals = current_user.company.proposals.where('deadline > ?', Date.today - 14.days ) %>
<%= "company" %>
<% end %>
<div class="people-list" id="people-list">
  <ul class="list" style="list-style: none;">
    <li>
            <div class='col-md-2'>
            <%= link_to proposals_path, class: 'btn btn-primary', style:"color: white" do %>
              <i class='fa fa-arrow-left'></i> Back
            <% end %>
            <hr>
          </li>

    <% if proposals.count > 0 %>
    <%proposals.each do |proposal| %>
      <li class="clearfix">
        <%= image_tag proposal.chatroom.messages.last.user.profile_image unless proposal.chatroom.messages.last.nil? %>
        <div class="about">
          <div class="name"><%= link_to proposal.title, chatroom_path(proposal.chatroom), style: 'color:white; text-decoration: none;' %></div>
          <div class="status">
          </div>
        </div>
      </li>
    <% end %>
    <%end %>
  </ul>
</div>
