
<div class="people-list" id="people-list" style='overflow-y: scroll;'>
  <ul class="list" style="list-style: none;">
    <li>
      <div class='col-md-2'>
      <%= link_to projects_path, class: 'btn btn-primary', style:"color: white" do %>
        <i class='fa fa-arrow-left'></i> Back
      <% end %>
      <hr>
    </li>
    <% if @menu_rooms.count > 0 %>
    <% @menu_rooms.each do |chatroom| %>
      <li class="clearfix">
        <%= image_tag chatroom.messages.last.user.profile_image unless chatroom.messages.last.nil? %>
        <div class="about">
          <div class="name"><%= link_to chatroom.shoot.project.title, chatroom_path(chatroom), style: 'color:white; text-decoration: none;' %></div>
          <div class="status">
          </div>
        </div>
      </li>
    <% end %>
    <%end %>
  </ul>
</div>
