<span class="info-box-icon bg-gray-light"><i class="fa fa-sun-o"></i></span>
<div class="info-box-content">
   <div class='edit-padding'>
    <%if current_user.company == @proposal.company  %>
  <%= link_to edit_proposal_path(@proposal), class: 'pull-right' do %>
    <i class='fa fa-edit'></i> Edit
  <% end %>
  <% end %>
</div>
  <span class="info-box-number">Time Of Day</span>
  <span class="info-box-text"><%= @proposal.time_of_day %></span>

</div>
