<h1>Let's Start A Project</h1>
<div class='card'>
  <div class='card-header'>
    <div class='card-title text-center'>
      <h4>Would You Like To Start From One Of Our Packages?</h4>
    </div>
  </div>
  <div class="card-body">
    <%= render :partial => 'projects/partials/black_dashboard/new/new',
               :locals => {project: @project, package_types: @package_types} %>
  </div>
  <div class="card-footer"></div>
</div>
<div class="modal fade" id="newProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please Wait While Your Project Is Created ... </h5>
      </div>
      <div class="modal-body text-center">
        <p> <i class="fa fa-spinner fa-spin" style="font-size:24px"></i></p>
      </div>
      <div class="modal-footer">

        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>
