<div class='form-group'>
<%= form.label :description %>
<%= form.text_area :description, id: :shot_list_item_description, class: 'form-control', rows: 2, placeholder: 'Tell us what you want the shot to look like...' %>
</div>
