<h4>Focus Point </h4>
<hr>
<div class='row text-center' style="margin:12px;">
  <div class='col-md-4 col-sm-4 col-xs-4'>
    <div class="form-check form-check-radio radio-icons">
      <label class="form-check-label ">
        <%= form.radio_button :focus_point, 'Left', class: 'form-check-input center'%>
        <span class="form-check-sign"></span>
        <i class='fas fa-arrow-left text-primary' style="font-size: 36px; margin-top: -24px;"> </i><br>
        Left
      </label>
    </div>
    <br>
  </div>
  <div class='col-md-4 col-sm-4 col-xs-4 '>
    <div class="form-check form-check-radio radio-icons">
      <label class="form-check-label ">
        <%= form.radio_button :focus_point, 'Center', class: 'form-check-input center'%>
        <span class="form-check-sign"></span>
        <i class='fas fa-arrows-alt-v text-primary' style="font-size: 36px; margin-top: -24px;"> </i><br>
        Center
      </label>
    </div>
    <br>
  </div>
  <div class='col-md-4 col-sm-4 col-xs-4 '>
    <div class="form-check form-check-radio radio-icons">
      <label class="form-check-label ">
        <%= form.radio_button :focus_point, 'Right', class: 'form-check-input center'%>
        <span class="form-check-sign"></span>
        <i class='fas fa-arrow-right text-primary' style="font-size: 36px; margin-top: -24px;"> </i><br>
        Right
      </label>
    </div>
    <br>
  </div>
</div>
