<div class='form-group'>
<%= form.label :shoot_location %>
<%= form.text_field :shoot_location, id: :shot_list_item_shoot_location, class: 'form-control', placeholder: 'Where will this be shot?' %>
</div>

