<div class='row'>
  <div class='col-sm-7 col-md-8'>
    <label>Choose An Existing Group </label>
    <% select_options = shoot.task_groups.reverse.map{|tg| [tg.title, tg.id]} %>
    <%= form.select(:task_group_id, select_options, {}, {class: 'form-control'}) %>
  </div>
  <div class='col-sm-1 col-md-1'>

    <label  style='margin-top:24px'>OR</label>
  </div>
  <div class='col-sm-4 col-md-3'>
    <%= link_to "Add Group", "#", id: 'newGroupBtn', class: 'btn btn-primary btn-simple', style: 'margin-top:16px' %>
  </div>
</div>






