  <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent fixed-top">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <div class="navbar-toggle d-inline">
          <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <a class="navbar-brand" href="javascript:void(0)">Pricing Page</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="../dashboard.html" class="nav-link text-primary">
              <i class="tim-icons icon-minimal-left"></i> Back to Dashboard
            </a>
          </li>
          <li class="nav-item ">
            <a href="register.html" class="nav-link">
              <i class="tim-icons icon-laptop"></i> Register
            </a>
          </li>
          <li class="nav-item ">
            <a href="login.html" class="nav-link">
              <i class="tim-icons icon-single-02"></i> Login
            </a>
          </li>
          <li class="nav-item  active ">
            <a href="pricing.html" class="nav-link">
              <i class="tim-icons icon-coins"></i> Pricing
            </a>
          </li>
          <li class="nav-item ">
            <a href="lock.html" class="nav-link">
              <i class="tim-icons icon-lock-circle"></i> Lock
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Navbar -->
  <div class="wrapper wrapper-full-page ">
    <div class="full-page pricing-page">
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <h1 class="title">Pick the best plan for you</h1>
              <h4 class="description">You have Free Unlimited Updates and Premium Support on each package.</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="card card-pricing card-primary">
                <div class="card-body">
                  <h1 class="card-title">pro</h1>
                  <img class="card-img" src="../../assets/img/card-primary.png" alt="Image">
                  <ul class="list-group">
                    <li class="list-group-item">300 messages</li>
                    <li class="list-group-item">150 emails</li>
                    <li class="list-group-item">24/7 Support</li>
                  </ul>
                  <div class="card-prices">
                    <h3 class="text-on-front">
                      <span>$</span>95</h3>
                    <h5 class="text-on-back">95</h5>
                    <p class="plan">Professional plan</p>
                  </div>
                </div>
                <div class="card-footer text-center mb-3 mt-3">
                  <button class="btn btn-round btn-just-icon btn-primary">Get started</button>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card card-pricing card-success card-white">
                <div class="card-body">
                  <h1 class="card-title">basic</h1>
                  <img class="card-img" src="../../assets/img/card-success.png" alt="Image">
                  <ul class="list-group">
                    <li class="list-group-item">50 messages</li>
                    <li class="list-group-item">100 emails</li>
                    <li class="list-group-item">24/7 Support</li>
                  </ul>
                  <div class="card-prices">
                    <h3 class="text-on-front">
                      <span>$</span>57</h3>
                    <h5 class="text-on-back">57</h5>
                    <p class="plan">Basic plan</p>
                  </div>
                </div>
                <div class="card-footer text-center mb-3 mt-3">
                  <button class="btn btn-round btn-just-icon btn-success">Get started</button>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card card-pricing card-warning card-raised card-white">
                <div class="card-body">
                  <h1 class="card-title">mid</h1>
                  <img class="card-img" src="../../assets/img/card-warning.png" alt="Image">
                  <ul class="list-group">
                    <li class="list-group-item">200 messages</li>
                    <li class="list-group-item">130 emails</li>
                    <li class="list-group-item">24/7 Support</li>
                  </ul>
                  <div class="card-prices">
                    <h3 class="text-on-front">
                      <span>$</span>72</h3>
                    <h5 class="text-on-back">72</h5>
                    <p class="plan">Medium plan</p>
                  </div>
                </div>
                <div class="card-footer text-center mb-3 mt-3">
                  <button class="btn btn-round btn-just-icon btn-warning">Get started</button>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card card-pricing card-danger card-white">
                <div class="card-body">
                  <h1 class="card-title">trial</h1>
                  <img class="card-img" src="../../assets/img/card-danger.png" alt="Image">
                  <ul class="list-group">
                    <li class="list-group-item">50 messages</li>
                    <li class="list-group-item">50 emails</li>
                    <li class="list-group-item">No Support</li>
                  </ul>
                  <div class="card-prices">
                    <h3 class="text-on-front">
                      <span>$</span>9</h3>
                    <h5 class="text-on-back">9</h5>
                    <p class="plan">Trial plan</p>
                  </div>
                </div>
                <div class="card-footer text-center mb-3 mt-3">
                  <button class="btn btn-round btn-just-icon btn-danger">Get started</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-5">
            <h3 class="title">Professional Plan</h3>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p>Premium pricing is the strategy of consistently pricing at, or near, the high end of the possible price range to help attract status-conscious consumers. The high pricing of a premium product ...</p>
            </div>
            <div class="col-md-6 ml-auto">
              <div class="progress-container progress-warning">
                <span class="progress-badge">500GB</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                  </div>
                </div>
              </div>
              <div class="progress-container progress-primary">
                <span class="progress-badge">4 years</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                Creative Tim
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                Blog
              </a>
            </li>
          </ul>
          <div class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script> made with <i class="tim-icons icon-heart-2"></i> by
            <a href="javascript:void(0)" target="_blank">Creative Tim</a> for a better web.
          </div>
        </div>
      </footer>
    </div>
  </div>
