<div class="wrapper">
    <div class="navbar-minimize-fixed">
      <button class="minimize-sidebar btn btn-link btn-just-icon">
        <i class="tim-icons icon-align-center visible-on-sidebar-regular text-muted"></i>
        <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini text-muted"></i>
      </button>
    </div>
    <div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
            CT
          </a>
          <a href="javascript:void(0)" class="simple-text logo-normal">
            Creative Tim
          </a>
        </div>
        <ul class="nav">
          <li>
            <a href="../../examples/dashboard.html">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a data-toggle="collapse" href="#pagesExamples">
              <i class="tim-icons icon-image-02"></i>
              <p>
                Pages
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse" id="pagesExamples">
              <ul class="nav">
                <li>
                  <a href="../../examples/pages/pricing.html">
                    <span class="sidebar-mini-icon">P</span>
                    <span class="sidebar-normal"> Pricing </span>
                  </a>
                </li>
                <li>
                  <a href="../../examples/pages/rtl.html">
                    <span class="sidebar-mini-icon">RS</span>
                    <span class="sidebar-normal"> RTL Support </span>
                  </a>
                </li>
                <li>
                  <a href="../../examples/pages/timeline.html">
                    <span class="sidebar-mini-icon">T</span>
                    <span class="sidebar-normal"> Timeline </span>
                  </a>
                </li>
                <li>
                  <a href="../../examples/pages/login.html">
                    <span class="sidebar-mini-icon">L</span>
                    <span class="sidebar-normal"> Login </span>
                  </a>
                </li>
                <li>
                  <a href="../../examples/pages/register.html">
                    <span class="sidebar-mini-icon">R</span>
                    <span class="sidebar-normal"> Register </span>
                  </a>
                </li>
                <li>
                  <a href="../../examples/pages/lock.html">
                    <span class="sidebar-mini-icon">LS</span>
                    <span class="sidebar-normal"> Lock Screen </span>
                  </a>
                </li>
                <li>
                  <a href="../../examples/pages/user.html">
                    <span class="sidebar-mini-icon">UP</span>
                    <span class="sidebar-normal"> User Profile </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a data-toggle="collapse" href="#componentsExamples">
              <i class="tim-icons icon-molecule-40"></i>
              <p>
                Components
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse" id="componentsExamples">
              <ul class="nav">
                <li>
                  <a data-toggle="collapse" aria-expanded="false" href="#multicollapse">
                    <span class="sidebar-mini-icon">MLT</span>
                    <span class="sidebar-normal"> Multi Level Collapse
                      <b class="caret"></b>
                    </span>
                  </a>
                  <div class="collapse" id="multicollapse">
                    <ul class="nav">
                      <li>
                        <a>
                          <span class="sidebar-mini-icon">E</span>
                          <span class="sidebar-normal"> Example </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="../../examples/components/buttons.html">
                    <span class="sidebar-mini-icon">B</span>
                    <span class="sidebar-normal"> Buttons </span>
                  </a>
                </li>
                <li>
                  <a href="../../examples/components/grid.html">
                    <span class="sidebar-mini-icon">G</span>
                    <span class="sidebar-normal"> Grid System </span>
                  </a>
                </li>
                <li>
                  <a href="../../examples/components/panels.html">
                    <span class="sidebar-mini-icon">P</span>
                    <span class="sidebar-normal"> Panels </span>
                  </a>
                </li>
                <li>
                  <a href="../../examples/components/sweet-alert.html">
                    <span class="sidebar-mini-icon">SA</span>
                    <span class="sidebar-normal"> Sweet Alert </span>
                  </a>
                </li>
                <li>
                  <a href="../../examples/components/notifications.html">
                    <span class="sidebar-mini-icon">N</span>
                    <span class="sidebar-normal"> Notifications </span>
                  </a>
                </li>
                <li>
                  <a href="../../examples/components/icons.html">
                    <span class="sidebar-mini-icon">I</span>
                    <span class="sidebar-normal"> Icons </span>
                  </a>
                </li>
                <li>
                  <a href="../../examples/components/typography.html">
                    <span class="sidebar-mini-icon">T</span>
                    <span class="sidebar-normal"> Typography </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a data-toggle="collapse" href="#formsExamples">
              <i class="tim-icons icon-notes"></i>
              <p>
                Forms
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse" id="formsExamples">
              <ul class="nav">
                <li>
                  <a href="../../examples/forms/regular.html">
                    <span class="sidebar-mini-icon">RF</span>
                    <span class="sidebar-normal"> Regular Forms </span>
                  </a>
                </li>
                <li>
                  <a href="../../examples/forms/extended.html">
                    <span class="sidebar-mini-icon">EF</span>
                    <span class="sidebar-normal"> Extended Forms </span>
                  </a>
                </li>
                <li>
                  <a href="../../examples/forms/validation.html">
                    <span class="sidebar-mini-icon">V</span>
                    <span class="sidebar-normal"> Validation Forms </span>
                  </a>
                </li>
                <li>
                  <a href="../../examples/forms/wizard.html">
                    <span class="sidebar-mini-icon">W</span>
                    <span class="sidebar-normal"> Wizard </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="active">
            <a data-toggle="collapse" href="#tablesExamples" aria-expanded="true">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>
                Tables
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse show " id="tablesExamples">
              <ul class="nav">
                <li>
                  <a href="../../examples/tables/regular.html">
                    <span class="sidebar-mini-icon">RT</span>
                    <span class="sidebar-normal"> Regular Tables </span>
                  </a>
                </li>
                <li class="active">
                  <a href="../../examples/tables/extended.html">
                    <span class="sidebar-mini-icon">ET</span>
                    <span class="sidebar-normal"> Extended Tables </span>
                  </a>
                </li>
                <li>
                  <a href="../../examples/tables/datatables.net.html">
                    <span class="sidebar-mini-icon">DT</span>
                    <span class="sidebar-normal"> DataTables.net </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a data-toggle="collapse" href="#mapsExamples">
              <i class="tim-icons icon-pin"></i>
              <p>
                Maps
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse" id="mapsExamples">
              <ul class="nav">
                <li>
                  <a href="../../examples/maps/google.html">
                    <span class="sidebar-mini-icon">GM</span>
                    <span class="sidebar-normal"> Google Maps </span>
                  </a>
                </li>
                <li>
                  <a href="../../examples/maps/fullscreen.html">
                    <span class="sidebar-mini-icon">FM</span>
                    <span class="sidebar-normal"> Full Screen Map </span>
                  </a>
                </li>
                <li>
                  <a href="../../examples/maps/vector.html">
                    <span class="sidebar-mini-icon">VM</span>
                    <span class="sidebar-normal"> Vector Map </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="../../examples/widgets.html">
              <i class="tim-icons icon-settings"></i>
              <p>Widgets</p>
            </a>
          </li>
          <li>
            <a href="../../examples/charts.html">
              <i class="tim-icons icon-chart-bar-32"></i>
              <p>Charts</p>
            </a>
          </li>
          <li>
            <a href="../../examples/calendar.html">
              <i class="tim-icons icon-time-alarm"></i>
              <p>Calendar</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-minimize d-inline">
              <button class="minimize-sidebar btn btn-link btn-just-icon" rel="tooltip" data-original-title="Sidebar toggle" data-placement="right">
                <i class="tim-icons icon-align-center visible-on-sidebar-regular"></i>
                <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini"></i>
              </button>
            </div>
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Extended Tables</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="search-bar input-group">
                <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split"></i>
                  <span class="d-lg-none d-md-block">Search</span>
                </button>
              </li>
              <li class="dropdown nav-item">
                <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="notification d-none d-lg-block d-xl-block"></div>
                  <i class="tim-icons icon-sound-wave"></i>
                  <p class="d-lg-none">
                    Notifications
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                  <li class="nav-link">
                    <a href="#" class="nav-item dropdown-item">Mike John responded to your email</a>
                  </li>
                  <li class="nav-link">
                    <a href="javascript:void(0)" class="nav-item dropdown-item">You have 5 more tasks</a>
                  </li>
                  <li class="nav-link">
                    <a href="javascript:void(0)" class="nav-item dropdown-item">Your friend Michael is in town</a>
                  </li>
                  <li class="nav-link">
                    <a href="javascript:void(0)" class="nav-item dropdown-item">Another notification</a>
                  </li>
                  <li class="nav-link">
                    <a href="javascript:void(0)" class="nav-item dropdown-item">Another one</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="photo">
                    <img src="../../assets/img/mike.jpg" alt="Profile Photo">
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                    Log out
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link">
                    <a href="javascript:void(0)" class="nav-item dropdown-item">Profile</a>
                  </li>
                  <li class="nav-link">
                    <a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a>
                  </li>
                  <li class="dropdown-divider"></li>
                  <li class="nav-link">
                    <a href="javascript:void(0)" class="nav-item dropdown-item">Log out</a>
                  </li>
                </ul>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <ol class="breadcrumb bg-transparent ml-3">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">Library</a>
            </li>
            <li class="breadcrumb-item active">Data</li>
          </ol>
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="tools float-right">
                  <div class="dropdown">
                    <button type="button" class="btn btn-default dropdown-toggle btn-link btn-icon" data-toggle="dropdown">
                      <i class="tim-icons icon-settings-gear-63"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <a class="dropdown-item text-danger" href="#">Remove Data</a>
                    </div>
                  </div>
                </div>
                <h4 class="card-title">Simple Table</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary">
                      <tr>
                        <th class="text-center">
                          #
                        </th>
                        <th>
                          Name
                        </th>
                        <th>
                          Job Position
                        </th>
                        <th class="text-center">
                          Since
                        </th>
                        <th class="text-right">
                          Salary
                        </th>
                        <th class="text-right">
                          Actions
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center">
                          <div class="photo">
                            <img src="../../assets/img/tania.jpg" alt="Table image">
                          </div>
                        </td>
                        <td>
                          Andrew Mike
                        </td>
                        <td>
                          Develop
                        </td>
                        <td class="text-center">
                          2013
                        </td>
                        <td class="text-right">
                          € 99,225
                        </td>
                        <td class="text-right">
                          <button type="button" rel="tooltip" class="btn btn-success btn-link btn-sm btn-icon " data-original-title="Tooltip on top" title="Refresh">
                            <i class="tim-icons icon-refresh-01"></i>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-sm " data-original-title="Tooltip on top" title="Delete">
                            <i class="tim-icons icon-simple-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">
                          <div class="photo">
                            <img src="../../assets/img/robi.jpg" alt="Table image">
                          </div>
                        </td>
                        <td>
                          John Doe
                        </td>
                        <td>
                          Design
                        </td>
                        <td class="text-center">
                          2012
                        </td>
                        <td class="text-right">
                          € 89,241
                        </td>
                        <td class="text-right">
                          <button type="button" rel="tooltip" class="btn btn-success btn-link btn-sm btn-icon " data-original-title="Tooltip on top" title="Refresh">
                            <i class="tim-icons icon-refresh-01"></i>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-sm " data-original-title="Tooltip on top" title="Delete">
                            <i class="tim-icons icon-simple-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">
                          <div class="photo">
                            <img src="../../assets/img/lora.jpg" alt="Table image">
                          </div>
                        </td>
                        <td>
                          Alex Mike
                        </td>
                        <td>
                          Design
                        </td>
                        <td class="text-center">
                          2010
                        </td>
                        <td class="text-right">
                          € 92,144
                        </td>
                        <td class="text-right">
                          <button type="button" rel="tooltip" class="btn btn-success btn-link btn-sm btn-icon " data-original-title="Tooltip on top" title="Refresh">
                            <i class="tim-icons icon-refresh-01"></i>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-sm " data-original-title="Tooltip on top" title="Delete">
                            <i class="tim-icons icon-simple-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">
                          <div class="photo">
                            <img src="../../assets/img/jana.jpg" alt="Table image">
                          </div>
                        </td>
                        <td>
                          Mike Monday
                        </td>
                        <td>
                          Marketing
                        </td>
                        <td class="text-center">
                          2013
                        </td>
                        <td class="text-right">
                          € 49,990
                        </td>
                        <td class="text-right">
                          <button type="button" rel="tooltip" class="btn btn-success btn-link btn-sm btn-icon   btn-neutral  " data-original-title="Tooltip on top" title="Refresh">
                            <i class="tim-icons icon-refresh-01"></i>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-sm   btn-neutral  " data-original-title="Tooltip on top" title="Delete">
                            <i class="tim-icons icon-simple-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">
                          <div class="photo">
                            <img src="../../assets/img/robi.jpg" alt="Table image">
                          </div>
                        </td>
                        <td>
                          Paul Dickens
                        </td>
                        <td>
                          Communication
                        </td>
                        <td class="text-center">
                          2015
                        </td>
                        <td class="text-right">
                          € 69,201
                        </td>
                        <td class="text-right">
                          <button type="button" rel="tooltip" class="btn btn-success btn-link btn-sm btn-icon   btn-neutral  " data-original-title="Tooltip on top" title="Refresh">
                            <i class="tim-icons icon-refresh-01"></i>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-sm   btn-neutral  " data-original-title="Tooltip on top" title="Delete">
                            <i class="tim-icons icon-simple-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">
                          <div class="photo">
                            <img src="../../assets/img/emilyz.jpg" alt="Table image">
                          </div>
                        </td>
                        <td>
                          Manuel Rico
                        </td>
                        <td>
                          Manager
                        </td>
                        <td class="text-center">
                          2012
                        </td>
                        <td class="text-right">
                          € 99,201
                        </td>
                        <td class="text-right">
                          <button type="button" rel="tooltip" class="btn btn-success btn-link btn-sm btn-icon   btn-neutral  " data-original-title="Tooltip on top" title="Refresh">
                            <i class="tim-icons icon-refresh-01"></i>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-sm   btn-neutral  " data-original-title="Tooltip on top" title="Delete">
                            <i class="tim-icons icon-simple-remove"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="tools float-right">
                  <div class="dropdown">
                    <button type="button" class="btn btn-default dropdown-toggle btn-link btn-icon" data-toggle="dropdown">
                      <i class="tim-icons icon-settings-gear-63"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <a class="dropdown-item text-danger" href="#">Remove Data</a>
                    </div>
                  </div>
                </div>
                <h4 class="card-title">Striped Table</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead class="text-primary">
                      <tr>
                        <th class="text-center">
                          #
                        </th>
                        <th>
                          Product Name
                        </th>
                        <th>
                          Type
                        </th>
                        <th>
                          Milestone
                        </th>
                        <th class="text-center">
                          Qty
                        </th>
                        <th class="text-right">
                          Price
                        </th>
                        <th class="text-right">
                          Amount
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" checked="">
                              <span class="form-check-sign"></span>
                            </label>
                          </div>
                        </td>
                        <td>
                          Moleskine Agenda
                        </td>
                        <td>
                          Office
                        </td>
                        <td>
                          <div class="progress-container">
                            <span class="progress-badge">v1.2.0</span>
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                                <span class="progress-value">25%</span>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="text-center">
                          25
                        </td>
                        <td class="text-right">
                          € 49
                        </td>
                        <td class="text-right">
                          € 1,225
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox">
                              <span class="form-check-sign"></span>
                            </label>
                          </div>
                        </td>
                        <td>
                          Stabilo Pen
                        </td>
                        <td>
                          Office
                        </td>
                        <td>
                          <div class="progress-container">
                            <span class="progress-badge">v1.4.0</span>
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                                <span class="progress-value">45%</span>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="text-center">
                          30
                        </td>
                        <td class="text-right">
                          € 10
                        </td>
                        <td class="text-right">
                          € 300
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" checked="">
                              <span class="form-check-sign"></span>
                            </label>
                          </div>
                        </td>
                        <td>
                          A4 Paper Pack
                        </td>
                        <td>
                          Office
                        </td>
                        <td>
                          <div class="progress-container">
                            <span class="progress-badge">v2.0.0</span>
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                                <span class="progress-value">10%</span>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="text-center">
                          50
                        </td>
                        <td class="text-right">
                          € 10.99
                        </td>
                        <td class="text-right">
                          € 109
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox">
                              <span class="form-check-sign"></span>
                            </label>
                          </div>
                        </td>
                        <td>
                          Apple iPad
                        </td>
                        <td>
                          Meeting
                        </td>
                        <td>
                          <div class="progress-container">
                            <span class="progress-badge">v1.5.0</span>
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                <span class="progress-value">80%</span>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="text-center">
                          10
                        </td>
                        <td class="text-right">
                          € 499.00
                        </td>
                        <td class="text-right">
                          € 4,990
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" checked="">
                              <span class="form-check-sign"></span>
                            </label>
                          </div>
                        </td>
                        <td>
                          Apple iPhone
                        </td>
                        <td>
                          Communication
                        </td>
                        <td>
                          <div class="progress-container">
                            <span class="progress-badge">v1.0.0</span>
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                                <span class="progress-value">30%</span>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="text-center">
                          10
                        </td>
                        <td class="text-right">
                          € 599.00
                        </td>
                        <td class="text-right">
                          € 5,999
                        </td>
                      </tr>
                      <tr>
                        <td colspan="5"></td>
                        <td class="td-total">Total</td>
                        <td class="td-price">€ 35,999</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="tools float-right">
                  <div class="dropdown">
                    <button type="button" class="btn btn-default dropdown-toggle btn-link btn-icon" data-toggle="dropdown">
                      <i class="tim-icons icon-settings-gear-63"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="javascript:void(0)">Action</a>
                      <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                      <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                      <a class="dropdown-item text-danger" href="javascript:void(0)">Remove Data</a>
                    </div>
                  </div>
                </div>
                <h4 class="card-title">Shopping Table</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-shopping">
                    <thead class="">
                      <tr>
                        <th class="text-center">
                        </th>
                        <th>
                          Product
                        </th>
                        <th>
                          Color
                        </th>
                        <th class="text-right">
                          Size
                        </th>
                        <th class="text-right">
                          Price
                        </th>
                        <th class="text-right">
                          Qty
                        </th>
                        <th class="text-right">
                          Amount
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="img-container">
                            <img src="../../assets/img/jacket.png" alt="...">
                          </div>
                        </td>
                        <td class="td-name">
                          <a href="javascript:void(0)">Suede Biker Jacket</a>
                          <br>
                          <small>by Cristianis</small>
                        </td>
                        <td>
                          Black
                        </td>
                        <td class="td-number">
                          XS
                        </td>
                        <td class="td-number">
                          <small>€</small>3490
                        </td>
                        <td class="td-number">
                          <div class="btn-group">
                            <button class="btn btn-info btn-simple btn-sm"> <i class="tim-icons icon-simple-delete"></i> </button>
                            <button class="btn btn-info btn-sm"> <i class="tim-icons icon-simple-add"></i> </button>
                          </div>
                          1
                        </td>
                        <td class="td-number">
                          <small>€</small>3490
                        </td>
                        <td class="td-actions">
                          <button type="button" rel="tooltip" data-placement="top" title="" class="btn btn-primary btn-link" data-original-title="Remove item">
                            <i class="tim-icons icon-simple-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="img-container">
                            <img src="../../assets/img/t-shirt.png" alt="...">
                          </div>
                        </td>
                        <td class="td-name">
                          <a href="javascript:void(0)">Jersey T-Shirt</a>
                          <br>
                          <small>by Jerry</small>
                        </td>
                        <td>
                          Black
                        </td>
                        <td class="td-number">
                          M
                        </td>
                        <td class="td-number">
                          <small>€</small>235
                        </td>
                        <td class="td-number">
                          <div class="btn-group">
                            <button class="btn btn-info btn-simple btn-sm"> <i class="tim-icons icon-simple-delete"></i> </button>
                            <button class="btn btn-info btn-sm"> <i class="tim-icons icon-simple-add"></i> </button>
                          </div>
                          2
                        </td>
                        <td class="td-number">
                          <small>€</small>470
                        </td>
                        <td class="td-actions">
                          <button type="button" rel="tooltip" data-placement="top" title="" class="btn btn-primary btn-link" data-original-title="Remove item">
                            <i class="tim-icons icon-simple-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="img-container">
                            <img src="../../assets/img/gucci.png" alt="...">
                          </div>
                        </td>
                        <td class="td-name">
                          <a href="javascript:void(0)">Slim-Fit Swim Short</a>
                          <br>
                          <small>by Panini</small>
                        </td>
                        <td>
                          Red
                        </td>
                        <td class="td-number">
                          L
                        </td>
                        <td class="td-number">
                          <small>€</small>140
                        </td>
                        <td class="td-number">
                          <div class="btn-group">
                            <button class="btn btn-info btn-simple btn-sm"> <i class="tim-icons icon-simple-delete"></i> </button>
                            <button class="btn btn-info btn-sm"> <i class="tim-icons icon-simple-add"></i> </button>
                          </div>
                          1
                        </td>
                        <td class="td-number">
                          <small>€</small>140
                        </td>
                        <td class="td-actions">
                          <button type="button" rel="tooltip" data-placement="top" title="" class="btn btn-primary btn-link" data-original-title="Remove item">
                            <i class="tim-icons icon-simple-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="5">
                        </td>
                        <td class="td-total">
                          Total
                        </td>
                        <td class="td-price">
                          <small>€</small>4100
                        </td>
                        <td>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" rel="tooltip" class="btn btn-info btn-round float-right mr-5" data-original-title="" title="">
                    Complete Purchase
                    <i class="tim-icons icon-minimal-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                Creative Tim
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                Blog
              </a>
            </li>
          </ul>
          <div class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script> made with <i class="tim-icons icon-heart-2"></i> by
            <a href="javascript:void(0)" target="_blank">Creative Tim</a> for a better web.
          </div>
        </div>
      </footer>
    </div>
  </div>
