


 <blockquote class="nk-testimonial-3 bg-dark-1 text-white">
     <div class="nk-testimonial-name h1 bebas ">Adding video to your emails can increase click rates by <span class='text-main-1'>300%</span></span></div>
    <div class="nk-testimonial-body">
        <div class="lead">HubSpot</div>
    </div>
</blockquote>
