<blockquote class="nk-testimonial-3 bg-gray-4">
    <!-- <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-1.jpg');"></div> -->
     <div class="nk-testimonial-name h2 bebas"><span class='text-main-1 bebas'>Content</span> <span class='h2 bebas'>  is an easy way to demonstrate your brand’s integrity and help your audience trust you.</span></div>
    <div class="nk-testimonial-body">
        <div class="lead"> -Sujan Patel</div>
    </div>
     <a href="https://drift.me/pauly/meeting" class="nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-color-main-1 bebas">
                    <span class="icon"><i class="ion-md-cart"></i></span>
                    Let's Get Started
                </a>
</blockquote>




