<div class="nk-box bg-dark-1 text-white">
  <div class="bg-image-row row">
    <div class="col-lg-6">
      <div class="bg-image bg-image-parallax" style="background-image: url('https://nomcre-rails.s3-us-west-2.amazonaws.com/public-page-images/stacked-images/Stack-Bundle.png');">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 offset-lg-7">
        <div class="nk-gap-5"></div>
        <h2 class="h1 nk-title">FOR <span class="text-main-1"> CONSULTANTS</span> </h2>
        <div class="nk-gap-1"></div>

        <p class='text-left'>
          When it comes to inspiring trust, video is <strong> far</strong> more effective compared to text. With video, your message, your point-of-view, and your ask are more memorable. Lastly, well produced content inspires credibility, capability and rapport.
        </p>

        <p class="text-left">
          <span class="text-main-1 h5">75%</span> of companies say closing more deals is their top sales priority - HubSpot
          <br>
          <span class="text-main-1 h5">59%</span> of executives prefer watching a video than reading the text content - Breadnbeyond
          <br>
          <span class="text-main-1 h5">72%</span> of people prefer video over text when learning about a product or service - SmartInsights
        </p>
        <p> Inspire credibility, capability and rapport with world-class content like: </p>
        <div class='row'>
          <div class='col-md-6 lead' style="font-size:16px; font-weight: 400;">
            <ul>
              <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Marketing Campaigns</em></li>
              <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Case Studies</em></li>
              <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Virtual Ambassadorships</em></li>
              <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Testimonials</em></li>
              <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Social Stories</em></li>
            </ul>
          </div>
          <div class='col-md-6 lead' style="font-size:16px; font-weight: 400;">
            <ul>
              <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Thought Leadership</em></li>
              <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Strategy/Reference</em></li>
              <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Answer FAQ's</em></li>
              <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Top 10 Lists</em></li>
              <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Training</em></li>
            </ul>
          </div>
        </div>
        <div class="nk-gap-5"></div>
      </div>
    </div>
  </div>
</div>

