<span>
  <i class='tim-icons text-primary'><ion-icon name='information-circle'> </ion-icon></i>
  Next Step:
  <span class='pull-right'>
    <%= proposal.next_step(proposal.status) %>
  </span>
</span>
