<blockquote class="nk-testimonial-2 bg-dark-1 text-white">
    <div class="nk-testimonial-photo" style="background-image: url('http://simply-360.co.uk/wp-content/uploads/2018/02/Wendy-Clark-DDB.jpg');"></div>
    <div class="nk-testimonial-body">
        <em style='font-size:24px;'>"There's the age-old axiom that out of better, faster, cheaper, you can only have two. Those days are over. The new model, <b>[NOMADIC CREATIVE]</b> is to create great work at the speed of the marketplace at an efficient cost."</em>
    </div>
    <div class="nk-testimonial-name h2">CEO of Omnicom's DDB</div>
    <div class="nk-testimonial-source" style="font-size: 16px;"> Wendy Clark</div>
</blockquote>
