
<blockquote class="nk-testimonial-2 bg-dark-1 text-white">
    <div class="nk-testimonial-photo" style="background-image: url('https://static.adweek.com/adweek.com-prod/wp-content/uploads/2018/06/M.-Pritchard-Headshot.jpg');"></div>
    <div class="nk-testimonial-body">
        <em style='font-size:24px;'>"We're at the stage where we're raising the [creative] bar," he said. "We want the best creative across all consumer touchpoints. Agencies need to make their complexity invisible."</em>
    </div>
    <div class="nk-testimonial-name h2">Procter & Gamble -  CMO </div>
    <div class="nk-testimonial-source" style="font-size: 16px;"> Marc Pritchard</div>
</blockquote>
