
<blockquote class="nk-testimonial-2 bg-dark-1 text-white">
    <div class="nk-testimonial-photo" style="background-image: url('http://gaia.adage.com/images/bin/image/rightrail/BradJakemanC20171017.jpg?1508341696');"></div>
    <div class="nk-testimonial-body">
        <em style='font-size:24px;'>"For a brand like Pepsi, it was once sufficient for us to produce four pieces of content a year -- mainly TV -- and we could spend about six to eight months developing that one piece of content and spend $1 million on each piece of film. Now, that four pieces has turned into 4,000; eight months has changed to eight days and eight hours; and budgets have not gone up. Maybe [we have to publish] so quickly and efficiently that it needs to be more of a content-publishing group that sits inside the company and augments the work done through [agencies]."</em>
    </div>
    <div class="nk-testimonial-name h2">PepsiCo - President</div>
    <div class="nk-testimonial-source" style="font-size: 16px;"> Brad Jakemanm </div>
</blockquote>
