<% if !shoot.project.deposit_is_paid %>
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>
      <b> Warning </b> You Will NOT Be Able To Assign A Creative Until The Deposit Is Paid</span>
  </div>
<% end %>
<% if shoot.creative.nil? %>
  <div class='card white-content'>
    <div class='card-header white-content '>
      <div class='card-title'>
        <ul class="nav nav-pills nav-pills-primary">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#all">
             All
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#accepted">
               Accepted
            </a>
          </li>
        </ul>
      </div>
    </div>
  <div class="card-body white-content" style="margin:2px;">
  <div class="tab-content tab-space">
    <div class="tab-pane active" id="all">
      <%= render :partial => 'shoots/partials/black_dashboard/show/creatives/available', :locals => {:shoot => shoot} %>
    </div>
    <div class="tab-pane" id="accepted">
      <% accepted = shoot.creative_requests.where(accepted: true).map{|cr| cr.creative} %>
      <%= render :partial => 'shoots/partials/black_dashboard/show/creatives/accepted', :locals => {:shoot => shoot, accepted: accepted} %>
    </div>
  </div>
  </div>
  </div>
<% end %>


<div class="modal fade" id="selectCreativeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please Wait While The Shoot Is Updated ... </h5>
      </div>
      <div class="modal-body text-center">
        <p> <i class="fa fa-spinner fa-spin" style="font-size:24px"></i></p>
      </div>
      <div class="modal-footer">

        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>
