<ul class="nav nav-tabs">
  <li class="active"><a href="#basic_info" data-toggle="tab">Proposal Info</a></li>
  <li class=""><a href="#shot_list" data-toggle="tab">Shot List</a></li>
  <li><a href="#tasks" data-toggle="tab">Tasks</a></li>
  <li><a href="#assistants" data-toggle="tab">Assistants</a></li>
  <li><a href="#disclosures" data-toggle="tab">Disclosures</a></li>
</ul>

