
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @company.name %> Picked You</h1>
    <p>
      Check Out Your New Job <a href="http://www.nomcre.com/proposals/<%= @proposal.id%>">here </a>
      <br>
    </p>
    <p>
    </p>
    <p></p>
  </body>
</html>


