
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @company.name %> Requested Your Skills</h1>
    <p>
      Check Out your Work Requests <a href="http://www.nomcre.com/requests">here </a>
      <br>
    </p>
    <p>
    </p>
    <p></p>
  </body>
</html>


