
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @proposal_request.proposal.title %> Has Activity</h1>
    <p>
      <%= @creative.name %> Is Available for  <%= @proposal_request.proposal.title %>
      <br>
    </p>
    <p>
      Click Here To Continue: <%= @url %>
    </p>
    <p>Thanks for your business!</p>
  </body>
</html>

