<style type="text/css">
  .fa-instagram{
    padding-top: 12px;
  }
</style>
<p> Instagram Inspiration </p>
<div class='row'>
  <% unless proposal.instagram_1.nil? || proposal.instagram_1 != ''%>
    <div class='col-md-3'>
      <%= link_to "http://www.instagram.com/#{@proposal.instagram_1}", target:"_blank", class: 'btn btn-icon  btn-primary'  do %>
        <i class='fab fa-instagram'></i>
      <% end %>
    </div>
  <% end %>
  <% unless proposal.instagram_2.nil? || proposal.instagram_2 != ''%>
    <div class='col-md-3'>
      <%= link_to "http://www.instagram.com/#{@proposal.instagram_2}", target:"_blank", class: 'btn btn-icon  btn-primary'  do %>
        <i class='fab fa-instagram'></i>
      <% end %>
    </div>
  <% end %>
  <% unless proposal.instagram_3.nil? || proposal.instagram_3 != ''%>
    <div class='col-md-3'>
      <%= link_to "http://www.instagram.com/#{@proposal.instagram_3}", target:"_blank", class: 'btn btn-icon  btn-primary'  do %>
        <i class='fab fa-instagram'></i>
      <% end %>
    </div>
  <% end %>
  <% unless proposal.instagram_4.nil? || proposal.instagram_4 != '' %>
    <div class='col-md-3'>
      <%= link_to "http://www.instagram.com/#{@proposal.instagram_4}", target:"_blank", class: 'btn btn-icon  btn-primary'  do %>
        <i class='fab fa-instagram'></i>
      <% end %>
    </div>
  <% end %>
</div>
