<div class="small-box bg-aqua">
  <div class="inner">
    <h3>Deadline</h3>

    <p><%= proposal.deadline %></p>
    <small>[25 day minimum for best results]</small>
  </div>
  <div class="icon">
    <i class="fa fa-calendar"></i>
  </div>
  <% unless  (proposal.company.users.include?(current_user) == false || proposal.paid == true) %>
    <%= link_to edit_proposal_path(@proposal), class: 'small-box-footer'  do %>
       Edit <i class="fa fa-arrow-circle-right"></i>
    <% end %>
  <% end %>
</div>
