<div class="small-box bg-green">
  <div class="inner">
    <h3><%= proposal.shot_list_items.count%> of 4</h3>
    <p>Available Shots</p>
  </div>
  <div class="icon">
    <i class="fa fa-list"></i>
  </div>
  <% unless  (proposal.company.users.include?(current_user) == false || proposal.paid == true) %>
    <% if proposal.shot_list_items.count < 4 %>
      <%= link_to new_proposal_shot_list_item_path(@proposal), class: 'small-box-footer' do %>
      <i class="fa fa-plus"></i> Add To Shot List
      <% end %>
    <% else %>

     <a href="#" class='small-box-footer'> Shot List Limit Reached </a>
    <% end %>
  <% end %>
</div>

