<blockquote class="nk-testimonial-3 bg-gray-4">
    <!-- <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-1.jpg');"></div> -->
     <div class="nk-testimonial-name h2 ">More Than <span class='text-main-1 h1'>50%</span> <span class='h3'> of online users search for product videos before they make a purchase.</span></div>
    <div class="nk-testimonial-body">
        <div class="lead">"What happens when they can't find one of your product videos?"</div>
    </div>
</blockquote>




