<blockquote class="nk-testimonial-3 bg-gray-4">
     <div class="nk-testimonial-name h1 bebas "> <em>“If brands can develop an effective strategy for creating content based on proper understanding of their target audience, they’ll not only drive leads but will also increase sales.”</em></div>
    <div class="nk-testimonial-body">
        <div class="lead">-Neil Patel</div>
    </div>
</blockquote>


