<div class="nk-box bg-dark-1 text-white">
  <div class="bg-image-row row">
    <div class="col-lg-7">
        <div class="bg-image bg-image-parallax" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/stacked-images/VideoStack.png');">
      </div>
    </div>
  </div>
  <div class="" style="margin-left:24px;margin-right: 24px;">
    <div class="row">
      <div class="col-lg-5 offset-lg-7">
        <div class="nk-gap-5"></div>
        <h2 class="h1 nk-title bebas">How Can You Use Video?</h2>
        <div class="nk-gap-1"></div>

        <p class='text-left '>A content heavy strategy is the only way to consistantly drive business with or without a continung ad buget. Create authority, awareness, and excitement with every. single. touchpoint.
        </p>
        <div class="nk-gap-2"></div>
        <div class='center' style="margin-left:24px;margin-right: 24px;">
          <ul>
            <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Lead Gen Videos</em></li>
            <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Personalized Videos For Individiual Leads</em></li>
            <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Social Stories
             </em></li>
             <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Case Studies
             </em></li>
            <li><em class='bebas' style='font-style: normal; font-size:1.35em'>
               New Feature or Product Launch </em></li>
            <li><em class='bebas' style='font-style: normal; font-size:1.35em'>
              FAQ & Instructionals </em> </li>
            <li><em class='bebas' style='font-style: normal; font-size:1.35em'>Announcements
             </em></li>
             <li><em class='bebas' style='font-style: normal; font-size:1.35em'> Open Position Descriptions
             </em></li>
          </ul>
        </div>
        <div class="nk-gap-5"></div>
      </div>
    </div>
  </div>
</div>
