<div class="">
 <div class="nk-box ">
    <div class="bg-image-row row">
        <div class="offset-lg-6 col-lg-6">
          <div class="bg-image bg-image-parallax" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/horizontal/nomcre-horizontal6.JPG');"></div>
        </div>
    </div>
    <div class="" style="margin-left:24px; margin-right: 24px;">
      <div class="nk-gap-5"></div>
        <div class="row">
            <div class="col-md-6 ">

              <h2 class="h1 nk-title bebas">
                   <img style="max-height:25px; max-width:25px; border-radius:100%" src="https://s3-us-west-2.amazonaws.com/nomcre/logos/UpperLeftHPlogo+2.png" alt="Upperlefthplogo+2">
                   WHY VIDEO <span class="text-main-1">MARKETING</span>?</h2>

              </h2>
               <p class='text-left'>
                Is your team barely hitting their KPI’s? Has sales been missing <b>their</b> goals? Are they having trouble acquiring new customers and re-engaging new ones?
                <br>
                If you said yes, you and your sales team have got a serious problem. To pivot, you’ll need to:
                <br>
                <div class='container'>
                  <ul>
                    <li class='h6'>Revisit and revise your customer personas, because you’re missing something.</li>
                    <li class='h6'>Remove friction points in your customer’s journey</li>
                    <li class='h6'>Create compelling content your sales team finds valuable</li>
                  </ul>
                </div>
              </p>
              <br>
              <p class='text-left'>
                Fresh, compelling assets equip marketing to truly support sales with the tools they need to execute. Using video you can:
              </p>

              <div class='center' style="margin-left:24px;margin-right: 24px;">
                <ul>
                  <li>
                    <em class='bebas' style='font-style: normal; font-size:1.35em'>
                      Generate Quality Leads
                    </em>
                  </li>
                   <li>
                    <em class='bebas' style='font-style: normal; font-size:1.35em'>
                      Excite Nurture Campaigns
                    </em>
                  </li>
                  <li>
                    <em class='bebas' style='font-style: normal; font-size:1.35em'>
                      Broadcast Copany Announcements
                    </em>
                  </li>
                  <li>
                    <em class='bebas' style='font-style: normal; font-size:1.35em'>
                      Reach Out Directly to Clients & Prospects
                    </em>
                  </li>
                  <li>
                    <em class='bebas' style='font-style: normal; font-size:1.35em'>
                      Pre-Cap & Re-Cap Events
                    </em>
                  </li>
                  <li>
                    <em class='bebas' style='font-style: normal; font-size:1.35em'>
                      Continued Engagement With Social Posts
                    </em>
                  </li>
                  <li>
                    <em class='bebas' style='font-style: normal; font-size:1.35em'>
                      Increase Your Engagment with Social Stories
                    </em>
                  </li>

                </ul>
              </div>
            </div>
        </div>
        <div class="nk-gap-5"></div>
    </div>
</div>
</div>
