
  <div class='row text-center'>
    <div class='col-md-6'>
       <a href="https://calendly.com/nomcre/intro/" target="_blank" class="nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-circle nk-btn-color-dark-1">
            <span class="icon"><i class="ion-ios-monitor-outline"></i></span>
            Book A Demo
        </a>
        <div class='nk-gap-1'></div>
    </div>
    <div class='col-md-6'>
      <%= link_to user_type_path, :class => "nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-circle nk-btn-color-dark-1" do %>
        <span class="icon"><i class="ion-paper-airplane"></i></span>
          Get Started Now
      <% end %>
      <div class='nk-gap-1'></div>
    </div>
  </div>

