

<div class="nk-box nk-light-1">
  <div class="bg-image-row row">
    <div class="col-lg-6">
      <div class="bg-image" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/stacked-images/CustomStack.png');">
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row" style='margin-left: 16px;'>

        <div class="ol-lg-5 offset-lg-7">
                  <div class="nk-gap-4"></div>
          <div class="row align-items-center">
            <h2 class="h1 nk-title"><span class='raleway'>Combo Packages</span>: </h2>
            <div class="nk-gap-4"></div>

            <p>
              You know you need the content, at breakneck speeds, for everything you and your teams do. That is why we are here: to give you a custom solution to global creative content. We can rotate product from continent to continent, city to city, untouched valley to open fields. Why buy stock, when you can have your voice ring through loud and clear, authentically your way?
            </p>
          </div>
          <div class="nk-gap-1"></div>
          <%= render 'khaki/nomcre/pricing/buttons' %>
        </div>
      </div>
    </div>
    <div class="nk-gap-4"></div>
  </div>
