<div class="nk-box bg-dark-1 text-white">
            <div class="bg-image-row row">
                <div class="col-lg-6 offset-lg-6" style="transform: translate3d(0px, 0px, 0px);">
                    <div class="bg-image bg-image-parallax bg-parallaxed" style="background-image: none; transform: translate3d(0px, 0px, 0px); background-attachment: scroll; background-size: auto;" data-jarallax-original-styles="background-image: url(&quot;https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/HompageBoxImages/BoxImage2.jpg&quot;); transform: translate3d(0px, 0px, 0px);"><div id="jarallax-container-3" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100; transform: translateX(0px) translateY(0px);"><div style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url(&quot;https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/HompageBoxImages/BoxImage2.jpg&quot;); position: fixed; top: 0px; left: 0px; width: 1146.24px; height: 844.6px; overflow: hidden; pointer-events: none; margin-left: -69.8714px; margin-top: -202.8px; visibility: visible; transform: translate3d(0px, 141.5px, 0px);"></div></div></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="nk-gap-5"></div>
                        <h2 class="h1 nk-title">Enterprise Pricing</h2>
                        <div class="nk-gap-2"></div>

                        <div class="nk-ibox-2">
                            <div class="nk-ibox-icon">
                                <span class="fa fa-globe"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title"><a href="#">Everywhere</a></h3>
                                <p class="text-left" style="margin:16px;">Chicago to Cambodia, Alaska to Argentina, Istanbul to Iceland our creatives are everywhere you want to be</p>
                            </div>
                        </div>
                        <div class="nk-gap"></div>

                        <div class="nk-ibox-2">
                            <div class="nk-ibox-icon">
                                <span class="fa fa-trophy"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title"><a href="#">Extremely Selective</a></h3>
                                <p class="text-left" style="margin:16px;">We only select the top talent. You pick the creative(s) that's right for you</p>
                            </div>
                        </div>
                        <div class="nk-gap"></div>

                        <div class="nk-ibox-2">
                            <div class="nk-ibox-icon">
                                <span class="fa fa-handshake-o"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title"><a href="#">With You The Whole Way</a></h3>
                               <p class="text-left" style="margin:16px;">NOMCRE is built to keep you in the loop throughout the entire process: from creating the brief to final delivery we are an open book (or maybe a lookbook)</p>
                            </div>
                        </div>

                        <div class="nk-gap-5"></div>
                    </div>
                </div>
            </div>
        </div>

