

<div class="nk-box nk-light-1">
  <div class="bg-image-row row">
    <div class="col-lg-6">
      <div class="bg-image" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/HompageBoxImages/BoxImage1.jpg');">
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row" style='margin-left: 16px;'>

        <div class="ol-lg-5 offset-lg-7">
                  <div class="nk-gap-4"></div>
          <div class="row align-items-center">
            <h2 class="h1 nk-title"><span class='raleway'>Photo Package</span>: </h2>
            <div class="nk-gap-4"></div>

            <div class="nk-ibox-2 nk-ibox-hover">
                <div class="nk-ibox-icon nk-ibox-icon-hover-color-main-2">
                    <span class="fa fa-tachometer"></span>
                </div>
                <div class="nk-ibox-cont">
                    <h3 class="nk-ibox-title"><a href="#">Is Super Fast (But Never Stock Photography)</a></h3>
                   <p class='text-left' style="margin: 16px;">NOMCRE delivers you the orignal and unique content you need faster than you can schedule a meeting with an agency. We never use stock imagery or resell the images shot for you. </p>
                </div>
                <div class="nk-gap-2"></div>
            </div>
            <div class="nk-ibox-2 nk-ibox-hover">
                <div class="nk-ibox-icon nk-ibox-icon-hover-color-main-3">
                    <span class="fa fa-heart"></span>
                </div>
                <div class="nk-ibox-cont">
                    <h3 class="nk-ibox-title"><a href="#">Brings Your Brand To Life</a></h3>
                     <p class='text-left' style="margin: 16px;">Get custom content that speaks directly to your clients. You fill out the brief and provide some examples; we handle the rest. </p>
                </div>
            </div>
            <div class="nk-gap"></div>
            <div class="nk-ibox-2 nk-ibox-hover">
                <div class="nk-ibox-icon nk-ibox-icon-hover-color-main-2">
                    <span class="fa fa-hand-rock-o"></span>
                </div>
                <div class="nk-ibox-cont">
                    <h3 class="nk-ibox-title"><a href="#">Stays Hustlin'</a></h3>
                     <p class='text-left' style="margin: 16px;">Our creatives can hustle up a shoot, find models + assistants in any country because of the strength of <br><b>The NOMCRE Way</b></p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nk-gap-4"></div>
  </div>
