

<div class="nk-box nk-light-1">
  <div class="bg-image-row row">
    <div class="col-lg-6">
      <div class="bg-image" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/stacked-images/PhotoStack.png');">
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row" style='margin-left: 16px;'>

        <div class="ol-lg-6 offset-lg-6">
          <div class="nk-gap-4"></div>
          <div class="row align-items-center">
            <h2 class="h1 nk-title"><span class='raleway'>Photo Package</span> </h2>
            <div class="nk-gap-4"></div>

            <p style='text-align: justify; margin-right:16px;'>
             We have talented photographers waiting to fulfill your creative needs anywhere, anytime. From look books, to campaigns to product shoots, NOMCRE does it all, including access to stylists, models and assistants.  Do you need a fully developed commercial shoot; some social media content for the next few months? We’ve got you. Our photographers are all vetted, you can choose the photographer that fits you best, but everyone we work with can handle every style of shooting. We have the top creatives, in the top places.
            </p>
          </div>
          <div class="nk-gap-1"></div>
          <%= render 'khaki/nomcre/pricing/buttons' %>
        </div>

      </div>

    </div>
    <div class="nk-gap-4"></div>

  </div>
