<div class="nk-box nk-light-1">
            <div class="bg-image-row row">
            <div class="col-lg-6 offset-lg-6">
              <div class="bg-image" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/stacked-images/VideoStack.png');">
              </div>
            </div>
          </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="nk-gap-5"></div>
                        <h2 class="h1 nk-title">Video Package </h2>
                        <div class="nk-gap-2"></div>

                        <p>Lets put some motion in it… From quick clips to beautiful video based stories. Our talented and well equipped pilots and videographers will produce exactly what you are looking for, from hero vids to stunning time-lapse; slow mo or interviews to campaign worthy clips and even a boomerang or two. We are standing by a surfers beach, mountain, jungle, desert or stunning city, well, probably not near you, but that is the point :)
                        </p>
                        <div class="nk-gap-1"></div>
          <%= render 'khaki/nomcre/pricing/buttons' %>
                        <div class="nk-gap-5"></div>
                    </div>
                </div>
            </div>
        </div>
