<div class="nk-box nk-light-1">
            <div class="bg-image-row row">
            <div class="col-lg-6 offset-lg-6">
              <div class="bg-image" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/stacked-images/VideoStack.png');">
              </div>
            </div>
          </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="nk-gap-5"></div>
                        <h2 class="h1 nk-title">Video Package </h2>
                        <div class="nk-gap-2"></div>

                        <p>Let’s put some motion in it: from quick clips to beautiful video-based stories. Our talented and well-equipped pilots and videographers will produce exactly what you are looking for: from hero videos to stunning time-lapse; slow motion or interviews, to campaign worthy clips and even a boomerang or two. Our team is standing by a surfer’s beach, a majestic mountain, a steamy jungle, an arid desert or stunning city.
                        </p>
                        <div class="nk-gap-1"></div>
          <%= render 'khaki/nomcre/pricing/buttons' %>
                        <div class="nk-gap-5"></div>
                    </div>
                </div>
            </div>
        </div>
