
<div class="card card-subcategories card-plain">
  <div class="card-body">
    <ul class="nav nav-pills nav-pills-primary nav-pills-icons justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#all">
          <i class="tim-icons"><ion-icon name='ios-cube'></ion-icon></i> All
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#photo">
          <i class="tim-icons"><ion-icon name='ios-images'></ion-icon></i> Photo
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#video">
          <i class="tim-icons"><ion-icon name='ios-videocam'></ion-icon></i> Video
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#saved">
          <i class="tim-icons"><ion-icon name='ios-hammer'></ion-icon></i> Saved
        </a>
      </li>
    </ul>
    <div class="tab-content tab-space tab-subcategories">
      <div class="tab-pane active" id="all">
        <div class='row'>
          <% @proposals.each do |proposal| %>
            <div class="col-sm-12 col-md-4 col-lg-4">
              <%= render :partial => 'proposals/partials/black_dashboard/index/proposal', :locals =>{:proposal => proposal} %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane" id="photo">
        <div class='row'>
        <% @proposals.where(proposal_type: 'photo').each do |proposal| %>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <%= render :partial => 'proposals/partials/black_dashboard/index/proposal', :locals =>{:proposal => proposal} %>
          </div>
        <% end %>
      </div>
      <div class="tab-pane" id="video">
       <% @proposals.where(proposal_type: 'video').each do |proposal| %>
          <%= render :partial => 'proposals/partials/black_dashboard/index/proposal', :locals =>{:proposal => proposal} %>
        <% end %>
      </div>
      <div class="tab-pane" id="saved">
        <% @proposals.where(user: nil).each do |proposal| %>
          <%= render :partial => 'proposals/partials/black_dashboard/index/proposal', :locals =>{:proposal => proposal} %>
        <% end %>
      </div>
    </div>
  </div>
</div>




