<%= p proposal %>
<div class="row">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <%= render :partial => 'shot_list_items/partials/black_dashboard/widgets/deadline_widget', :locals =>{:proposal => @proposal, shoot: shoot} %>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->

    <% if proposal.nil? != true  %>
      <% if proposal.proposal_type == 'photo' %>
        <%= render :partial => 'shot_list_items/partials/black_dashboard/widgets/photo_shot_count_widget', :locals =>{:proposal =>proposal} %>
      <% end %>
    <% elsif defined? shoot && shoot.content_type == 'photo' %>
      <%= render :partial => 'shot_list_items/partials/black_dashboard/widgets/photo_shot_count_widget', :locals =>{:shoot =>shoot} %>
    <% else %>
      <!-- < render :partial => 'proposals/partials/widgets/video_shot_count_widget', :locals =>{:proposal => @proposal} > -->
    <% end %>
  </div>
  <div class="col-lg-3 col-xs-6">
    <!-- < render :partial => 'proposals/partials/black_dashboard/widgets/shoot_background_widget', :locals =>{:proposal => @proposal} > -->
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- < render :partial => 'proposals/partials/black_dashboard/widgets/shoot_type_widget', :locals =>{:proposal => @proposal} > -->
  </div>
  <!-- ./col -->
</div>
