<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h2 class='title text-primary'> Your Schedule</h2>
      <h5 class=''> Adding Your Travel Plans Lets Us Help you Book Work Where You Will Be</h5>
    </div>
  </div>
  <hr>
  <div class="card-body">
    <%= render 'form', schedule_item: @schedule_item %>
  </div>
  <div class="card-footer"></div>
</div>

<%= link_to 'Back', schedule_items_path %>

<% content_for :added_scripts do %>
  <script type="text/javascript">


    </script>
  <% end %>



