<% content_for :head do %>
<meta property="og:url" content="<%= request.original_url %>" />
<meta property="og:type" content="website" />
<meta property="og:title" content="NomCre - On Demand Visual Creative Content" />
<meta property="og:description" content="Nomcre - Custom Creative Content for your brand, simplified." />
<meta property="og:image" content="https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/horizontal/nomcre-horizontal-19.jpg" />
<% end %>
 <div class="nk-main">


        <!-- START: Header Title -->
        <!--
    Additional Classes:
        .nk-header-title-sm
        .nk-header-title-md
        .nk-header-title-lg
        .nk-header-title-xl
        .nk-header-title-full
        .nk-header-title-parallax
        .nk-header-title-parallax-opacity
-->
       <!--  <div class="nk-header-title nk-header-title-md nk-header-title-parallax nk-header-title-parallax-opacity">
            <div class="bg-image op-8">
                <div style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/HompageHeader/ABoutUsHeader.jpg');"></div>
            </div>
            <div class="nk-header-table">
                <div class="nk-header-table-cell">
                    <div class="container">


                        <h1 class="nk-title" style="font-weight: 500">About Us</h1>




                    </div>
                </div>
            </div>

        </div> -->
        <!-- END: Header Title -->






        <!-- START: Overview -->
        <!-- <div class="nk-box">
            <div class="nk-gap-4"></div>
            <div class="nk-gap-4"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h2 class="nk-title">OUR ORIGIN STORY</h2>
                        <p class="text-left">It was a clear black night....</p>
                        <p class="text-left">
                           The creative world is mind boggling. We come from a land where shoots cost 100’s of 1000’s of dollars, and a bunch of it is spent wining and dining clients, shipping in house photographers around the world, and taking months to agree on the theme of the shoot. The old guard is falling. Now that anyone and their brother can buy a high def camera or a drone, it seems preposterous to pretend that that you need to spend so much to create breathtaking content. We don’t pretend that all you need is your sister and a high end camera can get the job done, but that’s why we select only the top talent to create authentic content and beautiful visual stories. Your brand, your company persona, your way, without all the showmanship.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="https://s3-us-west-2.amazonaws.com/nomcre/assets/justin-and-zack.jpg" alt="" class="nk-img">
                    </div>
                </div>
            </div>
            <div class="nk-gap-4"></div>
        </div> -->
        <!-- END: Overview -->

        <div class='nk-gap-2'></div>
        <!-- START: Members -->
        <div class="nk-box bg-gray-2">
            <div class="nk-gap-4"></div>
            <div class="container">
                <div class="row vertical-gap">
                    <div class="col-md-6 col-offset-2 col-lg-6 ">
                        <div class="nk-image-box-1">

                            <img src="https://nomcre-rails.s3-us-west-2.amazonaws.com/public-page-images/team/Justin.gif" alt="">
                        </div>
                        <div class="nk-gap"></div>
                        <h3 class="nk-title h4 text-center bebas">Justin Pauly</h3>
                        <h4 class="nk-sub-title text-dark-1 text-center">
                            <span class='h5 text-main-1 bebas text-center'>Founder</span>
                            <br><br>
                            <a class='btn btn-info' href='https://www.linkedin.com/company/NomadicCreative' target='_blank' ><span class='h5 bebas text-center'><i class='fa fa-linkedin'></i></span></a> <!-- I thought up NOMCRE just before I left on an 14 month adventure around the world. I was a former Art Director and entrepreneur, from fashion to global crisis management and I was about to set sail. From there, it all came together, eventually.  Travel, work and life gave me the time to refine the idea, and here is the result, an always evolving content platform from the future.  --></h4>
                    </div>
                    <div class="col-md-6 col-md-offset-2 col-lg-6">
                        <div class="nk-image-box-1">

                            <img src="https://nomcre-rails.s3-us-west-2.amazonaws.com/public-page-images/team/Zack.gif" alt="">
                        </div>
                        <div class="nk-gap"></div>
                        <h3 class="nk-title h4 text-center bebas">Zack Weiner</h3>
                        <h4 class="nk-sub-title text-dark-1 text-center">
                            <span class='h5 text-main-1 bebas text-center'>Co-Founder</span>
                            <br> <br>
                             <a class='btn btn-info' href='https://www.linkedin.com/company/NomadicCreative' target='_blank' ><span class='h5 bebas text-center'><i class='fa fa-linkedin'></i></span></a>
                            <!-- I have been preparing for this role my whole professional life. I started by building desktop applications to read financial markets in 2008. As a Silverlight Specialist with a background in finance, I was afforded the opportunity to work with PWC, Hilton, and Nascar. I progressed to Sr. Developer at Citrix Systems in Fort Lauderdale, Florida.  At that point I started speaking to developers at conferences and took on the role of Developer Evangelist. Eventually I was promoted to Product Marketing Manager, all while keeping up with the latest web and mobile development practices. As a remote PMM I joined the journey of a lifetime where he met Justin in Kuala Lumpur, Malaysia. The rest is history (in the making). -->
                      </h4>
                    </div>

                </div>
            </div>
            <div class="nk-gap-4"></div>
        </div>
      <div class="nk-box">
        <div class="nk-gap-2"></div>
        <div class='h2 text-center'>Team Leads</div>
        <div class="nk-gap-2"></div>
        <div class="container">
            <div class="row vertical-gap">
                <div class="col-md-6 col-lg-3">
                    <div class="nk-image-box-1">
                        <a href="page-about-me.html" class="nk-image-box-link"></a>
                        <img src="https://nomcre-rails.s3-us-west-2.amazonaws.com/public-page-images/team/Nick.gif" alt="">
                    </div>
                    <div class="nk-gap"></div>
                    <h3 class="nk-title h4">Nick</h3>
                    <h4 class="nk-sub-title text-dark-1 op-5">Visual Wizards</h4>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-image-box-1">
                        <a href="page-about-me.html" class="nk-image-box-link"></a>
                        <img src="https://nomcre-rails.s3-us-west-2.amazonaws.com/public-page-images/team/G.gif" alt="">
                    </div>
                    <div class="nk-gap"></div>
                    <h3 class="nk-title h4">G</h3>
                    <h4 class="nk-sub-title text-dark-1 op-5">Wordsmiths</h4>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-image-box-1">
                        <a href="page-about-me.html" class="nk-image-box-link"></a>
                        <img src="https://nomcre-rails.s3-us-west-2.amazonaws.com/public-page-images/team/Erik.gif" alt="">
                    </div>
                    <div class="nk-gap"></div>
                    <h3 class="nk-title h4">Erik</h3>
                    <h4 class="nk-sub-title text-dark-1 op-5">Design Virtuosos</h4>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-image-box-1">
                        <a href="page-about-me.html" class="nk-image-box-link"></a>
                        <img src="https://nomcre-rails.s3-us-west-2.amazonaws.com/public-page-images/team/Mariah.gif" alt="">
                    </div>
                    <div class="nk-gap"></div>
                    <h3 class="nk-title h4">Mariah</h3>
                    <h4 class="nk-sub-title text-dark-1 op-5">Picture Perfect(ers)</h4>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>



    </div>
