<!-- Header -->
  <!-- https://unbounce.com/landing-pages-nb/?hl=the%20Best%20Landing%20Page%20Platform&gclid=CjwKCAjwtO7qBRBQEiwAl5WC24qCcrbPMT7H201IUH7oTPa2c_jo6SkhIUOHVbW--gHesC3LSYmqZRoCYXcQAvD_BwE -->
 <div class='nk-main'>
  <div style='padding-top: 7%'></div>
  <div class='row'>
    <div class='col-md-2'>
      <div class='row'>
        <div class='col-md-4'></div>
        <div class='col-md-2'>
            <img src="https://s3-us-west-2.amazonaws.com/nomcre/logos/UpperLeftHPlogo+2.png" alt="" width="40" style='padding-top: 6px'>
        </div>
        <div class='col-md-6'>
            <h4>NOM<span class='raleway-thinnest'>ADIC</span> CRE<span class='raleway-thinnest'>ATIVE</span> </h4>
        </div>
      </div>
    </div>
    <div class='col-md-6'></div>
    <div class='col-md-2'>
      <button class="nk-btn nk-btn-x3 nk-btn-rounded nk-btn-color-main-1"> Sign UP! </button>
    </div>
    <div class='col-md-2'>
      <button class="nk-btn nk-btn-x3 nk-btn-outline nk-btn-color-main-1"> CLick Me </button>
    </div>
  </div>
  <div class=''>
    <div class='row'>
      <div class= 'col-md-1'></div>
      <div class= 'col-md-6'>
        <h1 class="raleway-thin" style="font-size: 60px;">A Stream of Videos To Flood Your Most Important Channels</h1>
        <p class='nk-sub-title text-main-1 text-left raleway-bold'> Join 100+ Brands Driving Conversions with <br>
        Awesome, Publish Ready Videos delivered to their inbox. </p>
        <button class="nk-btn nk-btn-x2 nk-btn-rounded nk-btn-color-main-1"> CLick Me </button>
      </div>
      <div class= 'col-md-5'><div class='row bg-main-1 nk-text-light'>
          <div class="col-md-8 offset-md-2">
              <!-- START: Blockquote 2 -->
              <blockquote class="nk-blockquote" style="font-size:20px">
                  <div class="nk-blockquote-icon text-main-1">“</div>
                  <em>   Viewers retain 95% of a message when they watch it on video, compared to 10% when reading it in a text. The increase in click-through rate with video is as high as 96%, and videos are shared 1200% more times than links and text combined.</em>
                  <div class="text-right raleway-thin">-Forbes</div>
              </blockquote>
              <!-- END: Blockquote 2 -->
          </div>
      </div> </div>
    </div>

    <!-- End Header -->
  <br> <br>
    <!-- Start Section 1 left image right text -->

    <!-- End Section 1 -->
    <br> <br>
    <!-- Start Section 2 right image left text -->
      Used to be hard ... freelancer, internal, agency
    <!-- End Section 2 -->

    <!-- Start Section 3 -->
      SEO, Youtube + Google.
    <!-- End Section 3 -->

    <!-- Start Section 4 -->
      Effect of Stories on Conversion
    <!-- End Section 4 -->

    <!-- Start Section 5 -->
      We make it stupid simple
    <!-- End Section 5 -->

    <!-- Start Section 6 -->
      Imagine .... if you could have Company Posts, New Position Announcements, Tradeshow booth announcement, client successes shout out, new program announcement, pose questions directly to your audience, Tell your customer to do what you want them too.
    <!-- End Section 6 -->



  </div>
</div>
