<style type="text/css">
.raleway-thin{font-family: 'raleway'; font-weight: 200}
</style>
<div class='nk-main'>
<div style='padding-top: 7%'></div>
<!-- Logo And Top Buttons -->
<div class='row'>
<div class='col-sm-12 col-md-3 text-center'>
<div class='row'>
<div class='col-md-4'></div>
<div class='col-md-2'>
<img src="https://s3-us-west-2.amazonaws.com/nomcre/logos/UpperLeftHPlogo+2.png" alt="" width="40" style='padding-top: 6px'>
</div>
<div class='col-md-6'>
<h4>NOM<span class='raleway-thinnest'>ADIC</span> CRE<span class='raleway-thinnest'>ATIVE</span> </h4>
</div>
</div>
</div>
<div class='col-sm-12 col-md-5'></div>
<div class='col-sm-12 col-md-2 text-center'>
<a href='http://nomcre.com/users/sign_up' class="nk-btn nk-btn-x3 nk-btn-rounded nk-btn-color-main-1"> Sign UP! </a>
</div>
<div class='col-sm-12 col-md-2 text-center'>
<a href='https://nomcre.drift.com/zack/meeting' class="nk-btn nk-btn-x3 nk-btn-outline nk-btn-color-main-1"> Book A Meeting </a>
</div>
</div>
<!-- End Logo And Top Buttons -->
<!-- Title -->
<div class='row'>
<div class= 'col-md-1'></div>
<div class= 'col-md-6'>
<div class='nk-gap-1'></div>
<h1 class="raleway-thin" style="font-size: 60px;">A Stream of Videos To Flood Your Most Important Channels</h1>
<p class='nk-sub-title text-main-1 text-left raleway-bold'> Join 100+ Brands Driving Conversions with <br>
Publish-Ready Videos delivered directly to your inbox. </p>
<div class='nk-gap-1'></div>
<a href='https://nomcre.drift.com/zack/meeting' class="nk-btn nk-btn-x2 nk-btn-rounded nk-btn-color-main-1 raleway-thin"> Contact Us </a>
<div class="nk-gap-3"></div>
</div>
<div class= 'col-md-5'>
<div class='nk-gap-2'></div>
<div class='row bg-main-1 text-white'>
<div class="col-md-8 offset-md-2">
<!-- START: Blockquote 2 -->
<blockquote class="nk-blockquote raleway-bold" style="font-size:20px">
<div class="nk-blockquote-icon text-main-1">“</div>
<em class='' style="font-weight: 300; font-family: 'raleway';">
Viewers retain <span style="font-size:24px; font-weight: 400"><b>95%</b></span> of a message when they watch it on video compared to 10% when reading it in a text..
</em>
<em style="font-weight: 300; font-family: 'raleway';">
The increase in click-through rate with video is as high as <b>96%</b>, and videos are shared <b>1200%</b> more times than links and text combined.
</em>
<div class="text-right raleway-bold">-Forbes 2017</div>
<div class="nk-gap-3"></div>
</blockquote>
<!-- END: Blockquote 2 -->
</div>
</div>
</div>
</div>
<!-- End Title -->
<!-- SEO IS A MUST -->
<div class="nk-box bg-gray-3 text-center">
<div class="nk-gap-4"></div>
<img src="assets/images/mock-imac-1.jpg" class="nk-img" alt="">
<div class="nk-gap-2"></div>
<div class="container">
<div class="col-lg-10 offset-lg-1">
<div class='nk-gap-2'></div>
<h2 class="h1 nk-title">Video is Crucial in Your Engagement Strategy</h2>
<h3 class="nk-sub-title"><b>YouTube is the 2nd Biggest Search Engine AND the Biggest Video Platform</b></h3>
<div class="nk-gap"></div>
<p>
Google owns YouTube. It make sense that they want to push traffic to other Google products. Videos can easily show up higher in the search results than webpages. Video content is an answer for search engine optimization.
</p>
<br>
<!-- <a href="#!" class="nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-color-main-1">
<span class="icon"><i class="ion-bag"></i></span>
Purchase Now
</a> -->
</div>

</div>
</div>
<div class="row vertical-gap">
<div class="col-xs-12 col-sm-12 col-md-6">
<div class="nk-plain-video" data-video="https://vimeo.com/353375670"></div>
</div>
<div class=" col-xs-12 col-sm-12 col-md-6">
<div class="nk-plain-video" data-video="https://vimeo.com/347208910"></div>
</div>
</div>
<div class="nk-gap-5"></div>
<!-- END SEO IS A MUST -->
<!-- Small Window To Doominate CTA -->
<div class="nk-box text-center text-white bg-dark-1">
<div class="bg-video bg-video-parallax op-3" data-video="https://vimeo.com/262214834"></div>
<div class="nk-gap-5"></div>
<div class="container">
<div class="row">
<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
<h2 class="h1 nk-title">
You only have a small window to dominate organic social engagement. Video is key.
</h2>
<h3 class="nk-sub-title">
The top 20, 50 or 100 top videos in Google/YouTube results could be yours before your competitor even realizes what happened.
</h3>
<div class="nk-gap"></div>
<p>
A continuous stream of new, fresh, engaging video content is still time consuming and costly for your competition to produce. Nomadic Creative can provide the continuous content that puts you on top of the search engine optimization game.
</p>
</div>
</div>
</div>
<div class="nk-gap-5"></div>
</div>
<!-- End Small Window to DOminate CTA -->
<!-- Data Section 1 -->
<div class='row'>
<div class="col-md-7">
<div class='row bg-dark-1 text-white'>
<div class="col-md-8 offset-md-2">
<div class='nk-gap-1'></div>
<!-- START: Blockquote 2 -->
<blockquote class="nk-blockquote" style="font-size:22px">
<div class="nk-blockquote-icon text-main-1">“</div>
<em class='raleway'>
3 out of 4 consumers have been influenced by a brand’s social media presence when making a purchasing decision, and study after study shows their favorite way to engage with your brand is with video.
</em>
<div class="nk-gap-3"></div>
</blockquote>
<!-- END: Blockquote 2 -->
</div>
</div>
</div>
<div class="col-md-5 raleway-thinnest">
<blockquote class="" style="font-size:22px">
<div class=" text-main-1">“</div>
<div class='text-center'></div>
<div class="nk-gap-1"></div>
<em class='raleway-thin 'style="font-size:20px">
<i class='fa fa-video-camera fa-2x text-main-5 vertical-center'>
<div class="nk-gap-1"></div>
</i>
People are watching more video than ever before. <br>Brands have never had a better way to stay top-of-mind than social media stories. We now have the ability to directly drive engagement and ROI.
</em>
</blockquote>
</div>
</div>
<!-- End Data Section 1 -->
<!-- People love videos CTA -->
<div class="nk-box text-center bg-main-1 text-white">
<div class="nk-gap-4"></div>
<div class="container">
<div class="row">
<div class="col-md-8 push-md-4 text-md-right">
<h2 class="h1 nk-title">All  data shows that audiences <b>love</b> videos. </h2>
<h3 class="nk-sub-title mb-0 text-white op-7 "><b>CConsumers are consistently telling us they prefer video to any other content.</b></h3>
</div>
<div class="col-md-4 pull-md-8 text-md-left">
<div class="nk-gap-2 hidden-md-up"></div>
<a href="https://nomcre.drift.com/zack/meeting" target='_blank' class="nk-btn nk-btn-x2 nk-btn-effect-7-v nk-btn-rounded nk-btn-color-white text-dark-1">
<span class="nk-btn-effect-bg bg-dark-1"></span>
Let's Get Started
</a>
</div>
</div>
</div>
<div class="nk-gap-4"></div>
</div>
<!-- End People Love Videos CTA -->
<!-- Instagram IS -->
<div class="nk-box ">
<div class="bg-image-row row">
<div class="col-lg-6 ">
<div class="bg-image bg-image-parallax" style="background-image: url('http://www.sclance.com/pngs/instagram-icon-png-transparent-background/instagram_icon_png_transparent_background_708634.jpg');">

</div>
</div>
</div>
<div class="container">
<div class="row ">
<div class="col-lg-7 offset-lg-6  ">
<div class="nk-gap-5"></div>
<h2 class="h1 nk-title raleway-thin">
  Instagram is the fastest-growing platform that uses video content to drive purchases.
 </h2>
<div class="nk-gap-2"></div>
<div class="nk-ibox-2">
<div class="nk-ibox-icon">
<span class="ion-speedometer"></span>
</div>
<div class="nk-ibox-cont raleway-thin" style="font-size:18px">
<h3 class="nk-ibox-title">The fastest-growing platform </h3>
that uses <b>video</b> content to <b>drive purchases</b>.
</div>
</div>
<div class="nk-gap-2"></div>
<div class="nk-ibox-2">
<div class="nk-ibox-icon">
<span class="ion-share"></span>
</div>
<div class="nk-ibox-cont raleway-thin" style="font-size:18px">
<h3 class="nk-ibox-title"><a href="#">Engaging with Stories</a></h3>
Stories have changed the way that brands and companies can engage with an audience, stay top-of-mind and convert or upsell organically.
</div>
</div>
<div class="nk-gap"></div>
<div class="nk-ibox-2">
<div class="nk-ibox-icon">
<span class="ion-iphone"></span>
</div>
<div class="nk-ibox-cont raleway-thin">
<h3 class="nk-ibox-title"><a href="#">Engaging with IGTV</a></h3>
Publishing to IGTV is one of the ways to reach a broader audience than just your followers.
</div>
</div>
<div class="nk-gap-5"></div>
</div>
</div>
</div>
</div>
<!-- End Instagram IS -->
<!-- Flood of video is hard -->
<div class='bg-gray-3'>
<div class="nk-gap"></div>
<div class='row'>
<div class='col-md-5 offset-md-1'>
<div class='nk-gap-2'></div>
<h3> But You Need Video To Publish. </h3>
<div class="nk-gap-2"></div>
<div class='raleway-thin' style="font-size:20px">
Making a flood of videos is hard right? Until now, it’s been really expensive to get started. Now a studio can fit in a suitcase. With Cloud Storage, we can share files across the world in minutes. A high-end 4K cell phone camera can capture crisper images than a 5-year-old shoulder mount.
</div>
</div>
<div class='col-md-6'>
<div class="nk-plain-video" data-video="https://vimeo.com/353375670"></div>
</div>
<div class="nk-gap"></div>
</div>
</div>
<!-- End flood of video is hard -->
<!-- Time consuming -->
<div class='row'>
<div class='col-md-5 offset-md-1'>
<div class='nk-gap-2'></div>
<div class="nk-plain-video vertical-center" data-video='https://vimeo.com/262668621'></div>
</div>
<div class='col-md-6'>
<div class='nk-gap-2'></div>
<h3> Isn't creating video time-consuming and expensive? </h3>
<div class="nk-gap-2"></div>
<div class='raleway-thin' style="font-size:20px">
It used to be. Normally, commercial video production starts at around $1,000 per minute of video.<br> Plus they'll milk you for all you got; leaving you with 20-minutes worth of "content" no one will watch.
</div>
</div>
<div class="nk-gap"></div>
</div>
<!-- End Time consuming -->
<!-- 10x Value -->
<div class="nk-box text-center bg-main-1 text-white">
<div class="nk-gap-4"></div>
<div class="container">
<div class="row">
<div class="col-md-8 push-md-4 text-md-right">
<h2 class="h1 nk-title">I'm offering you at MINIMUM 10x the value </h2>
<h3 class="nk-sub-title mb-0 text-white op-7 "><b>ou literally won't believe my offer. Probably because I haven't explained how we do it... yet.</b></h3>
</div>
<div class="col-md-4 pull-md-8 text-md-left">
<div class="nk-gap-2 hidden-md-up"></div>
<a href="https://nomcre.drift.click/zack/meeting" class="nk-btn nk-btn-x2 nk-btn-effect-7-v nk-btn-rounded nk-btn-color-white text-dark-1">
  <span class="nk-btn-effect-bg bg-dark-1"></span>
  Meet With Us!
</a>
</div>
</div>
</div>
<div class="nk-gap-4"></div>
</div>
<!-- End 10x Value -->
<!-- You Have A Problem -->
<div class='row'>
<div class="col-md-7 bg-dark-1 text-white">
<blockquote class="nk-blockquote" style="font-size:22px">
<div class=" text-main-1">“</div>
<em class='raleway'>    <b>We Agree You Have A Problem.</b> <br>You need video. And a lot of it. </em>
<div class="nk-gap-3"></div>
</blockquote>
</div>
<div class="col-md-5 raleway-thinnest">
<blockquote class="" style="font-size:22px">
<div class=" text-main-1">“</div>
<div class='text-center'></div>
<em class='raleway-thin 'style="font-size:20px">
<i class='fa fa-video-camera fa-2x text-main-5 vertical-center'></i>
<br>
But you don’t have a way to make videos that you’d be proud of. And even if you do, you definitely don't have an effective way to do so continually without it becoming a blackhole for time and money.
</em>
</blockquote>
</div>
</div>
<!-- End You Have A Problem -->
<!-- The Old Way -->
<div class="nk-box bg-gray-3 text-center">
<div class="nk-gap-4"></div>
<img src="assets/images/mock-imac-1.jpg" class="nk-img" alt="">
<div class="container">
<div class="col-lg-10 offset-lg-1">
<div class='nk-gap-2'></div>
<h2 class="h1 nk-title">A Few Things About The Old Way:</h2>
<h3 class="nk-sub-title"><b> Freelancers, Internal Team, Agency.</b></h3>
<div class="nk-gap"></div>
<p>
Before  we can be sure that you're ready to see the value, let's cover the painpoints of the old ways of production.
</p>
<br>
<!-- <a href="#!" class="nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-color-main-1">
<span class="icon"><i class="ion-bag"></i></span>
Purchase Now
</a> -->
</div>
</div>
</div>
<div class="row bg-gray-3">
<div class="container">
<div class="row vertical-gap">
<div class="col-md-8 offset-md-2">
<div class="nk-plain-video" data-video="https://vimeo.com/353383510"></div>
</div>
</div>
</div>
</div>
<!-- End The Old Way -->
<!-- Stupid Simple -->
<div class="nk-box text-center text-white bg-dark-1">
<div class="nk-gap-4"></div>
<div class="container">
<div class="row">
<div class="col-md-8 text-md-left">
<h2 class="h1 nk-title">NOMCRE Makes it STUPID SIMPLE.</h2>
<h3 class="nk-sub-title mb-0 text-white op-7">To continually prouduce quality engaging videos. </h3>
</div>
<div class="col-md-4 text-md-right">
<div class="nk-gap-2 hidden-md-up"></div>
<a href="https://nomcre.drift.com/zack" class="nk-btn nk-btn-x2  nk-btn-circle nk-btn-color-main-1">
<span class="nk-btn-effect-bg bg-main-2"></span>
<span>Book A Meeting</span>
<span class="icon"><i class="ion-ribbon-b"></i></span>
</a>
</div>
</div>
</div>
<div class="nk-gap-4"></div>
</div>
<!-- End Stupid Simple -->
<!-- 4 Steps -->
<div class='nk-main'>
  <div class="container">
    <div class="nk-gap-2"></div>
    <div class="nk-blog-list">
    <!-- START: Post -->
      <div class="nk-blog-post">
        <div class="row vertical-gap">
          <div class="col-lg-5">
            <a href="#">
              <img src="https://nomcre-rails.s3-us-west-2.amazonaws.com/public-page-images/film-studio-5.jpg" alt="" class="nk-img-stretch">
            </a>
          </div>
          <div class="col-lg-7">
            <div class="nk-post-meta nk-post-meta-top pb-0">
              <div class="nk-post-date nk-post-meta-right">
                <!--  <span class="nk-post-by">by <a href="#">nK</a></span> -->
              </div>
            </div>
            <div class="nk-post-category" style="font-size:20px;">
              <a href="#">Step 1: </a>
            </div>
            <h2 class="nk-post-title h3"><a href="blog-single-image.html">We Ship You A Studio</a></h2>
              <div class="nk-post-text raleway">
                <p class="text-left">

                    <ol style="padding-left:32px;">
                    <li>Camera</li>
                    <li>Tri-pod</li>
                    <li>Wireless mic</li>
                    <li>Lighting</li>
                    <li>background (if needed)</li>
                  </ol>
                </p>
              </div>
            <div class="nk-post-continue text-left">
              <!-- <a href="blog-single-image.html">Continue Reading <span class="ion-ios-arrow-thin-right"></span></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END: Post -->
    <div class="nk-blog-post">
      <div class="row vertical-gap">
        <div class="col-lg-5">
          <a href="#">
            <img src="https://nomcre-rails.s3-us-west-2.amazonaws.com/public-page-images/IMG_4349.png" alt="" class="nk-img-stretch">
          </a>
        </div>
        <div class="col-lg-7">
          <div class="nk-post-meta nk-post-meta-top pb-0">
            <div class="nk-post-date nk-post-meta-right">
                <!--  <span class="nk-post-by">by <a href="#">nK</a></span> -->
            </div>
          </div>
          <div class="nk-post-category" style="font-size:20px;">
            <a href="#">Step 2: </a>
          </div>
          <h2 class="nk-post-title h3"><a href="blog-single-image.html">You Record During The Week</a></h2>
          <div class="nk-post-text raleway">
            <p class="text-left">
              During the week, anyone in your office can jump in front of the camera to talk about:
              <ol style="padding-left:32px;">
                <li> Announcements</li>
                <li> New Programs</li>
                <li> New Job Openings </li>
                <li> Customer Success Stories </li>
                <li> Volunteer Participation </li>
                <li> Tradeshow Hype</li>
                <li> Discounts </li>
                <li> Anything else you can think of, really.</li>
              </ol>
            </p>
          </div>
          <div class="nk-post-continue text-left">
            <!-- <a href="blog-single-image.html">Continue Reading <span class="ion-ios-arrow-thin-right"></span></a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="nk-blog-post">
      <div class="row vertical-gap">
        <div class="col-lg-5">
          <a href="#">
            <img src="https://nomcre-rails.s3-us-west-2.amazonaws.com/public-page-images/drop-box-box.png" alt="" class="nk-img-stretch">
          </a>
        </div>
        <div class="col-lg-7">
          <div class="nk-post-meta nk-post-meta-top pb-0">
            <div class="nk-post-date nk-post-meta-right">
            <!--  <span class="nk-post-by">by <a href="#">nK</a></span> -->
            </div>
          </div>
          <div class="nk-post-category" style="font-size:20px;">
            <a href="#">Step 3: </a>
          </div>
          <h2 class="nk-post-title h3"><a href="#">Upload the Clips</a></h2>
          <div class="nk-post-text raleway">
            <p class="text-left">
              Simply sync your clips to our Cloud folder.
              <br> This is as simple as using our Storage Partner Box or DropBox.
            </p>
          </div>
          <div class="nk-post-continue text-left">
          <!-- <a href="blog-single-image.html">Continue Reading <span class="ion-ios-arrow-thin-right"></span></a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="nk-blog-post">
      <div class="row vertical-gap">
        <div class="col-lg-5">
          <a href="#">
            <img src="https://nomcre-rails.s3-us-west-2.amazonaws.com/public-page-images/email.jpg" alt="" class="nk-img-stretch">
          </a>
        </div>
        <div class="col-lg-7">
          <div class="nk-post-meta nk-post-meta-top pb-0">
            <div class="nk-post-date nk-post-meta-right">
              <!--  <span class="nk-post-by">by <a href="#">nK</a></span> -->
            </div>
          </div>
          <div class="nk-post-category" style="font-size:20px;">
            <a href="#">Step 4: </a>
          </div>
          <h2 class="nk-post-title h3"><a href="blog-single-image.html">Publish-Ready Videos In Your Inbox</a></h2>
          <div class="nk-post-text raleway">
            <p class="text-left">
              In less than 1 week, Nomcre will produce your raw clips into exciting, engaging, publish-ready videos. The best part is you don't have to do anything else except sit back and wait for them to be delivered to your inbox.
              <br>
              Post, Promote, Profit.
            </p>
          </div>
          <div class="nk-post-continue text-left">
          <!-- <a href="blog-single-image.html">Continue Reading <span class="ion-ios-arrow-thin-right"></span></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End 4 Steps -->
<!-- Closing and Conversation -->
  <div class='container bg-gray-3'>
    <p class="raleway-thin" style="font-size:32px;">
      IMAGINE .... <br>You could have company posts, new position announcements, tradeshow booth announcements, client success shout-outs, new program announcements. You could pose questions directly to your audience or tell your customer what you want them to do. A call-of-action <i>in</i> action.
    </p>
    <div class='text-center'>
      <a href='https://nomcre.drift.com/zack' class="nk-btn nk-btn-x3 nk-btn-outline nk-btn-color-main-1 "> Let's Chat </a>
      <div class='nk-gap-2'></div>
      <div class='d-none d-md-block'> Or Start The Conversation Below 👇</div>
    </div>
    <div class="nk-main d-none d-md-block">
      <iframe src='https://nomcre.drift.click/linkedin-questionaire'style="position: relative; height: 100%;min-height:500px; width: 100%;">
      </iframe>
    </div>
  </div>
<!-- End closing and Conversation -->
</div>








