<% content_for :head do %>
<meta property="og:url" content="<%= request.original_url %>" />
<meta property="og:type" content="website" />
<meta property="og:title" content="NomCre - FAQ" />
<meta property="og:description" content="Nomcre - Our Best Visual Creators. The Best Photographers and Videographers." />
<meta property="og:image" content="https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/horizontal/nomcre-horizontal-19.jpg" />
<meta property="title" content="Nomcre - The Nomadic Creative FAQ Page" />
<meta property="keywords" content="On Demand, On-Demand, Visual, Custom, Creative, Content, Photography, Videography, Videos, product photos, pictures" />
<% end %>
<div style='padding-top: 140px;'></div>

<style type="text/css">
  .nk-accordion {
    font-family: raleway;
  }

  p {padding: 24px;}
</style>

<div class="nk-header-title nk-header-title-md nk-header-title-parallax nk-header-title-parallax-opacity nk-header-title-parallax-blur">
    <div class="bg-image op-9">
        <img class="jarallax-img" style='width:100%' src="https://nomcre-rails.s3-us-west-2.amazonaws.com/public-page-images/nomadic-creative-video-header-no-title.jpg" alt="">
    </div>
    <div class="nk-header-table">
        <div class="nk-header-table-cell">
            <div class="container">
              <h1 class="nk-title bebas">Frequently Asked Questions</h1>
              <h2 class="nk-sub-title">Click To Play</h2>
              <div class="nk-gap-2"></div>

                <a class="nk-video-fullscreen-toggle" href="https://vimeo.com/386810165">
                  <span class="nk-video-icon">
                    <span class="fa fa-play fa-3x"></span>
                  </span>
                </a>
            </div>
        </div>
    </div>

</div>

<div class='nk-main'>
  <div class='nk-gap-2'></div>
  <h2 class='text-center'  style="font: raleway;">
  FAQ
</h2>
<div class='nk-gap-2'></div>
<div class='row'>
  <div class='col-md-2'></div>
  <div class='col-md-8'>
    <div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="accordion-1-1-heading">
          <a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-1" aria-expanded="false" aria-controls="accordion-1-1" class="collapsed">
            <h5>What will the quality of the images be?</h5>
          </a>
        </div>
        <div id="accordion-1-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-1-heading" aria-expanded="false" style="">
          <div class="nk-gap-1"></div>

          <p>TOP!  Some of our creators shoot for top agencies, National Geographic, magazines, etc. So the images are extraordinary.  And you get to see the portfolio of the creator before you choose them.</p>
          <div class="nk-gap-1"></div>

        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="accordion-1-2-heading">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-2" aria-expanded="false" aria-controls="accordion-1-2">
            <h5>How is the turn around time so fast?</h5>
          </a>
        </div>
        <div id="accordion-1-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-2-heading" aria-expanded="false">
          <div class="nk-gap-1"></div>
          <p>We are already there!  We are the peak of a decentralized company, our creators are already in the places you want to shoot, no plane tickets, no shipping gear, models, crew.  Just put your product in a box and send away :) </p>
          <div class="nk-gap-1"></div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="accordion-1-3-heading">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-3" aria-expanded="false" aria-controls="accordion-1-3">
            <h5>How are you prices lower than an agency?</h5>
          </a>
        </div>
        <div id="accordion-1-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-3-heading" aria-expanded="false">
          <div class="nk-gap-1"></div>
          <p> Forward thinking and technology!  Instead of cool offices, account reps, ping pong tables, and all the other things that fall under “massive overhead” we are here to get you exactly what you need, when you need it, and we live online where the rent is considerably cheaper than Madison Ave. </p>
          <div class="nk-gap-1"></div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="accordion-1-4-heading">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-4" aria-expanded="false" aria-controls="accordion-1-4">
            <h5>How do I get the same look from multiple shoots?</h5>
          </a>
        </div>
        <div id="accordion-1-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-4-heading" aria-expanded="false">
          <div class="nk-gap-1"></div>
          <p> Easy! We have a centralized editing team, so everything is always in your finishing style, even if the shoots are months or years apart, and on different continents with different creatives.</p>
          <div class="nk-gap-1"></div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="accordion-1-5-heading">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-5" aria-expanded="false" aria-controls="accordion-1-5">
            <h5>Can we pick our creative?</h5>
          </a>
        </div>
        <div id="accordion-1-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-5-heading" aria-expanded="false">
          <div class="nk-gap-1"></div>
          <p> Absolutely! You just fill out the brief, we pick the best hand selected super pros from around the galaxy to present to you. </p>
          <div class="nk-gap-1"></div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="accordion-1-6-heading">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-6" aria-expanded="false" aria-controls="accordion-1-6">
            <h5>Can we have our logo in the shot?</h5>
          </a>
        </div>
        <div id="accordion-1-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-6-heading" aria-expanded="false">
          <div class="nk-gap-1"></div>
          <p> Of course! We prefer if you do, after all, its a custom shoot, your vision, your product, your lifestyle, your, well, whatever… </p>
          <div class="nk-gap-1"></div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="accordion-1-7-heading">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-7" aria-expanded="false" aria-controls="accordion-1-7">
            <h5>Are there copyright issues? </h5>
          </a>
        </div>
        <div id="accordion-1-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-7-heading" aria-expanded="false">
          <div class="nk-gap-1"></div>
          <p>NO! Unlike stock, which can get messy, and you may have to know how big your usage will be, this is an old and silly way of working.  You can use your images for anything, forever.  The only restriction is you can’t sell the images to anyone else. We won't either. </p>
          <div class="nk-gap-1"></div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="accordion-1-8-heading">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-8" aria-expanded="false" aria-controls="accordion-1-8">
            <h5>Can we build a library of images? </h5>
          </a>
        </div>
        <div id="accordion-1-8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-8-heading" aria-expanded="false">
          <div class="nk-gap-1"></div>
          <p>YES!  This is what we specialize in, you may think you just need a few shots, but we make sure you have a full library of everything from the shoot, including behind the scenes.  </p>
          <div class="nk-gap-1"></div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-2'></div>
</div>
</div>

