<div style="padding-top: 125px;">

</div>

<div class='nk-main'>
    On AN XL Screen
    <br>
    Hidden:
    <ul>
      <li>XS UP</li>
      <li>SM UP</li>
      <li>MD UP</li>
      <li>LG UP</li>
      <li>XL UP</li>
    <ul>
    <br>
    Visable:
    <ul>
      <li>XS Down</li>
      <li>SM Down</li>
      <li>MD Down</li>
      <li>LG Down</li>
    <ul>

    On AN LG Screen
    <br>
    Hidden:
    <ul>
      <li>XS UP</li>
      <li>SM UP</li>
      <li>MD UP</li>
      <li>LG UP</li>
      <li>LG Down </li>
      <li>XL Down </li>
    <ul>
    <br>
    Visable:
    <ul>
      <li>XS Down</li>
      <li>SM Down</li>
      <li>MD Down</li>
      <li>XL UP</li>
    <ul>
    <br>

    <div class="hidden-xs-down">
      Hidden XS Down
    </div>
    <div class="hidden-sm-down">
      Hidden SM Down
    </div>
    <div class="hidden-md-down">
      Hidden MD Down
    </div>
    <div class="hidden-lg-down">
      Hidden LG Down
    </div>
    <div class="hidden-xl-down">
      Hidden XL Down
    </div>

    <div class="hidden-xs-up">
      Hidden XS UP
    </div>
    <div class="hidden-sm-up">
      Hidden SM UP
    </div>
    <div class="hidden-md-up">
      Hidden MD UP
    </div>
    <div class="hidden-lg-up">
      Hidden LG UP
    </div>
    <div class="hidden-xl-up">
      Hidden XL UP
    </div>
</div>
