
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js"></script>
<script type="text/javascript">
  let app = new PIXI.Application({width: window.innerWidth, height: innerHeight})

  document.body.appendChild(app.view);


  let img = PIXI.Sprite.from("https://nomcre-local.s3-us-west-2.amazonaws.com/3d/fireside/fireside-whisky.png");
  img.width = window.innerWidth;
  img.height = window.innerHeight;
  app.stage.addChild(img);

  let depthMap = new PIXI.Sprite.from("https://nomcre-local.s3-us-west-2.amazonaws.com/3d/fireside/fireside-whisky_depth.png");
  app.stage.addChild(depthMap);

  displacementFilter = new PIXI.filters.DisplacementFilter(depthMap);
  app.filters = [displacementFilter];
  window.onmousemove = function(e){
    displacementFilter.scale.x = (window.innerWidth / 2 - e.clientX) / 20;
    displacementFilter.scale.Y = (window.innerHeight / 2 - e.clientY) / 20;
  };

</script>


<!-- <img src='https://nomcre-local.s3-us-west-2.amazonaws.com/3d/fireside/fireside-whisky.png'> -->
<!-- <div class='nk-gap-5'></div>

<div style="padding-top: 125px;">

</div>
<div class='nk-main'>
<div class='row'>
  <div class='col-md-6'></div>
  <div class='col-md-6' >
  <iframe src="https://nomcre.drift.click/brief-inftro" style="width:100%;min-height:500px;"></iframe>

  </div>

</div>







    On AN XL Screen
    <br>
    Hidden:
    <ul>
      <li>XS UP</li>
      <li>SM UP</li>
      <li>MD UP</li>
      <li>LG UP</li>
      <li>XL UP</li>
    <ul>
    <br>
    Visable:
    <ul>
      <li>XS Down</li>
      <li>SM Down</li>
      <li>MD Down</li>
      <li>LG Down</li>
    <ul>

    On AN LG Screen
    <br>
    Hidden:
    <ul>
      <li>XS UP</li>
      <li>SM UP</li>
      <li>MD UP</li>
      <li>LG UP</li>
      <li>LG Down </li>
      <li>XL Down </li>
    <ul>
    <br>
    Visable:
    <ul>
      <li>XS Down</li>
      <li>SM Down</li>
      <li>MD Down</li>
      <li>XL UP</li>
    <ul>
    <br>

    <div class="hidden-xs-down">
      Hidden XS Down
    </div>
    <div class="hidden-sm-down">
      Hidden SM Down
    </div>
    <div class="hidden-md-down">
      Hidden MD Down
    </div>
    <div class="hidden-lg-down">
      Hidden LG Down
    </div>
    <div class="hidden-xl-down">
      Hidden XL Down
    </div>

    <div class="hidden-xs-up">
      Hidden XS UP
    </div>
    <div class="hidden-sm-up">
      Hidden SM UP
    </div>
    <div class="hidden-md-up">
      Hidden MD UP
    </div>
    <div class="hidden-lg-up">
      Hidden LG UP
    </div>
    <div class="hidden-xl-up">
      Hidden XL UP
    </div>
</div>
 -->
