<% content_for :head do %>
<meta property="og:url" content="<%= request.original_url %>" />
<meta property="og:type" content="website" />
<meta property="og:title" content="NomCre - How To: Company Setup" />
<meta property="og:description" content="Nomcre - Our Best Visual Creators. The Best Photographers and Videographers." />
<meta property="og:image" content="https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/horizontal/nomcre-horizontal-19.jpg" />
<% end %>
<div class="nk-header-title nk-header-title-sm nk-header-title-parallax nk-header-title-parallax-opacity">
    <div class="bg-image">
        <div style="background-image: url('assets/images/image-20.jpg');"></div>
    </div>
    <div class="nk-header-table">
        <div class="nk-header-table-cell">
            <div class="container">
                <h1 class="nk-title">Proposal Tutorial For Creatives</h1>
            </div>
        </div>
    </div>

</div>
<%= @lat %><br/>
<%= @long %>
