<style type="text/css">
  p {text-align: left;}
</style>
<div class="nk-header-title nk-header-title-xl nk-header-title-parallax nk-header-title-parallax-opacity">
    <div class="bg-image op-6">
        <div style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/HompageHeader/HomePageHeader.jpg');"></div>
    </div>
    <div class="nk-header-table">
        <div class="nk-header-table-cell">
            <div class="container">
                <div class="nk-header-text">
                    <h1  style="font: raleway; font-weight: 500;">
                      WHAT
                      <span class='raleway-thinnest' style="padding-right: 6px; padding-left: 6px">YOU</span>
                      NEED
                      <span class='raleway-thinnest' style="padding-right: 6px; padding-left: 6px">TO</span>
                      KNOW
                    </h1>
                    <div class="nk-gap"></div>
                    <!-- <h2 class="nk-title nk-font-inherit fw-500">The Most Advanced Website Layouts</h2>

                    <div class="nk-gap-2"></div> -->
                    <!-- <a class="nk-video-fullscreen-toggle" href="https://vimeo.com/108018156">
                        <span class="nk-video-icon-2-light"><i class="fa fa-play pl-5"></i></span>
                    </a> -->

                </div>


            </div>
        </div>
    </div>

</div>

<div class='container bg-white '>
<div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="accordion-1-1-heading">
            <a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-1" aria-expanded="false" aria-controls="accordion-1-1" class="collapsed">
                <h2>Click To View - Terms of Service For Creators</h2>
            </a>
        </div>
        <div id="accordion-1-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-1-heading" aria-expanded="false" style="">
            <div class="nk-gap-1"></div>
            <div class=''>
              <h3>By Accepting a Project with NOMADIC CREATIVE</h3>



                <p>Well hello there you super talented and awesome Creator.  Here are the Terms of Service. Our TOS is in plain english, for 3 reasons:<br><br>
                 I’m not a lawyer and you probably aren’t either (if you are a photographer/lawyer.. Kudos to you!).
                We should all be on the same page, as in this page.
                English is the only language I can write in good…
                To get paid, you have to do a few things first, obviously, they are in particular order:
                Sign Up! By  signing up at Nomcre.com,  you agree to this here page! Feel free to read it over &amp; over &amp; over &amp; over &amp; over …
                Set up your creator profile. Make sure to update your preferred method of payment, so you can get paid.
                Fill your your W9 so the government won’t be mad at us.
                Set your portfolio and schedule (otherwise clients can't find you… and we don't pay you to hide)
                You’re off to the races!</p>

                <h4>Now the fun part (Hip Hop Hooray!):</h4>
                <p>When a job appears you’ll get a few notifications. Sorry for the barrage but we don’t want you to miss the chance. Click the link we provide to the brief, and then read the whole thing. If you like the requirements and want the work. Tell our client that you're interested. You do this by accepting a request.
                The client will check out all the creatives that are willing to accept the work, and assign just 1 of you.  After you’ve indicated that you want the work, if the client says we are a go, then it’s a go.
                You must complete all of the required client sections (the client shot list) and the other Nomadic Creative requirements (additional shots added to the list) for the job to be considered done. When you accept the job, you accept this very real fact.  However, it is why we are all here.
                How it works and your responsibilities:
                Read the creative brief (Flight Plan), look at the shot list, inspirations, examples, and requirements. Make sure you take note of  when and where the job is. Then make a plan of attack for what it will require to get done in the best way possible.
                </p>

                <h4>You hereby accept the following terms and conditions.</h4>
                <p>The creator (you) must perform the tasks outlines in the creative brief, hereinafter referred to as the “Flight Plan”.  Reading the flight plan carefully is a must, as is studying the examples that have been provided by the client in the flight plan.  This is crucial to make sure you stay  ‘on brand”  as you prepare the shoot, match the look. and be able to carry the visual representation of our client.<br>

                All photos, including but not limited to those taken specifically for the client, such as behind the scenes or location scouting, model photos, and set up photos, as well as all client and NOMADIC CREATIVE directed/instructed/suggestd photos, video or other media is the sole copyrighted and protected and owned property of NOMADIC CREATIVE LLC.  Nomadic Creative grants the creator (you) limited self promotional usage of all content created for the project in perpetuity.  NOMADIC CREATIVE will hold the final and unchallenged rights to all content created in the process of fulfilling the flight plan. The creator may not, under any circumstances sell the content to anyone at anytime, ever.  Period.<br>
                You (the creator) must wait to post socially or otherwise until NOMADIC CREATIVE LLC has given express and written emailed consent for you to do so.  This includes sending to other clients, using in ‘private’ communications with other clients, etc.
                If you do the penalty is not limited to forfeiting your payment from NOMADIC CREATIVE LLC.  In the case that this happens, you will receive an invoice from NOMADIC CREATIVE LLC. for your payment, plus any damages that may occur to the client. Sometimes we shoot products that haven’t gone to market yet, so we can not be responsible for spoiling any for our beloved clients expectations and/or launch plan.
                In short, what you shoot on assignment belongs to NOMCADIC CREATIVE LLC and you can use it for all the self promotion you’d like as long as you use two of more of the following credits:  @nomadiccreative, shot for NomCre.com, #nomcre #nomadiccreative and at least one reference to the client who commissioned the work. Client reference can take the form of their logo clearly showing in the creative content, but where the logo is not prominently displayed, credit must be given.
              </p>

            </div>
              <%= link_to "Download", "https://s3-us-west-2.amazonaws.com/nomcre-rails/tos/NOMCRE-Creator-TOS.pdf" %>
            <div class="nk-gap-1"></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="accordion-1-2-heading">
            <a class="" data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-2" aria-expanded="true" aria-controls="accordion-1-2">
               <h2>Click To View - Terms of Service For Companies</h2>
            </a>
        </div>
        <div id="accordion-1-2" class="collapse show" role="tabpanel" aria-labelledby="accordion-1-2-heading" aria-expanded="true">
            <div class="nk-gap-1"></div>

              <h3>CLIENT TERMS OF SERVICE </h3>



              <h5>All photos, videos, or any other media produced (or commissioned by) is the sole property of NOMADIC CREATIVE LLC. The client (commissioner) will hold, in perpetuity full commercial rights and distribution.

              NOMADIC CREATIVE LLC will protect and pursue those who violate our copyright.</h5>


              <p>We create these documents so we are all on the same page. Which, in this case, is an actual webpage that everyone can review. it’s open and available. This agreement is binding and non negotiable, by using our services, you agree to the terms of service, but don’t worry, we have made them easy to understand.

              NOMADIC CREATIVE LLC holds all rights to the photos/media/videos exclusively. This is laid out clearly in the sections below:</p>



              <h4>Conditions of Use</h4>
              <p>We will provide their services to you, which are subject to the conditions stated below in this document. Every time you visit this website, use its services or make a purchase, you accept the following conditions. This is why we urge you to read them carefully, we have done our best to make it easy to understand. Here are the basics:
              The full creative requested by any client or commissioner will not be delivered until the final payment has been processed.</p>

              <p>The full creative content (what you requested, plus what we create for you without explicit request) will be sent via link for your download. You, the client have 60 days to download, after that, there will be a fee applied to retrieving your data as we move it to cold storage. The content produced will be made available to download for no less than 60 days, at which point the files will be moved to cold storage and a request must be made to get the goods. But we move so fast, you will be will probably have another job for us by then.</p>

              <p>Changes once the contract has been initiated may be considered, and may result in additional charges to meet your specific needs, will be subject to time and fees . These fees are subject to change and are guided by the terms of service agreement and referenced to how we price.</p>

              <h4>Copyright</h4>
              <p>This is where it maybe a little different for most people. We have a new kind of way of handling copyright, it's pretty amazing, takes some worry off you and keeps everyone happy. By default, Nomadic Creative owns any and all images content created as a result of working with Nomadic Creative by anyone that works with us. You, the client, are granted the rights to use in perpetuity and to modify, but never re sell to anyone. We provide the storage of the backups, and protection of the copyrights of the images. Content published on this website (or our files we provide links to that are stored on servers that we control)  (digital downloads, images, video, texts, graphics, logos) is the property of Nomadic Creative and protected by international copyright laws. Also, we grant limited rights for promotional use to the creator, but only after you give the go ahead unless otherwise specified by you, the client. The entire compilation of the content found on this website is the exclusive property of Nomadic Creative llc.</p>



              <h4>Here is how the rights are layed out:</h4>

              <h5>Client</h5>
              <p>You get the usage of the material (photos and video) in perpetuity, and you can distribute (post or use for advertising) modify (and text or change the color) at will, forever…  and ever..   But with great power come great responsibility, so, you’re not allowed to resell the imagery [in any variation], to anyone, ever.
              </p>
              <h5>Content Creators</h5>
              <p>They get to use the material for self promotion only, they are not allowed to sell the photos either.
              Nomadic Creative LLC
              We may use any images and video created for Nomadic Creative Clients in promotion of Nomcre and the Client, because we are proud of the work we do. Promotion may include but is not limited to  social media, traditional marketing methods, and any other promotions that arise.  Remember the great power and responsibility?  We do the same, we handle copyright bad guys, people who use our cool images for themselves, even though they do not own them.  Nomadic Creative owns the copyrights on any materials produced as a result of working with Nomadic Creative, and that’s how we get to protect them. We worry about the follow up, so you can focus on selling your product.</p>






              <h4>Communications</h4>
              <p>All communication between client and creators should be electronic, and conducted over the mechanisms Nomadic Creative has provided through our web service. Communication directly with Nomadic Creative occurs every time you send us an email or visit our website. We consider this communicating with us. Therefore, you hereby consent to receive communications from us. We will continue to communicate with you by posting news and notices on our website and by sending you emails. You also agree that all notices, disclosures, agreements and other communications we provide to you electronically meet the legal requirements that such communications be in writing. This includes the in-site chat feature. So make sure you ‘HI’ to your creator!</p>

              <h4>Applicable Law</h4>
              <p>By visiting this website, using our services, you agree that the laws of the United States, without regard to principles of conflict laws, will govern these terms of service, or any dispute of any sort that might come between NOMADIC CREATIVE LLC.  and you, or its business partners and associates.</p>

              <h4>Disputes</h4>
              <p>Any dispute related in any way to your visit to this website or to products you purchase from us shall be arbitrated by state or federal court and you consent to exclusive jurisdiction and venue of such courts. Or even easier, just give us a call and we will do our absolute best to make the situation right.</p>

              <h4>User Account</h4>
              <p>If you are an owner of an account on this website, you are solely responsible for maintaining the confidentiality of your private user details (username and password). You are responsible for all activities that occur under your account or password.</p>

              <h4>Payments and refunds</h4>
              <p>We require a 20% deposit, non refundable, and second non refundable of another 50% is required to start the job.  The remaining 30% is required to obtain the full high quality content.
              We reserve all rights to terminate any accounts, edit or remove content and cancel orders in their sole discretion for any reason whatsoever. We reserve the right to update this document anytime.</p>

              <h4>Refunds</h4>
              <p>There are no refunds. Period. But, Nomadic Creative  will always work to make your experience amazing!</p>

              <h4>Changes and timelines</h4>
              <p>Shooting globally requires a little adaptability, we shoot everywhere, the global stage is not a closed set. Things will happen that are out of our (and human) control, like weather, customs, sharks, etc., Nomadic Creative will produce great content, but sometimes we have to adapt and slightly modify the schedule. For Example, we will not ask anyone to shoot in a hurricane (unless that was part of the brief they agreed to). Although though we love our clients, and are loyal to your needs and wishes,our rule of thumb is: Safety First. The creative brief serves as the basis of a contract between you and a creator, the terms and details are locked when the creator has agreed, you have accepted the creator, and the second deposit (confirmation deposit) has been settled, as outlined above.  Any changes that are required after the agreement has been entered, i.e. additional videos or a second photo shoot, you will have to contact us immediately. As Nomadic Creative operates on such a short timeline, and in varied time zones, it's a very tight schedule. This is why we lock the brief and details  after the terms have been agreed to by both parties. Moreover,  there may be no additions to an agreed term set (brief). Nomadic Creative may create additional briefs for you, under limited circumstances and at the sole discretion of Nomadic Creative.  For example, on the day before the shoot, a client may not add to the shot list or ask the creator for more assets. Conversely, we may agree that changing the time of day, shoot location, or focus points is reasonable, and adapt the brief for you after confirming the changes with your chosen creator. Nomadic Creative reserves the right to create a new brief as your representative to make sure your goals are met.  First, we stick to the brief, and prepare for that, and second, the creator won’t be able to accept without another brief that is a go (deposits paid and consent from the creator)</p>




              <h4>Shipping</h4>
              <p>This can be a wild one, so let’s get down to it.  It’s your product, you may or may not want it back after we shoot. Cool prototype? Probably yes, energy bar? Hope not. So, shipping to and fro are your responsibility. The shipping label to return the products must be generated by you and given to the on-set team (the creator, or maybe just put  in the package.) Nomadic Creative will NEVER be responsible for your shipping. Which brings us to customs, and vary greatly between regions and countries.  It's your responsibility to insure the product or products with you shipper, as well as cover any cost associated with customs and import. The client must refrain from shipping things that could delay the shoot, like sending something that shouldn't be shipped to that country. For example: a bottle of wine may not be shipped to Saudi Arabia.  Nomadic Creative will bring this up many times, so be prepared, and don’t get mad at us for asking for tracking numbers etc!  If there is no mention of return shipping the default is that the creator will not ship it back.</p>

              <h4>Payment methods</h4>
              <p>We have multiple easy ways to pay, and since we don’t want to hold up your shoot, or waste anyone's time, we take ACH (electronic bank transfers) or you can easily pay online. Nomadic Creative prefers an ACH transfer due to the cost of Credit Card processing. All processing fees are the responsibility of the client. Invoices for all payment (both complete and pending) are available to you on nomcrre.com at all times. This being said, to keep up the pace, which is one of the best things about us, we don’t accept checks, unless you are a enterprise client, but if you have to ask “Are We An Enterprise?’ the answer is probably no.</p>
                 <%= link_to "Download", "https://s3-us-west-2.amazonaws.com/nomcre-rails/tos/NOMCRE-Creator-TOS.pdf" %>

            <div class="nk-gap-1"></div>
        </div>
    </div>
  </div>
</div>

