<% content_for :head do %>
<meta property="og:url" content="<%= request.original_url %>" />
<meta property="og:type" content="website" />
<meta property="og:title" content="NomCre - Video Showcase" />
<meta property="og:description" content="Nomcre - The Best Nomadic Creative Videos" />
<meta property="og:image" content="https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/horizontal/nomcre-horizontal-19.jpg" />
<meta property="title" content="Nomcre - The Best Nomadic Creative Videos" />
<meta property="keywords" content="On Demand, On-Demand, Visual, Custom, Creative, Content, Photography, Videography, Videos, product photos, pictures" />
<% end %>


<div class='nk-main'>
<div class="nk-header-title nk-header-title-md nk-header-title-parallax nk-header-title-parallax-opacity nk-header-title-parallax-blur">
    <div class="bg-image op-5">
        <img class="jarallax-img" src="assets/images/image-8.jpg" alt="">
    </div>
    <div class="nk-header-table">
        <div class="nk-header-table-cell">
            <div class="container">


                    <h1 class="nk-title">Video Showcase</h1>
                    <h2 class="nk-sub-title">Click Play</h2>



                    <div class="nk-gap-2"></div>

                        <a class="nk-video-fullscreen-toggle" href="https://www.youtube.com/watch?v=0wCC3aLXdOw">
                            <span class="nk-video-icon"><span class="ion-md-play pl-4"></span></span>
                        </a>



            </div>
        </div>
    </div>

</div>

<%= render :partial => 'khaki/nomcre/showcase/video/standard' %>
<%= paginate @showcase_videos %>
</div>
