<div class='col-md-12'><h1 class="text-primary text-center">Shoots</h1></div>
<br>
<% if params[:q] == 'list'%>
  <%= render :partial => 'shoots/partials/black_dashboard/shared/list', :locals => {:shoots => shoots}%>

<% else %>

  <%= render :partial => 'shoots/partials/black_dashboard/shared/cards', :locals => {:shoots => shoots}%>
<% end %>

