<style>

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
</style>
<div class='row'>
  <div class='col-md-12'>
    <%= link_to "<i class='fa fa-arrow-left' > </i> Back To Project".html_safe, project_path(shoot.project), style: 'padding-left:12px;' %>
  </div>
</div>
<br>
<div class='row'>
  <div class='col-md-3'>
    <%= render :partial => 'shoots/partials/black_dashboard/show/left_panel', :locals => {shoot: shoot} %>
  </div>
  <div class='col-md-9'>
    <%= render :partial => 'shoots/partials/black_dashboard/show/right_panel', :locals => {shoot: shoot} %>
  </div>
</div>
