<div class='row'>
  <div class='col-md-4'>
    <%= render :partial => 'shoots/partials/black_dashboard/show/left_panel', :locals => {shoot: shoot} %>
  </div>
  <div class='col-md-8'>
    <%= render :partial => 'shoots/partials/black_dashboard/show/right_panel', :locals => {shoot: shoot} %>
  </div>
</div>
