<div class="nk-box ">

            <div class="bg-image-row row">
                <div class="col-lg-6 offset-lg-6">
                    <div class="bg-image bg-image-parallax" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/stacked-images/ProcessMap.png');"></div>
                </div>
            </div>
            <div class="container">
               <div class="text-left text-main-8">
                            <h3 class="nk-title-back text-light">Skyrocket Your</h3>
                            <!-- <h4 class="nk-sub-title text-main-7">[Custom Creative On Demand]</h4> -->
                            <div class='nk-gap-1'></div>
                            <h2 class="nk-title display-4">Organic Conversions</h2>
                            <!-- <div class="nk-title-sep-icon">
                                <span class="icon">
                                    <span class="ion-chatbubbles"></span>
                                </span>
                            </div> -->
                        </div>
                <div class='nk-gap-2'></div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="nk-ibox-2">
                            <div class="nk-ibox-icon">
                                <span class="ion-android-share-alt"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title">Increase Social Shares by Up To 40x</h3>
                                <p class='text-left' style='margin:16px;'> According to Hubspot.com Visual content is <b>40X</b> more likely to get shared on social media than other types of content. Creating Content that your audience will share is the cheapest and most effective way to convert more customers. </p>
                            </div>
                        </div>
                        <div class="nk-gap"></div>
                        <div class="nk-ibox-2">
                            <div class="nk-ibox-icon">
                                <span class="ion-arrow-graph-up-right"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title">Get Up To 50x Traffic From Organic Search</h3>
                                <p class='text-left' style='margin:16px;'> Relevant vidoes hosted on Youtube is the fastest way to land your business on the first page of Google Search Results. Video content is <b>50 times</b> more likely to drive organic search results than plain text will according to Omnicore Agency. Having a video thumbnail in the search results can double your search traffic.</p>
                            </div>
                        </div>
                        <div class="nk-gap"></div>
                        <div class="nk-ibox-2">
                            <div class="nk-ibox-icon">
                                <span class="ion-ios-email-outline"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title">Increase Email Clickthrough By Up To 96%</h3>
                               <p class='text-left' style='margin:16px;'>Video emails see click-through rates that are <b>96% higher </b> than non-video emails. The same videos can be used in your YouTube SEO and Email marketing strategy.  </p>
                            </div>
                        </div>
                        <div class="nk-gap"></div>
                        <div class="nk-ibox-2">
                            <div class="nk-ibox-icon">
                                <span class="ion-ios-refresh-empty"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title">Top Marketers Re-Use Content</h3>
                               <p class='text-left' style='margin:16px;'>The <b>top 1/3 of successfull marketers</b> will re-use or re-purpose their existing content to reach a larger target audience. </p>
                            </div>
                        </div>
                        <a href="#!" class="nk-btn-block nk-btn nk-btn-x4 nk-btn-circle nk-btn-3d nk-btn-color-success"><i class='ion ion-chatboxes' ></i> Let's Get Started! </a>
                        <div class="nk-gap-5"></div>
                    </div>
                </div>
            </div>
        </div>

