

<div class="nk-box">
    <div class='nk-gap-4'></div>
  <div class="bg-image-row row">
    <div class="col-lg-6">
      <div class="bg-image bg-image-parallax" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/stacked-images/Stack-Bundle.png');">
      </div>
    </div>
  </div>

    <div class="container">
         <div class="text-right text-main-8">
                <h4 class="nk-title-back">CONVERT MORE PROSPECTS</h4>
                <!-- <h4 class="nk-sub-title text-main-7">[Custom Creative On Demand]</h4> -->
                <div class='nk-gap-1'></div>
                <h2 class="nk-title display-4">Custom<span class='raleway-thinnest'>Converts</span></h2>
                <!-- <div class="nk-title-sep-icon">
                    <span class="icon">
                        <span class="ion-chatbubbles"></span>
                    </span>
                </div> -->
            </div>
      <div class="row" style='margin-left: 16px;'>

        <div class="ol-lg-5 offset-lg-7">
                  <!-- <div class="nk-gap-4"></div> -->
          <div class="row align-items-center">
           <!--  <h2 class="h1 nk-title"><span class='raleway'>NOMCRE</span>: </h2> -->
            <div class="nk-gap-1"></div>
            <div class="nk-ibox-2 nk-ibox-hover">
              <div class="nk-ibox-icon">
                  <span class="ion-ios-videocam-outline"></span>
              </div>
              <div class="nk-ibox-cont">
                  <h3 class="nk-ibox-title">Increase Website Conversions By Up To 165%+  </h3>
                   <p class='text-left' style="margin: 16px;">
                   According to Venture Harbor, websites with video convert almost <b>2x</b> higher when compared to images alone. <b> Nomadic Creative </b>'s  self service video creation platform lets you order new custom video worry free.
                   </p>
              </div>
              <div class="nk-gap-2"></div>
            </div>
            <div class="nk-ibox-2 nk-ibox-hover">
                <div class="nk-ibox-icon nk-ibox-icon-hover-color-main-2">
                    <span class="ion-arrow-graph-up-right"></span>
                </div>
                <div class="nk-ibox-cont">
                    <h3 class="nk-ibox-title"> Increase By Up To 65%+ What Your Audience Remembers </h3>
                   <p class='text-left' style="margin: 16px;">Not everyone makes a decision on the spot. According to LemonStand.com people were able to remember <b>65%</b> of the information they heard three days earlier when the facts were accompanied by a complimentary image. Without an image, they could recall only 10%.</p>
                </div>
                <div class="nk-gap-2"></div>
            </div>
            <div class="nk-ibox-2 nk-ibox-hover">
                <div class="nk-ibox-icon nk-ibox-icon-hover-color-main-3">
                    <span class="ion-ios-monitor-outline"></span>
                </div>
                <div class="nk-ibox-cont">
                    <h3 class="nk-ibox-title">Up To 64% Of Your Pospects Use Video To Decide</h3>
                     <p class='text-left' style="margin: 16px;"> According to Smartinsights.com <b>64%</b> of consumers say that watching a video on social media influenced them to make a purchase. With <b>Nomadic Creative</b>'s self-service custom content creation platform you could have professionally shot & edited branded videos just in a matter of days.
                    </p>
                </div>
            </div>
           <!--  <div class="nk-gap"></div> -->

             <a href="#book-a-demo-1" class="nk-btn-block nk-btn nk-btn-x4 nk-btn-circle nk-btn-3d nk-btn-color-success"><i class='ion ion-chatboxes' ></i> Let's Get Started! </a>
          </div>

        </div>

      </div>

    </div>


    <div class="nk-gap-4"></div>
  </div>


