<h4> Inspiration Boards </h4>
<%= link_to "Image Board 1", @proposal.image_board_1, target:"_blank" unless @proposal.image_board_1.nil? %>
<br>
<%= link_to "Image Board 2", @proposal.image_board_2, target:"_blank" unless @proposal.image_board_2.nil? %>
<br>
<%= link_to "Image Board 3", @proposal.image_board_3, target:"_blank" unless @proposal.image_board_3.nil? %>
<br>
<%= link_to "Image Board 4", @proposal.image_board_4, target:"_blank" unless @proposal.image_board_4.nil? %>
<br>

