<h1>Editing Happy Birthday Video</h1>

<%= render 'form', happy_birthday_video: @happy_birthday_video %>

<%= link_to 'Show', @happy_birthday_video %> |
<%= link_to 'Back', happy_birthday_videos_path %>
