<div class='row'>
  <% unless package_types.count == 0 %>
    <% package_types.each do |pt| %>
      <div class='col-md-4 text-center'>
        <%= link_to package_type_new_project_from_template_path(pt), class: 'btn btn-primary btn-block newProjectBtn' do %>
          <!-- TODO: Make this icon assignable -->
          <i class="fas fa-exclamation-circle fa-3x"></i>
          <br><br>
          <%= pt.title %>
          <br><br>
          <small><%= pt.subtitle %></small>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>


<% content_for :added_scripts do %>
<script type="text/javascript">
$('.newProjectBtn').click (function (e) {
   //e.preventDefault(); //will stop the link href to call the blog page

   setTimeout(function () {
       window.location.href = "/projects"; //will redirect to your blog page (an ex: blog.html)
       return false;
    }, 10000); //will call the function after 2 secs.

});
</script>
<% end %>
