<h1>Editing Shot List Item Template</h1>

<%= render 'form', shot_list_item_template: @shot_list_item_template %>

<%= link_to 'Show', @shot_list_item_template %> |
<%= link_to 'Back', shot_list_item_templates_path %>
