<style type="text/css">
  .alert{min-height: 141px;}
</style>
<div class='row'>
  <div class='col-md-4'>
    <%= render :partial => 'shoots/partials/black_dashboard/shoot_details_card', :locals => {shoot: shot_list_item.shoot, show_view_button: true} %>
    <br>
    <div class='text-center' style="padding-bottom: 12px;">
    <%= link_to 'Show', shot_list_item %> |
    <%= link_to 'Back', shot_list_items_path %>
    </div>
  </div>
  <div class='col-md-8'>
    <div class='card'>
      <div class='card-header'>
        <div class='card-title title text-primary'>
          <h1 class='text-primary'>Editing Shot List Item</h1>
        </div>
      </div>
      <hr>
      <div class='card-body'>
        <%= render 'form', shot_list_item: shot_list_item %>
      </div>
    </div>
  </div>
</div>




