/*
 *= require jquery-ui
 *= require black_dashboard/black-dashboard
 *= require black_dashboard/nucleo-icons.scss
 *= require_self
 */

 body{
  color: #848a9a;
 }

.tim-row {
  margin-bottom: 20px;
}

.tim-white-buttons {
  background-color: #777777;
}

.typography-line {
  padding-left: 25%;
  margin-bottom: 35px;
  position: relative;
  display: block;
  width: 100%;
}

.typography-line span {
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  position: absolute;
  width: 260px;
  text-transform: none;
}

.tim-row {
  padding-top: 60px;
}

.tim-row h3 {
  margin-top: 0;
}

.offline-doc .page-header:before {
  content: "";
  background: rgba(0, 0, 0, .75);
}

.offline-doc .page-header {
  display: flex;
  align-items: center;
}

.offline-doc .footer {
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}

#map {
  position: relative;
  width: 100%;
  height: 100vh;
}

.sidebar .nav li>a>span,
.off-canvas-sidebar .nav li>a>span{
  font-size: 0.72475rem;
}

hr{border-top: 1px solid gray}
.white-content  hr {
  border-top: 1px solid #d3dded
}

@media (min-width: 1200px) {
  .navbar-expand-xl>.container,
  .navbar-expand-xl>.container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}


.white-content .navbar.navbar-transparent .navbar-nav li a:not(.dropdown-item){
  color: #ba54f5;
}
