<% unless proposal.deposit_paid %>
  <div class="small-box bg-yellow">
    <div class="inner">
      <h3>Deposit Must Be Paid</h3>

      <p>Prior To Requesting Creatives</p>
    </div>
    <div class="icon">
      <i class="fa fa-certificate"></i>
    </div>
  </div>
<% end %>
