<div class="nk-box bg-gray-2">
  <div class="container">

    <div class="nk-gap-4"></div>
    <h1 class='text-center'> For 100 Images</h1>
    <h3 class='text-center'> (3 Months Of Content)</h3>
    <div class="nk-gap-4"></div>
    <div class="row vertical-gap">
      <div class="col-md-4 col-lg-4">
        <div class="nk-pricing-1">
          <div class="nk-pricing-price" style="font-size:50px;">
            $<span class="">5,000</span>
          </div>
          <h3 class="nk-pricing-title">Nomadic <br> Creative</h3>

          <div class="nk-gap-3"></div>
          <div class="nk-divider"></div>
          <div class="nk-gap-3"></div>

          <ul class="nk-pricing-features">
            <li><i class='ion-android-done' style='color: green;'></i> Custom Imagery </li>
            <li><i class='ion-android-done' style='color: green;'></i> HD Content </li>
            <li><i class='ion-android-done' style='color: green;'></i> Edited To Your Brand CI</li>
            <li><i class='ion-android-done' style='color: green;'></i> Choose Your Creator(s) </li>
            <li><i class='ion-android-done' style='color: green;'></i> Perpetual Exclusive Rights </li>
            <li><i class='ion-android-done' style='color: green;'></i> Guaranteed Delivery </li>
            <li><i class='ion-android-done' style='color: green;'></i> Live Chat With Creative </li>
            <li><i class='ion-android-done' style='color: green;'></i> Transparent Process </li>
          </ul>
          <div class="nk-pricing-cover bg-success"></div>
          <!-- <a href="#" class="nk-pricing-button">Purchase</a> -->
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="nk-pricing-1">
          <div class="nk-pricing-price" style="font-size:50px;">
            $<span class="">15,000</span>
          </div>
          <h3 class="nk-pricing-title">Getty <br>Custom</h3>

          <div class="nk-gap-3"></div>
          <div class="nk-divider"></div>
          <div class="nk-gap-3"></div>

          <ul class="nk-pricing-features">
            <li> <i class='ion-android-close' style='color: red;'></i> HD Images/Video </li>
             <li> <span><i class='ion-android-close' style='color: red;'></i></span> Perpetual Exclusive Rights</li>
            <li><span><i class='ion-android-close' style='color: red;'></i></span> Choose Your Creator(s)</li>
            <li><span><i class='ion-android-close' style='color: red;'></i></span> Guaranteed Delivery</li>
          </ul>

          <div class="nk-pricing-cover bg-danger"></div>
          <!-- <a href="#" class="nk-pricing-button">Purchase</a> -->
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="nk-pricing-1">
          <div class="nk-pricing-price" style="font-size:50px;">
            $<span class="">25,000</span>
          </div>
          <h3 class="nk-pricing-title">ShutterStock<br> OffSet</h3>

          <div class="nk-gap-3"></div>
          <div class="nk-divider"></div>
          <div class="nk-gap-3"></div>

          <ul class="nk-pricing-features">
            <li><span><i class='ion-android-close' style='color: red;'></i></span> Custom</li>
            <li><span><i class='ion-android-close' style='color: red;'></i></span> Video </li>
            <li><span><i class='ion-android-close' style='color: red;'></i></span> Edited To Your Brand CI</li>
            <li> <span><i class='ion-android-close' style='color: red;'></i></span> Perpetual Exclusive Rights</li>
          </ul>

          <div class="nk-pricing-cover bg-danger"></div>
          <!-- <a href="#" class="nk-pricing-button">Purchase</a> -->
        </div>
      </div>
    </div>
    <div class="nk-gap-4"></div>
  </div>
</div>
