<div class="nk-box text-center">
  <div class="nk-gap-4"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 push-md-8 text-md-right">
        <a href="#!" class="nk-btn nk-btn-x2 nk-btn-effect-3-left">
         <%= image_tag "https://s3-us-west-2.amazonaws.com/nomcre/assets/CTAbuttonBLACK.png", class: 'img-responsive', style:'max-width:200px;' %>
        </a>
      </div>
      <div class="col-md-8 pull-md-4 text-md-left">
      <div class="hidden-md-up"></div>
        <div style='padding-top: 24px;'>
        <h2 class="h1 nk-title">Get Started Now And Take Flight</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="nk-gap-4"></div>
</div>
