<div class="nk-box bg-gray-3">
    <div class="nk-gap-4"></div>
    <div class="container">

        <!-- START: Carousel 1 -->
        <div class="nk-carousel" >
            <div class="nk-carousel-inner">
                <div>
                    <div>
                        <blockquote class="nk-testimonial-2">
                            <div class="nk-testimonial-photo" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre/assets/1.png');"></div>
                            <div class="nk-testimonial-body">
                                <p>Submit your creative brief, tell us how you want the results to look and feel, and show us the imagery that most impresses you.</p>
                            </div>
                            <div class="nk-testimonial-name nk-carousel-item-name h4">Create A Brief</div>
                            <div class="nk-testimonial-name">Step One</div>
                        </blockquote>
                    </div>
                </div>
                <div>
                    <div>
                        <blockquote class="nk-testimonial-2">
                            <div class="nk-testimonial-photo" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre/assets/2.png');"></div>
                            <div class="nk-testimonial-body">
                                <em>Once we've got the details, we'll show you all of our talented creatives in the locations you've described.</em>
                            </div>
                            <div class="nk-testimonial-name nk-carousel-item-name h4">Select Your Creative</div>
                            <div class="nk-testimonial-name">Step Two</div>
                        </blockquote>
                    </div>
                </div>
                <div>
                    <div>
                        <blockquote class="nk-testimonial-2">
                            <div class="nk-testimonial-photo" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre/assets/3.png');"></div>
                            <div class="nk-testimonial-body">
                                <em>You pack it up, we share the shipping address with you, and then you send it on it's way.</em>
                            </div>
                            <div class="nk-testimonial-name nk-carousel-item-name h4">Send The Product</div>
                            <div class="nk-testimonial-name">Step Three</div>
                        </blockquote>
                    </div>
                </div>
                <div>
                    <div>
                        <blockquote class="nk-testimonial-2">
                            <div class="nk-testimonial-photo" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre/assets/4.png');"></div>
                            <div class="nk-testimonial-body">
                                <em>Once the creative receives the goods, you chat it over, and they shoot.</em>
                            </div>
                            <div class="nk-testimonial-name nk-carousel-item-name h4">Lights, Camera, Action</div>
                            <div class="nk-testimonial-name">Step Four</div>
                        </blockquote>
                    </div>
                </div>
                <div>
                    <div>
                        <blockquote class="nk-testimonial-2">
                            <div class="nk-testimonial-photo" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre/assets/5.png');"></div>
                            <div class="nk-testimonial-body">
                                <em>The shoot is completed, quality checked against your brief, and uploaded for your love. </em>
                            </div>
                            <div class="nk-testimonial-name nk-carousel-item-name h4">Link To Happiness</div>
                            <div class="nk-testimonial-name">Step Five</div>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="nk-carousel-prev">
                <div class="nk-carousel-arrow-name">
                    <!-- There Will be a Name of Testimonial Author -->
                </div>
                Previous
                <span class="nk-icon-arrow-left"></span>
            </div>
            <div class="nk-carousel-next">
                <div class="nk-carousel-arrow-name">
                    <!-- There Will be a Name of Testimonial Author -->
                </div>
                Next
                <span class="nk-icon-arrow-right"></span>
            </div>
        </div>
        <!-- END: Carousel 1 -->

    </div>
    <div class="nk-gap-4"></div>
</div>
