<div class="nk-box bg-dark-1 text-white">
            <div class="bg-image-row row">
                <div class="col-lg-6 offset-lg-6">
                    <div class="bg-image bg-image-parallax" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/vertical/nomcre-vertical4.jpg');"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="nk-gap-5"></div>
                        <h2 class="h1 nk-title">We Are: </h2>
                        <div class="nk-gap-2"></div>

                        <div class="nk-ibox-2">
                            <div class="nk-ibox-icon">
                                <span class="fa fa-globe"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title"><a href="#">Everywhere</a></h3>
                                <p class='text-left' style='margin:16px;'>Chicago to Cambodia, Alaska to Argentia, Istanbul to Iceland our creatives are everywhere you want to be</p>
                            </div>
                        </div>
                        <div class="nk-gap"></div>

                        <div class="nk-ibox-2">
                            <div class="nk-ibox-icon">
                                <span class="fa fa-trophy"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title"><a href="#">Extremely Selective</a></h3>
                                <p class='text-left' style='margin:16px;'>We only select the top talent. You pick the creative(s) that's right for you</p>
                            </div>
                        </div>
                        <div class="nk-gap"></div>

                        <div class="nk-ibox-2">
                            <div class="nk-ibox-icon">
                                <span class="fa fa-handshake-o"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title"><a href="#">With You The Whole Way</a></h3>
                               <p class='text-left' style='margin:16px;'>NOMCRE is built to keep you in the loop throughout the entire process: from creating the brief to final delivery we are an open book (or maybe a lookbook)</p>
                            </div>
                        </div>

                        <div class="nk-gap-5"></div>
                    </div>
                </div>
            </div>
        </div>
