

<div class="nk-box">
  <div class="bg-image-row row">
    <div class="col-lg-6">
      <div class="bg-image bg-image-parallax" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/vertical/nomcre-vertical8.jpg');">
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row" style='margin-left: 16px;'>

        <div class="ol-lg-5 offset-lg-7">
                  <div class="nk-gap-4"></div>
          <div class="row align-items-center">
            <h2 class="h1 nk-title"><span class='raleway'>NOMCRE</span>: </h2>
            <div class="nk-gap-4"></div>

            <div class="nk-ibox-2 nk-ibox-hover">
                <div class="nk-ibox-icon nk-ibox-icon-hover-color-main-2">
                    <span class="fa fa-tachometer"></span>
                </div>
                <div class="nk-ibox-cont">
                    <h3 class="nk-ibox-title"><a href="#">Is Super Fast (But Not Furious)</a></h3>
                   <p class='text-left' style="margin: 16px;">NOMCRE delivers you the content you need faster than you can schedule a meeting with an agency</p>
                </div>
                <div class="nk-gap-2"></div>
            </div>
            <div class="nk-ibox-2 nk-ibox-hover">
                <div class="nk-ibox-icon nk-ibox-icon-color-main-5 nk-ibox-icon-hover-color-main-3">
                    <span class="fa fa-heart"></span>
                </div>
                <div class="nk-ibox-cont">
                    <h3 class="nk-ibox-title"><a href="#">Has The Right Stuff</a></h3>
                     <p class='text-left' style="margin: 16px;">Get content that speaks directly to your clients. NOMCRE's pack of wild creators roam the globe for you</p>
                </div>
            </div>
            <div class="nk-gap"></div>
            <div class="nk-ibox-2 nk-ibox-hover">
                <div class="nk-ibox-icon nk-ibox-icon-hover-color-main-2">
                    <span class="fa fa-hand-rock-o"></span>
                </div>
                <div class="nk-ibox-cont">
                    <h3 class="nk-ibox-title"><a href="#">Stays Hustlin'</a></h3>
                     <p class='text-left' style="margin: 16px;">Our creatives can hustle up a shoot, find models + assistants in any country because of the strength of "The NOMCRE Way"</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nk-gap-4"></div>
  </div>
