<div class="row no-gutters">
            <div class="col-md-4">
                <div class="nk-ibox-4 bg-dark-1 text-white height-100">
                    <div class="nk-gap"></div>
                    <div class="nk-ibox-4">
                        <div class="nk-ibox-icon">
                            <span class="fa fa-globe"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">We Are Everywhere</a></h3>
                            <p style='margin:24px;'>Chicago to Cambodia, Alaska to Argentina, Istanbul to Iceland our creatives are everywhere you want to be</p>
                        </div>
                    </div>
                    <div class="nk-gap"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-ibox-4 bg-dark-2 text-white height-100">
                    <div class="nk-gap"></div>
                    <div class="nk-ibox-4 height-100">
                        <div class="nk-ibox-icon nk-ibox-icon-color-main-1" >
                            <span class="fa fa-trophy"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Only The Best</a></h3>
                            <p style='margin:24px;'>We select only the top talent. You pick the creative(s) that's right for you</p>
                        </div>
                    </div>
                    <div class="nk-gap"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-ibox-4 bg-dark-3 text-white height-100">
                    <div class="nk-gap"></div>
                    <div class="nk-ibox-4 height-100">
                        <div class="nk-ibox-icon nk-ibox-icon-color-main-2">
                            <span class="fa fa-handshake-o"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">We're With You The Whole Way </a></h3>
                            <p style='margin:24px;'>NomCre is built to keep you in the loop throughout the entire process. From creating the brif to final delivery we are an open book (or maybe a lookbook)</p>
                        </div>
                    </div>
                    <div class="nk-gap"></div>
                </div>
            </div>
        </div>
