<div class="form-group">
  <div class="box-header with-border">
    <h3 class="box-title" style='padding-left: 6px'>Creative Brief</h3>
  </div>
  <%= f.text_area :content, class: 'form-control', placeholder: '3000 words or less', maxlength: 15000, rows: 25 %>
</div>
