<div class="form-group">
  <div class="box-header with-border">
    <h4 class="box-title">Creative Brief</h4>
  </div>
  <%= f.text_area :content, class: 'form-control', placeholder: '3000 words or less', maxlength: 15000, rows: 25 %>
</div>
