<div class="box box-info">
  <div class="box-header with-border">
    <h4 class="box-title">Deadline</h4>
  </div>
  <div style="margin:12px; padding-bottom: 12px;">
    <%= f.date_select :deadline, class: 'form-control' %>
  </div>
</div>
