<div class="box box">
  <div class="box-header with-border">
    <h4 class="box-title"> File Format </h4>
  </div>
  <div class='form-control'>
    <%= f.check_box :raw, class:'icheck-me', :data => {:skin => 'square', :color => 'green'} %>
  <%= f.label :shoot_in_raw? %>
  </div>
</div>
