<div class="panel box">
  <div class="box-header with-border">
    <h4 class="box-title"> Instagram Inspriation Accounts </h4>
  </div>
  <div style='padding:24px; max-width: 400px;'>

    <div class='row'>
      <div class='col-md-1' style='margin-right: 0px'>@</div>
      <div class='col-md-11'>
        <%= f.text_field :instagram_1, class: 'form-control', placeholder: 'Instagram User Name' %>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-1'>@</div>
      <div class='col-md-11'>
        <%= f.text_field :instagram_2, class: 'form-control', placeholder: 'Instagram User Name' %>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-1'>@</div>
      <div class='col-md-11'><%= f.text_field :instagram_3, class: 'form-control', placeholder: 'Instagram User Name' %></div>
    </div>
    <div class='row'>
      <div class='col-md-1'>@</div>
      <div class='col-md-11'><%= f.text_field :instagram_4, class: 'form-control', placeholder: 'Instagram User Name' %></div>
    </div>
  </div>
</div>
