<%= form_for(@proposal) do |f| %>
  <div class="has-feedback">
    <%= f.label :model_release %><br>
    <%= f.file_field :model_release, class: '' %>
    <span class='fa fa-picture-o form-control-feedback'></span>
  </div>
  <%= f.submit "Save File", class: 'btn btn-primary' %>
<% end %>
