<% if params[:q] == 'list' %>
<div class="card">
  <div class="card-header">
    <h4 class="card-title">
      Projects
      <%= render 'shared/black_dashboard/buttons/list_card_toggle' %>
    </h4>
  </div>
  <div >
    <br>
    <%= render :partial => 'projects/partials/black_dashboard/index/list', :locals => {:projects => projects} %>
  </div>
</div>
<% else %>
<div class="card">
  <div class="card-header">
    <h4 class="card-title">
    Projects
    <%= render 'shared/black_dashboard/buttons/list_card_toggle' %>
  </h4>
  </div>
  <div style="background: #F5F6FA">
    <br>
    <% unless projects.first.nil? %>
      <% show_payment_buttons = current_user.company == projects.first.company ? true : false  %>
    <% end %>
    <%= render :partial => 'projects/partials/black_dashboard/index/cards', :locals => {:projects => projects, show_view_link: true, show_payment_buttons: true} %>
  </div>
</div>
<% end %>


