<div class='row'>
  <div class='col-sm-12 col-md-4 col-lg-4 col-xl-4'>
    <% show_payment_buttons = !current_user.company.nil? ? true : false %>
    <%= render :partial => 'projects/partials/black_dashboard/shared/details_card', :locals=> {project: project, show_header: false, show_content: true, show_payment_buttons: show_payment_buttons, show_edit_button: true, show_delete_button: true} %>
  </div>
  <div class='col-sm-12 col-md-8 col-lg-8 col-xl-8'>
    <div class='row'>
      <div class='col-md-10'></div>
      <div class='col-md-2'>
      <%= link_to new_project_shoot_path(project), class: 'btn btn-success btn-simple' do %>
        <i class="fas fa-plus"></i> Add Shoot
      <% end %>
      </div>
      <br><br>
    </div>
    <div class='row'>
      <% project.shoots.each do |shoot| %>
        <div class='col-sm-12 col-md-6 col-lg-6 col-xl-6'>
          <%= render :partial => 'shoots/partials/black_dashboard/shoot_details_card', :locals => {shoot: shoot, show_view_button: true} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
