<div class='row'>
  <div class='col-sm-12 col-md-4 col-lg-4 col-xl-4'>
    <% show_add_shoot =  (current_user.company == project.company && !project.deposit_is_paid) || current_user.is_admin %>
    <% show_payment_buttons = !current_user.company.nil? ? true : false %>
    <%= render :partial => 'projects/partials/black_dashboard/shared/details_card', :locals=> {project: project, show_header: false, show_content: true, show_payment_buttons: show_payment_buttons, show_edit_button: true, show_delete_button: true, show_add_shoot_button: show_add_shoot} %>
  </div>
  <div class='col-sm-12 col-md-8 col-lg-8 col-xl-8'>
    <div class='row'>
      <% project.shoots.each do |shoot| %>
        <div class='col-sm-12 col-md-6 col-lg-6 col-xl-6'>
          <%= render :partial => 'shoots/partials/black_dashboard/shoot_details_card', :locals => {shoot: shoot, show_view_button: true} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
