<% if project.project_tasks.count == 0 %>
  <% percent_complete =0 %>
<% else %>
  <% task_count = project.project_tasks.count.to_f %>
  <% completed_tasks = project.project_tasks.where(completed: true).count %>
  <% percent_complete = ((completed_tasks / task_count) * 100).to_i%>
<% end %>
<div class="progress-container progress-primary">
    <span class="progress-badge">Progress</span>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent_complete %>%;">
            <span class="progress-value"><%= percent_complete %>%</span>
        </div>
    </div>
</div>

