
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id='preloader' >
            <div class='loader' >
                <img src="img/preloader.gif" width="50" alt="">
            </div>
        </div><!-- Preloader -->

    <header id="header" class="header_section">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="nav-btn navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="brand logo-dark"><img src="img/logo.png" alt="Aperture"></a>
          </div>
          <div id="navbar" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav nav-menu">
                            <li class="active"><a data-scroll href="#home">Home <span class="sr-only">(current)</span></a></li>
              <li><a data-scroll href="#about">About</a></li>
              <li><a data-scroll href="#service">Service</a></li>
              <li><a data-scroll href="#photos">Gallery</a></li>
              <li><a data-scroll href="#testimonial">Reviews</a></li>
              <li><a data-scroll href="#blog">News</a></li>
              <li><a data-scroll href="#contact">Contact</a></li>
                        </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </nav><!-- Navigation Bar -->
    </header> <!-- Header -->


        <div id="home" class="slider-section camera-full">
            <div id="main-slider" class="camera_wrap camera-full camera_emboss pattern_1">
                <div data-src="img/slide-1.jpg"></div>
                <div data-src="img/slide-2.jpg"></div>
                <div data-src="img/slide-3.jpg"></div>
            </div>
        </div><!-- slider-section -->

        <section id="about" class="about_section padding">
      <div class="container">
                <div class="about_content">
                    <div class="col-sm-6 xs-padding img_box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1000ms">
                        <div class="about_img">
                            <img src="img/profile.jpg" alt="About">
                            <h2 class="mb-20">Michel Brown Smith</h2>
                            <p>Photographer | Cinematographer</p>
                        </div>
                    </div>
                    <div class="col-sm-6 xs-padding text_box xs-text-center wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
                        <h2>Some Words About Me</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        <a href="#" class="fs_btn">Contact Me</a>
                    </div>
                </div>
      </div>
    </section><!-- /.about_section -->


    <section id="service" class="service_section bg-dark padding">
      <div class="container">
        <div class="service_items">
          <div class="col-sm-4 col-xs-6 xs-padding">
            <div class="service_item wow bounceIn" data-wow-delay="0ms" data-wow-duration="1000ms">
              <i class="icon-mobile"></i>
              <h3 class="text-white">Full Responsive</h3>
              <p>Lorem ipsum dolor sit amet consectetur ipsum dolor sit amet consectetur adipisicing form Quisquam eveniet.</p>
            </div>
          </div>
          <div class="col-sm-4 col-xs-6 xs-padding">
            <div class="service_item wow bounceIn" data-wow-delay="200ms" data-wow-duration="1000ms">
              <i class="icon-tools"></i>
              <h3 class="text-white">Clean Design</h3>
              <p>Lorem ipsum dolor sit amet consectetur ipsum dolor sit amet consectetur adipisicing form Quisquam eveniet.</p>
            </div>
          </div>
          <div class="col-sm-4 col-xs-6 xs-padding">
            <div class="service_item wow bounceIn" data-wow-delay="400ms" data-wow-duration="1000ms">
              <i class="icon-linegraph"></i>
              <h3 class="text-white">Pixel Perfect</h3>
              <p>Lorem ipsum dolor sit amet consectetur ipsum dolor sit amet consectetur adipisicing form Quisquam eveniet.</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /.service_section -->
    <section id="photos" class="protfolio_section padding">
            <div class="container-fluid">
                <div class="text-center mb-40">
                    <h2>Recent Photographs</h2>
                    <p>Our services will provide marketing expertise to your business.</p>
                </div><!-- section-heading -->
                <div class="portfolio_wrapper minus-mlr">
                    <div class="col-sm-4 col-xs-6 no-padding">
                        <div class="portfolio_box img-w1">
                            <a href="img/gallery-1.jpg" class="img_popup">
                                <img src="img/gallery-1.jpg" alt="Portfolio">
                            </a>
                        </div>
                    </div><!-- portfolio 1 -->
                    <div class="col-sm-4 col-xs-6 no-padding">
                        <div class="portfolio_box img-w1">
                            <a href="img/gallery-2.jpg" class="img_popup">
                                <img src="img/gallery-2.jpg" alt="Portfolio">
                            </a>
                        </div>
                    </div><!-- portfolio 2 -->
                    <div class="col-sm-4 col-xs-6 no-padding">
                        <div class="portfolio_box img-w1">
                            <a href="img/gallery-3.jpg" class="img_popup">
                                <img src="img/gallery-3.jpg" alt="Portfolio">
                            </a>
                        </div>
                    </div><!-- portfolio 3 -->
                    <div class="col-sm-4 col-xs-6 no-padding">
                        <div class="portfolio_box img-w1">
                            <a href="img/gallery-4.jpg" class="img_popup">
                                <img src="img/gallery-4.jpg" alt="Portfolio">
                            </a>
                        </div>
                    </div><!-- portfolio 4 -->
                    <div class="col-sm-4 col-xs-6 no-padding">
                        <div class="portfolio_box img-w1">
                            <a href="img/gallery-5.jpg" class="img_popup">
                                <img src="img/gallery-5.jpg" alt="Portfolio">
                            </a>
                        </div>
                    </div><!-- portfolio 5 -->
                    <div class="col-sm-4 col-xs-6 no-padding">
                        <div class="portfolio_box img-w1">
                            <a href="img/gallery-6.jpg" class="img_popup">
                                <img src="img/gallery-6.jpg" alt="Portfolio">
                            </a>
                        </div>
                    </div><!-- portfolio 6 -->
                    <div class="col-sm-4 col-xs-6 no-padding">
                        <div class="portfolio_box img-w1">
                            <a href="img/gallery-7.jpg" class="img_popup">
                                <img src="img/gallery-7.jpg" alt="Portfolio">
                            </a>
                        </div>
                    </div><!-- portfolio 7 -->
                    <div class="col-sm-4 col-xs-6 no-padding">
                        <div class="portfolio_box img-w1">
                            <a href="img/gallery-8.jpg" class="img_popup">
                                <img src="img/gallery-8.jpg" alt="Portfolio">
                            </a>
                        </div>
                    </div><!-- portfolio 8 -->
                    <div class="col-sm-4 col-xs-6 no-padding">
                        <div class="portfolio_box img-w1">
                            <a href="img/gallery-9.jpg" class="img_popup">
                                <img src="img/gallery-9.jpg" alt="Portfolio">
                            </a>
                        </div>
                    </div><!-- portfolio 9 -->
                </div>
            </div>
        </section><!-- /.protfolio_section -->

<section class="counter_section padding">
            <div class="container">
                <div class="col-md-3 col-xs-6 sm-padding">
                    <div class="counter_box">
                        <h3><span class="counter">536</span></h3>
                        <h4 class="no-margin">Finished Project</h4>
                    </div>
                </div><!-- counter 1 -->
                <div class="col-md-3 col-xs-6 sm-padding">
                    <div class="counter_box">
                        <h3><span class="counter">633</span></h3>
                        <h4 class="no-margin">Happy Client</h4>
                    </div>
                </div><!-- counter 2 -->
                <div class="col-md-3 col-xs-6 sm-padding">
                    <div class="counter_box">
                        <h3><span class="counter">721</span></h3>
                        <h4 class="no-margin">Working Hours</h4>
                    </div>
                </div><!-- counter 3 -->
                <div class="col-md-3 col-xs-6 sm-padding">
                    <div class="counter_box">
                        <h3><span class="counter">20</span></h3>
                        <h4 class="no-margin">Award Won</h4>
                    </div>
                </div><!-- counter 4 -->
            </div>
        </section><!-- counter_section -->

        <section id="pricing" class="pricing_section padding">
      <div class="container">
        <div class="section_heading align-center mb-40">
          <h2>Photography Packages</h2>
          <p>Our services will provide marketing expertise to your business.</p>
        </div><!-- /.section_heading -->
        <ul class="pricing_list">
          <li class="col-md-4 col-xs-6 sm-padding wow flipInY" data-wow-delay="0ms" data-wow-duration="1000ms">
            <div class="pricing_info align-center">
              <img src="../pricing-1.jpg" alt="pricing Thumb">
              <h3>Wedding Package | $49</h3>
                            <p>Short Description.</p>
                            <ul class="pricing_item mb-20">
                <li>1 Photographer</li>
                <li>Unlimited Photo Capture</li>
                <li>4 Hour Continuous Shotting</li>
                <li>Photo Album</li>
              </ul>
                            <a href="#" class="fs_btn">Purchase</a>
            </div>
          </li>
          <li class="col-md-4 col-xs-6 sm-padding wow flipInY" data-wow-delay="200ms" data-wow-duration="1000ms">
            <div class="pricing_info align-center">
              <img src="/pricing-2.jpg" alt="pricing Thumb">
              <h3>Outdore Package | $99</h3>
                            <p>Short Description.</p>
                            <ul class="pricing_item mb-20">
                <li>2 Photographer</li>
                <li>Unlimited Photo Capture</li>
                <li>4 Hour Continuous Shotting</li>
                <li>Photo Album</li>
              </ul>
                            <a href="#" class="fs_btn">Purchase</a>
            </div>
          </li>
          <li class="col-md-4 col-xs-6 sm-padding wow flipInY" data-wow-delay="400ms" data-wow-duration="1000ms">
            <div class="pricing_info align-center">
              <img src="/pricing-3.jpg" alt="pricing Thumb">
              <h3>Studio Package | $249</h3>
                            <p>Short Description.</p>
                            <ul class="pricing_item mb-20">
                <li>1 Photographer</li>
                <li>Unlimited Photo Capture</li>
                <li>4 Hour Continuous Shotting</li>
                <li>Photo Album</li>
              </ul>
                            <a href="#" class="fs_btn">Purchase</a>
            </div>
          </li>
        </ul>
      </div>
    </section><!-- /.pricing_section -->


    <section id="testimonial" class="testimonial_section padding">
            <div class="container">
                <div class="heading align-center mb-40">
                    <h2>What People Says</h2>
                    <p>Our services will provide marketing expertise to your business.</p>
                </div><!-- /.heading -->
                <div id="testi_carousel" class="testimonial_items owl-carousel fs_dots">
                    <div class="testi_item align-center bd-grey">
                        <img src="img/testi-1.jpg" alt="client thumb" class="client_thumb">
                        <p>Lorem ipsum dolor sit amet consetur adipisicing elit. Ullam vel iusto reicndis nesciunt laborum labsam nisi!</p>
                        <h4>Jonathan Smith</h4>
                        <ul class="ratings star-5">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div><!-- testimonial 1 -->
                    <div class="testi_item align-center bd-grey">
                        <img src="img/testi-2.jpg" alt="client thumb" class="client_thumb">
                        <p>Lorem ipsum dolor sit amet consetur adipisicing elit. Ullam vel iusto reicndis nesciunt laborum labsam nisi!</p>
                        <h4>Angelina Rose</h4>
                        <ul class="ratings star-5">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div><!-- testimonial 2 -->
                    <div class="testi_item align-center bd-grey">
                        <img src="img/testi-3.jpg" alt="client thumb" class="client_thumb">
                        <p>Lorem ipsum dolor sit amet consetur adipisicing elit. Ullam vel iusto reicndis nesciunt laborum labsam nisi!</p>
                        <h4>Michel Brown</h4>
                        <ul class="ratings star-5">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div><!-- testimonial 3 -->
                    <div class="testi_item align-center bd-grey">
                        <img src="img/testi-4.jpg" alt="client thumb" class="client_thumb">
                        <p>Lorem ipsum dolor sit amet consetur adipisicing elit. Ullam vel iusto reicndis nesciunt laborum labsam nisi!</p>
                        <h4>Veera Pamela</h4>
                        <ul class="ratings star-5">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div><!-- testimonial 4 -->
                    <div class="testi_item align-center bd-grey">
                        <img src="img/testi-5.jpg" alt="client thumb" class="client_thumb">
                        <p>Lorem ipsum dolor sit amet consetur adipisicing elit. Ullam vel iusto reicndis nesciunt laborum labsam nisi!</p>
                        <h4>Stephen Roberts</h4>
                        <ul class="ratings star-5">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div><!-- testimonial 5 -->
                    <div class="testi_item align-center bd-grey">
                        <img src="img/testi-6.jpg" alt="client thumb" class="client_thumb">
                        <p>Lorem ipsum dolor sit amet consetur adipisicing elit. Ullam vel iusto reicndis nesciunt laborum labsam nisi!</p>
                        <h4>Alena Jetle</h4>
                        <ul class="ratings star-5">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div><!-- testimonial 6 -->
                    <div class="testi_item align-center bd-grey">
                        <img src="img/testi-7.jpg" alt="client thumb" class="client_thumb">
                        <p>Lorem ipsum dolor sit amet consetur adipisicing elit. Ullam vel iusto reicndis nesciunt laborum labsam nisi!</p>
                        <h4>Adam Brandon</h4>
                        <ul class="ratings star-5">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div><!-- testimonial 7 -->
                </div>
            </div>
        </section><!-- /.testimonial_section -->
        <section id="blog" class="blog_section padding">
      <div class="container">
        <div class="section_heading align-center mb-40">
          <h2>Recent Blog news</h2>
          <p>Our services will provide marketing expertise to your business.</p>
        </div><!-- /.section_heading -->
        <ul class="blog_posts">
          <li class="col-md-4 col-xs-6 sm-padding wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1000ms">
            <div class="blog_content">
              <img src="img/blog-1.jpg" alt="Blog Post">
              <h4><a href="#">I have a personal blog. Can you take a look at it and give me some tips?</a></h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries.</p>
              <a href="#" class="read_more">Read More</a>
            </div>
          </li>
          <li class="col-md-4 col-xs-6 sm-padding wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1000ms">
            <div class="blog_content">
              <img src="img/blog-2.jpg" alt="Blog Post">
              <h4><a href="#">I have a personal blog. Can you take a look at it and give me some tips?</a></h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries.</p>
              <a href="#" class="read_more">Read More</a>
            </div>
          </li>
          <li class="col-md-4 col-xs-6 sm-padding wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
            <div class="blog_content">
                    <img src="img/blog-3.jpg" alt="Blog Post">
              <h4><a href="#">I have a personal blog. Can you take a look at it and give me some tips?</a></h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries.</p>
              <a href="#" class="read_more">Read More</a>
            </div>
          </li>
        </ul><!-- /.blog_posts -->
      </div>
    </section><!-- /.blog_Section -->
    <section id="contact" class="contact_section padding">
            <div class="container">
                <div class="col-sm-6 xs-padding">
                    <div class="contact_info">
                        <i class="fa fa-phone"></i>
                        <h3>Have Any Doubts?</h3>
                        <h2 class="wow bounceIn" data-wow-delay="0ms" data-wow-duration="1000ms">Call Me Now</h2>
                        <p>This Number is Toll Free <br>443 221 2234</p>
                    </div>
                </div>
                <div class="col-sm-6 xs-padding">
          <div class="contact_wrap">
             <div class="section_heading">
               <h2>Contact With Us</h2>
               <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
             </div>
                        <form action="contact.php" method="post" id="ajax_form" class="form-horizontal contact_form">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <input type="text" id="name" name="name" class="form-control" placeholder="Name" required>
                                </div>
                                <div class="col-sm-6">
                                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <textarea id="message" name="message" cols="30" rows="5" class="form-control msg" placeholder="Message" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 align-left">
                                    <button id="submit" class="fs_btn" type="submit">Send Message</button>
                                </div>
                            </div>
                            <div id="form-messages" class="alert" role="alert"></div>
                        </form>
                    </div>
                </div>
            </div>
        </section><!-- /.contact_section -->

        <div id="flickr-feed" class="flickr-feeds"></div><!-- /.flickr-feeds -->

    <section class="footer_widget_section padding ">
      <div class="container">
                <div class="align-center">
                    <h2 class="text-white">Aperture Photography</h2>
                    <p class="mb-20 xs-br-none">Lorem Ipsum is simply dummy text of the printing and typesetting <br> industry. It has survived not only five centuries but also the leap into <br> electronic photography business typesetting.</p>
                    <ul class="footer_socials">
                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="social_facebook"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="social_twitter"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="social_googleplus"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="social_pinterest"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="social_linkedin"></i></a></li>
                    </ul>
                </div>
      </div>
    </section><!-- /.footer_widget_section -->

    <footer class="footer_section">
      <p>&copy; 2017 Aperture Powered by Alexatheme.</p>
    </footer><!-- /.footer_section -->

    <a data-scroll href="#header" id="scroll-to-top"><i class="arrow_carrot-up"></i></a>
