<footer class="main-footer">
  <div class='text-center'>
    NOMADIC CREATIVE™ <a href="https://nomcre.com">@NomCre</a> © 2017-2018 All Rights Reserved.
    <div class="pull-right hidden-xs">
    <b>Version</b> 0.0.01
  </div>
  </div>



</footer>
