<% if !defined? proposal %>
  <% proposal = Proposal.new %>
<% end %>

<% if !defined? shoot %>
  <% shoot = Shoot.new %>
<% end %>
<div class="modal fade" id="assistantFormModal" tabindex="-1" role="dialog" aria-labelledby="Document Form" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add A New Assistant </h5>
      </div>
      <div class="modal-body text-center">
        <%= render :partial => 'assistants/partials/black_dashboard/form',
                   :locals => {:assistant => Assistant.new,
                               :proposal => proposal,
                               :shoot => shoot
                             } %>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

