<blockquote class="nk-testimonial-2 bg-dark-1 text-white" style='margin-top: 0px; border-radius: 0px'>

    <div class="nk-testimonial-name h1 "><span class='text-main-1'>99%</span> <span class='h4'> of Zack Weiner's from Coral Springs are the Tits!</span></div>
    <div class="nk-testimonial-body">
        <div class="lead">"This is the context or inferences from the statistic below"</div>
    </div>
    <div class="">Zack Weiner, Nomadic Creative</div>
</blockquote>
