<div class="nk-box bg-gray-3 text-center">
  <div class="nk-gap-4"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <!-- <h2 class="nk-title">Benefits</h2> -->
        <h3 class="nk-sub-title" style='font-size: 24px;'>TITLE</h3>
        <div class="nk-gap-2"></div>
        <p style="text-align:justify">Paragraph 1</p>

        <p style="text-align:justify"> Paragraph 2</p>

        <div class="nk-gap-2"></div>
        <div class='text-center'>
          <a href="https://calendly.com/nomcre/intro/" target="_blank" class="nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-circle nk-btn-color-dark-1">
            <span class="icon"><i class="ion-ios-monitor-outline"></i></span>
            Meet With Us
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="nk-gap-4"></div>
</div>

