<blockquote class="nk-testimonial-3 bg-main-5 text-white">
    <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-woman-3.jpg');"></div>
    <div class="nk-testimonial-body">
        <em>"Yielding be was which heaven fill fruit. You'll shall doesn't green. His divided they're of won't you isn't void cattle."</em>
    </div>
    <div class="nk-testimonial-name h4">Tiffany Elliott</div>
    <div class="nk-testimonial-source">Copywriter, Dropbox</div>
</blockquote>
