<div class="nk-box bg-dark-1 text-white">
  <div class="bg-image-row row">
    <div class="col-lg-6">
      <div class="bg-image bg-image-parallax" style="background-image: url('https://s3-us-west-2.amazonaws.com/nomcre/assets/homepage/images/horizontal/nomcre-horizontal6.JPG');">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 offset-lg-7">
        <div class="nk-gap-5"></div>
        <h2 class="h1 nk-title">How Can [Division] Use Video?</h2>
        <div class="nk-gap-1"></div>

        <p class='text-left'> This is a paragraph of text. This is a paragraph of text.This is a paragraph of text. This is a paragraph of text. This is a paragraph of text. This is a paragraph of text. This is a paragraph of text. This is a paragraph of text. This is a paragraph of text. This is a paragraph of text. This is a paragraph of text. This is a paragraph of text. This is a paragraph of text.
        </p>
        <div class="nk-gap-2"></div>
        <div class='row'>

          <div class='col-md-6 lead' style="font-size:16px; font-weight: 400;">
            <ul>
              <li>Some shit With More Words and a second line</li>
              <li>Some shit With More Words </li>
              <li>Some shit With More Words </li>
            </ul>
          </div>
          <div class='col-md-6 lead' style="font-size:16px; font-weight: 400;">
            <ul>
              <li>Other shit With More Words </li>
              <li>Other shit With More Words </li>
              <li>Other shit With More Words </li>
            </ul>
          </div>
        </div>
        <div class="nk-gap-5"></div>
      </div>
    </div>
  </div>
</div>
