<blockquote class="nk-testimonial-3">
    <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-1.jpg');"></div>
    <div class="nk-testimonial-body">
        <em>"Years heaven. Dominion light and every appear that creeping all. Light gathering don't given made give open, cattle was light."</em>
    </div>
    <div class="nk-testimonial-name h2">Antonio Vargas</div>
    <div class="nk-testimonial-source">CEO, Envato</div>
</blockquote>

