<div class="card card-subcategories card-plain">
  <div class="card-header">
    <h4 class="card-title text-center mt-5">Locations</h4>
    <br>
  </div>
  <div class="card-body">

    <ul class="nav nav-pills nav-pills-primary nav-pills-icons justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#link7">
          <i class="tim-icons "> <ion-icon name="map"> </ion-icon> </i>New Country
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#link8">
          <i class="tim-icons"><ion-icon name="pin"> </ion-icon></i> New City
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#link9">
          <i class="tim-icons"><ion-icon name="list"> </ion-icon></i> Show All
        </a>
      </li>
    </ul>
    <div class="tab-content tab-space tab-subcategories">
      <div class="tab-pane active" id="link7">
        <%= render 'locations/country'%>
      </div>
      <div class="tab-pane" id="link8">
        <%= render 'locations/city'%>
      </div>
      <div class="tab-pane" id="link9">
        <div class='row' >

        <%= Location.location_names_by_region.html_safe %>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
