<div class='row'>
  <div class='col-md-6'>
       <h2>  Add A New Country </h2>
      <%= render 'locations/country'%>
      <br>
      <h2> OR || </h2>
      <h2> Add A New City </h2>
      <%= render 'locations/city'%>
  </div>
  <div class='col-md-6'>
    <%= Location.location_names_by_region.html_safe %>
  </div>
</div>
