<style type="text/css">
@media only screen and (min-width: 750px) {
   ul > h1 {font-weight: 200; color: white; padding-top: 10%; font-size:18px;}
  .col-sm-4 > h4 {font-weight: 200; text-align: left; }
  .bordered {border-left-width: 1px; border-color: #2196F3!important;}
  .green{color: green;}
  .red{color: red;}
  .centered {text-align: center}
}
@media only screen and (max-width: 749px) {
   ul > h1 {font-weight: 400; color: white; padding-top: 35%; font-size:12px; vertical-align: bottom}
  .col-sm-4 > h4 {font-weight: 200; text-align: left; }
  .bordered {border-left-width: 1px; border-color: #2196F3!important;}
  .green{color: green;}
  .red{color: red;}
  .centered {text-align: center}
}

</style>
<section class="features_table">
  <div class="container bg-gray-1">
    <div class='row' style="background-color: grey; border-radius: 10px 10px 0px 0px">
      <div class="col-sm-4 col-4 col-xs-12 ">
        <div class="">
        <ul>
          <h1 >Features</h1>
        </ul>
      </div>
      </div>
      <div class="col-sm-2 col-2 col-xs-12 no-padding">
        <div class="">
          <ul>
            <h1 class='centered' style='padding-top:36px'>In-House</h1>
          </ul>
        </div>
      </div>
      <div class="col-sm-2 col-2 col-xs-12 no-padding">
        <div class="">
          <ul>
            <h1 class='centered' style='padding-top:36px'>Stock</h1>
          </ul>
        </div>
      </div>
      <div class="col-sm-2 col-2 col-xs-12 no-padding">
         <div class="">
            <ul>
                <h1 class='centered' style='padding-top:36px'>Agency</h1>
            </ul>
          </div>
      </div>
      <div class="col-sm-2 col-2 col-xs-12 no-padding">
         <div class="">
            <ul>
                <h1 class='centered' style='padding-top:36px'>Nomcre</h1>
            </ul>
          </div>
        </div>
    </div>
    <div class='row'>
      <div class='nk-gap'></div>
    </div>
    <div class="row">
       <div class="col-sm-4 col-4 col-xs-12 ">
        <h4> On Demand </h4>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered ">
         <span class='fa fa-check green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-check green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-times red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-check green'> </span>
       </div>
    </div>
    <div class="row bg-gray-3">
       <div class="col-sm-4 col-4 col-xs-12 ">
        <h4> Global</h4>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered  centered">
         <span class='fa fa-times red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-check green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-check green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-check green'> </span>
       </div>
    </div>
    <div class="row">
       <div class="col-sm-4 col-4 col-xs-12 ">
        <h4> Fast </h4>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered ">
         <span class='fa fa-times red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-check green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-times red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-check green'> </span>
       </div>
    </div>
    <div class="row bg-gray-3">
       <div class="col-sm-4 col-4 col-xs-12 ">
        <h4> Custom </h4>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered ">
         <span class='fa fa-check green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-check green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-times red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-check green'> </span>
       </div>
    </div>
    <div class="row">
       <div class="col-sm-4 col-4 col-xs-12 ">
        <h4> Editing </h4>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered ">
         <span class='fa fa-check green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-times red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-check green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-check green'> </span>
       </div>
    </div>
    <div class="row bg-gray-3">
       <div class="col-sm-4 col-4 col-xs-12 ">
        <h4> Onsite Coms </h4>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered  centered">
         <span class='fa fa-check green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-times red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-check green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-check green'> </span>
       </div>
    </div>
    <div class="row">
       <div class="col-sm-4 col-4 col-xs-12 ">
        <h4> Legal Risks </h4>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered  centered">
         <span class='fa fa-check green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-times red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-check green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-check green'> </span>
       </div>
    </div>
    <div class="row bg-gray-3">
       <div class="col-sm-4 col-4 col-xs-12 ">
        <h4> Concurrent Locations </h4>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered  centered">
         <span class='fa fa-times red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-check green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-times red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='fa fa-check green'> </span>
       </div>
    </div>
  </div>
</section>


