<style type="text/css">
@media only screen and (min-width: 750px) {
   ul > h1 {font-weight: 400; color: white; padding-top: 10%; font-size:18px;}
  .col-sm-4 > h4 {font-weight: 400; text-align: left; }
  .bordered {border-left-width: 1px; border-color: #2196F3!important;}
  .green{color: green;}
  .red{color: red;}
  .centered {text-align: center}
}
@media only screen and (max-width: 749px) {
   ul > h1 {font-weight: 400; color: white; padding-top: 35%; font-size:14px; vertical-align: bottom;}
  .col-sm-4 > h4 {font-weight: 400; text-align: left; font-size:16px;}
  .bordered {border-left-width: 1px; border-color: #2196F3!important;}
  .green{color: green;}
  .red{color: red;}
  .centered {text-align: center}
  .nk-title-back{display: none;}
}
.col-sm-4 > h4 {margin-top: 12px;}
.col-2 > span {margin-top: 16px;}
.ion-android-done{font-size:32px;}
.ion-android-close{font-size:32px;}
</style>
<section class="features_table">
  <div class="nk-gap-2"></div>
  <div class="container">

            <div class="text-center">
                <!-- <h3 class="nk-title-back raleway" style='font-weight: 400;'>Comparison Chart</h3> -->
                <h2 class="nk-title h1">How Do We Stack Up?</h2>
                <div class="nk-title-sep-icon">
                    <span class="icon"><span class="ion-android-checkbox-outline"></span></span>
                </div>
            </div>

    <div class='row' style="background-color: grey; border-radius: 10px 10px 0px 0px">
      <div class="col-sm-4 col-4 col-xs-12 ">
        <div class="">
        <ul>
          <h1 class='pad'>Features</h1>
        </ul>
      </div>
      </div>
      <div class="col-sm-2 col-2 col-xs-12 no-padding">
        <div class="">
          <ul>
            <h1 class='centered' style='padding-top:36px'>In-House</h1>
          </ul>
        </div>
      </div>
      <div class="col-sm-2 col-2 col-xs-12 no-padding">
        <div class="">
          <ul>
            <h1 class='centered' style='padding-top:36px'>Stock</h1>
          </ul>
        </div>
      </div>
      <div class="col-sm-2 col-2 col-xs-12 no-padding">
         <div class="">
            <ul>
                <h1 class='centered' style='padding-top:36px'>Agency</h1>
            </ul>
          </div>
      </div>
      <div class="col-sm-2 col-2 col-xs-12 no-padding">
         <div class="">
            <ul>
                <h1 class='centered' style='padding-top:24px'><%= image_tag "https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/logos/FullLogo.png", class: 'img-fluid', style: 'max-width:42px' %></h1>
            </ul>
          </div>
        </div>
    </div>
    <div class='row'>
      <div class='nk-gap'></div>
    </div>
    <div class="row">
       <div class="col-sm-4 col-4 col-xs-12 ">
        <h4> Self-Service </h4>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered ">
         <span class='ion-android-done green' aria-hidden="true"> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-done green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-close red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-done green'> </span>
       </div>
    </div>
    <div class="row bg-gray-3">
       <div class="col-sm-4 col-4 col-xs-12 ">
        <h4 style=''> Global</h4>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered  centered">
         <span class='ion-android-close red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-done green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-done green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-done green'> </span>
       </div>
    </div>
    <div class="row">
       <div class="col-sm-4 col-4 col-xs-12 ">
        <h4> Fast </h4>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered ">
         <span class='ion-android-close red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-done green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-close red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-done green'> </span>
       </div>
    </div>
    <div class="row bg-gray-3">
       <div class="col-sm-4 col-4 col-xs-12 ">
        <h4> Custom </h4>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered ">
         <span class='ion-android-done green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-close red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-done green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-done green'> </span>
       </div>
    </div>
    <div class="row">
       <div class="col-sm-4 col-4 col-xs-12 ">
        <h4> Editing </h4>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered ">
         <span class='ion-android-done green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-close red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-done green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-done green'> </span>
       </div>
    </div>
    <div class="row bg-gray-3">
       <div class="col-sm-4 col-4 col-xs-12 ">
        <h4> Onsite Coms </h4>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered  centered">
         <span class='ion-android-done green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-close red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-done green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-done green'> </span>
       </div>
    </div>
    <div class="row">
       <div class="col-sm-4 col-4 col-xs-12 ">
        <h4> Mitigates Legal Risks </h4>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered  centered">
         <span class='ion-android-done green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-close red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-done green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-done green'> </span>
       </div>
    </div>
    <div class="row bg-gray-3">
       <div class="col-sm-4 col-4 col-xs-12 ">
        <h4> Concurrent Locations </h4>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered  centered">
         <span class='ion-android-close red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-done green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-close red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-done green'> </span>
       </div>
    </div>
    <div class="row">
       <div class="col-sm-4 col-4 col-xs-12 ">
        <h4> Transparent Process </h4>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered  centered">
         <span class='ion-android-done green'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-close red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-close red'> </span>
       </div>
       <div class="col-sm-2 col-2 col-xs-12 bordered centered">
         <span class='ion-android-done green'> </span>
       </div>
    </div>
  </div>
  <div class='nk-gap-2'></div>
</section>


