<footer class="nk-footer nk-footer-parallax nk-footer-parallax-opacity">

            <div class="bg-image">
                <div ></div>
            </div>


            <div>
                <div class="nk-gap"></div>
                <div class="nk-footer-logo">
                    <a href="#">
                        <img src="https://s3-us-west-2.amazonaws.com/nomcre/logos/UpperLeftHPlogo+2.png" alt="" width="70">
                    </a>
                </div>

                <div class="nk-gap-2"></div>

                <div class="nk-footer-social">
                    <a href="http://instagram.com/nomadiccreative" target='_blank'><i class="fa fa-instagram"></i></a>
                    <a href="https://facebook.com/nomadiccreative" target='_blank'><i class="fa fa-facebook"></i></a>
                    <a href="https://www.behance.net/nomadiccreative"><i class="fa fa-behance" target='_blank'></i></a>
                    <a href="https://vimeo.com/nomcre"><i class="fa fa-vimeo" target='_blank'></i></a>
                </div>
            </div>
        <div class="nk-copyright">
        <div class="container text-center">
            NOMADIC CREATIVE™ <a href="http://nomcre.com" target="_blank">NOMCRE.com</a> © 2017-2018 all rights reserved

        </div>
    </div>
        </footer>
        <!-- END: Footer -->
