<!-- START: Partners -->
<div class="nk-box text-center">
    <div class="nk-gap-1"></div>
    <div class="container">
        <div class="nk-carousel-2 nk-carousel-x5 nk-carousel-no-margin nk-carousel-all-visible" data-autoplay="5000">
            <div class="nk-carousel-inner">
                <div>
                    <div>
                        <a href="#">
                            <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/ClientLogosGrey/maverick.png" alt="" class="nk-img-fit">
                        </a>
                    </div>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/ClientLogosGrey/Aparium.png" alt="" class="nk-img-fit">
                        </a>
                    </div>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/ClientLogosGrey/Rock.png" alt="" class="nk-img-fit">
                        </a>
                    </div>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/ClientLogosGrey/arctica.png" alt="" class="nk-img-fit">
                        </a>
                    </div>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/ClientLogosGrey/hama.png" alt="" class="nk-img-fit">
                        </a>
                    </div>
                </div>
                <div>
                    <div>
                        <a href="#">
                            <img src="https://s3-us-west-2.amazonaws.com/nomcre-rails/public-page-images/ClientLogosGrey/rlc.png" alt="" class="nk-img-fit">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-gap-1"></div>
</div>
<!-- END: Partners -->


