<div class="nk-box bg-dark-1">
            <div class="container">
                <div class="nk-gap-4"></div>
                <div class="row vertical-gap">
                    <div class="col-md-4">
                        <div class="nk-pricing-2">
                            <div class="nk-pricing-header">
                                <div class="bg-image op-6" style="background-image: url('<%= CollectionItem.all.take(3).last.file %>');"></div>
                                <div class="nk-pricing-price">
                                    <span class="nk-pricing-currency">$</span>34
                                    <span class="nk-pricing-period">/ mo</span>
                                </div>
                                <h3 class="nk-pricing-title">Startup License</h3>
                            </div>

                            <div class="nk-pricing-body">
                                <ul class="nk-pricing-features">
                                    <li>1 GB HDD</li>
                                    <li>Support at $25/hour</li>
                                    <li>Limited cloud access</li>
                                </ul>

                                <div class="nk-pricing-button">
                                    <a href="#" class="nk-btn nk-btn-block nk-btn-circle nk-btn-x2 nk-btn-effect-5-left nk-btn-color-dark-4">Purchase</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="nk-pricing-2">
                            <div class="nk-pricing-header">
                                <div class="bg-image op-6" style="background-image: url('<%= CollectionItem.all.take(4).last.file %>');"></div>
                                <div class="nk-pricing-price">
                                    <span class="nk-pricing-currency">$</span>99
                                    <span class="nk-pricing-period">/ mo</span>
                                </div>
                                <h3 class="nk-pricing-title">Business License</h3>
                            </div>

                            <div class="nk-pricing-body">
                                <ul class="nk-pricing-features">
                                    <li>15 GB SSD</li>
                                    <li>Support at $5/hour</li>
                                    <li>Full cloud access</li>
                                </ul>

                                <div class="nk-pricing-button">
                                    <a href="#" class="nk-btn nk-btn-block nk-btn-circle nk-btn-x2 nk-btn-effect-5-left nk-btn-color-dark-4">Purchase</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="nk-pricing-2">
                            <div class="nk-pricing-header">
                                <div class="bg-image op-6" style="background-image: url('<%= CollectionItem.all.take(5).last.file %>');"></div>
                                <div class="nk-pricing-price">
                                    <span class="nk-pricing-currency">$</span>199
                                    <span class="nk-pricing-period">/ mo</span>
                                </div>
                                <h3 class="nk-pricing-title">Enterprise License</h3>
                            </div>

                            <div class="nk-pricing-body">
                                <ul class="nk-pricing-features">
                                    <li>35 GB SSD RAID0</li>
                                    <li>Free Lifetime Support</li>
                                    <li>Full cloud access</li>
                                </ul>

                                <div class="nk-pricing-button">
                                    <a href="#" class="nk-btn nk-btn-block nk-btn-circle nk-btn-x2 nk-btn-effect-5-left nk-btn-color-dark-4">Purchase</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-gap-4"></div>
            </div>
        </div>
