<header class="nk-header">



<!--
START: Top Contacts

Additional Classes:
.nk-contacts-top-light
-->
<div class="nk-contacts-top">
  <div class="container">
    <div class="nk-contacts-left">
      <div class="nk-navbar">
        <!-- <ul class="nk-nav">
          <li>
            <% link_to "mailto:takeflight@nomcre.com" do %>
            <span class="nk-contact-icon"><i class="fa fa-envelope"></i></span>
            takeflight@nomcre.com
          <% end %>
          </li>
        </ul> -->
      </div>
      </div>
      <div class="nk-contacts-right">
      <div class="nk-navbar">
      <ul class="nk-nav">
      <li>
      <a href="http://instagram.com/nomadiccreative" class="nk-contact-icon" target='_blank'>
      <span class="fa fa-instagram"></span>
      </a>
      </li>
      <li>
      <a href="https://facebook.com/nomadiccreative" target="_blank" class="nk-contact-icon">
      <span class="fa fa-facebook"></span>
      </a>
      </li>
      <!-- <li>
      <a href="https://www.behance.net/nomadiccreative" target="_blank" class="nk-contact-icon">
      <span class="fa fa-behance-square"></span>
      </a>
      </li> -->
      <li>
      <a href="https://vimeo.com/nomcre" class="nk-contact-icon" target='_blank'>
      <span class="fa fa-vimeo"></span>
      </a>
      </li>
      </ul>
      </div>
    </div>
  </div>
</div>

<%= render 'khaki/nomcre/navigation'%>
</header>


