/* PLACE YOU CUSTOM STYLES IN THIS FILE */
.thin{
  font-weight: 200px;
}

.raleway{
  font:raleway;
}

.raleway-bold{
  font-family: raleway;
  font-weight: 800;
}
.raleway-thin{
  font-family: raleway;
  font-weight: 200;
}
.raleway-thinnest{
  font-family: raleway;
  font-weight: 100;
}



.nk-header-title{
  max-height: 500px;
}


.nk-dropcap-4 {
    margin-right: 15px;
    margin-top: 6px;
    font-size: 2rem;
    background-color: #fff;
    color:#1c1c1c;
}


.height-100{
  height:100%;

}

.side-margin-24{
  margin-left: 24px;
  margin-right: 24px;
}

.nk-header-title .nk-header-table {
    padding-top: 137px;
}
