<h1>Editing Package Type</h1>

<div class='row'>
  <div class='col-md-6'>
    <%= render 'form', package_type: @package_type %>
  </div>
  <div class='col-md-6'>
    <%= render :partial => 'admin/black_dashboard/project/accordian', :locals => {projects: @package_type.projects.where(is_template: true)} %>
  </div>
</div>



<%= link_to 'Show', @package_type %> |
<%= link_to 'Back', package_types_path %>
