<div class='card'>
  <div class='card-header'>
    <div class='card-title'>
      Tasks
    </div>
  </div>
  <div class='card-body'>
    <% if current_user.user_type == UserType.company %>
      <% unless tasks.nil? %>
        <%= render :partial => 'dashboards/partials/black_dashboard/company/tasks', :locals => {tasks: tasks} %>
      <% end %>
    <% elsif current_user.user_type == UserType.creative %>
      <% unless tasks.nil? %>
        <%= render :partial => 'dashboards/partials/black_dashboard/creative/tasks', :locals => {tasks: tasks} %>
      <% end %>
    <% else %>
      Admin
    <% end %>
  </div>
</div>

