<% if !defined? show_view_link %>
  <% show_view_link = false %>
<% end %>
<% if !defined? show_payment_buttons %>
  <% show_payment_buttons = false %>
<% end %>

<div class='row'>
  <% projects.each do |project| %>
   <%= render :partial => 'projects/partials/black_dashboard/shared/card', :locals => {:project => project, show_view_link: show_view_link, show_payment_buttons: show_payment_buttons} %>
  <% end %>
</div>
